[2019-07-23 15:34] kkasravi opened #1 "Create new repo for kfctl"
see references
- https://www.dropbox.com/s/g1p563kq1thzuoj/kfctl_v0.6.0-0-g71aea0a9_darwin.tar.gz?dl=0
- https://kubeflow.slack.com/archives/CF94DURGF/p1563891031002800?thread_ts=1563823972.000500&cid=CF94DURGF

Description

- [ ] Move kfctl from under kubeflow/kubeflow/bootstrap/kfctl to a new repo.
- [ ] Update references in the source code and go.mod

Related issues should be moved to the repo

[2019-07-26 16:03] kkasravi opened #2 "Provide support for hardware accelerators"
kfctl provides a fixed configuration for gpu's when using gcp under $KFAPP/gcp_config but doesn't provide for variations in the machineType, cpuType (Broadwell, Skylake), imageType (cos or ubuntu) or alternate accelerators as discussed [here](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus)

There should be a generic way to add these resources to a cluster based on the cloud provider,

[2019-07-31 11:30] kkasravi opened #3 "Unable to set webhooks"
In order to set webhooks I need to be admin of the repo.

[2019-07-31 11:30] kkasravi commented on #3
/assign @jlewi

[2019-07-31 21:00] #1 closed

[2019-08-08 17:34] krishnadurai opened #6 "Integrate Self Signed Cert tooling for Dex Auth's Manifest implementation"
/kind feature

Currently, the tooling is committed to manifests and its docs folders. This should be automated as a part of kfctl and applied to Dex based installations.

/assign @krishnadurai

[2019-08-14 17:15] jlewi opened #7 "Make kubeflow/kfctl source of truth for kfctl development; turn down kfctl in kubeflow/kubeflow"
Opening this issue to track migrating development of kfctl from kubeflow/kubeflow to kubeflow/kfctl

@kkasravi What are the next steps here? Are we waiting on E2E tests to be migrated to kubeflow/kfctl?

/assign @kkasravi

[2019-08-16 07:18] kkasravi commented on #7
Yes, I need to add the tests and fix the error you noted where we are actually running e2e on Kubeflow/kubeflow

[2019-08-21 15:33] kkasravi opened #12 "create e2e test to ensure rerunning kfctl apply a 2nd time works kubeflow/kubeflow#3810"
issue kubeflow/kubeflow#3810 is

Running kfctl apply k8s fails on 2nd application #3810

[2019-08-26 01:17] jlewi commented on #7
@kkasravi Any update on this? When do you think we should migrate development over from kubeflow/kubeflow to kubeflow/kfctl?

It would be great to do this well in advance of trying to cut 0.7.

[2019-08-27 21:35] amygdala opened #15 "small tweak to kfctl init usage msg: clarify local path for --config"
I found that when passing a local file to the `--config` arg, I needed to use the full path (otherwise, got this error: `relative paths require a module with a pwd`). The usage info doesn't indicate that clearly enough.  Instead of:

[code]

we might want to show something like `--config=/your/local/path/to/kfctl_platform_gcp.yaml`
The repo README should be updated as well if so.

[2019-09-04 17:36] jlewi commented on #7
@kkasravi any update?

[2019-09-04 18:49] kkasravi commented on #7
@jlewi

There is are several pending PRs that we should merge
- #16 sync with kubeflow/bootstrap
- #17 prow fix to build kfctl and run in the right repo
- #11 add kfctl_k8s_istio config in presubmit tests

#17 I'm working on - should be ready today sometime
#11 is dependent on #17
#16 can be merged

[2019-09-04 21:26] jlewi commented on #7
Fantastic. Once we start switching over to kubeflow/kfctl; I think we'll need to update the kubeflow/manifests tests?

[2019-09-04 22:18] gabrielwen opened #18 "KFCTL 1.0 tracking"
# Requirements
| Descriptions | Category | Status | Issue
|--------------|----------|--------|------
| Upgradability | Required | **WIP** | kubeflow/kubeflow#3727
| New semantics for KFCTL (build/apply) | Required | **DONE** | #19
| Backward compatibility for KfDef | Required | **DONE** | kubeflow/kubeflow#4002
| Reconcile for KFCTL | Recommended | **NOT_STARTED** | kubeflow/kubeflow#4056
| Plugin

[2019-09-04 22:20] gabrielwen commented on #18
/priority p1

[2019-09-04 22:21] gabrielwen commented on #18
/assign @gabrielwen

[2019-09-04 22:28] kkasravi commented on #7
@jlewi yep - we'll need to
- remove kfctl tests in kubeflow/kubeflow that are redundant.
- update manifests/tests/workflows/

[2019-09-04 22:38] gabrielwen commented on #18
/area kfctl

[2019-09-04 22:38] gabrielwen commented on #18
/area kfctl

[2019-09-04 22:38] gabrielwen commented on #18
/kind feature

[2019-09-04 22:39] gabrielwen commented on #18
/area kfctl

[2019-09-04 23:27] gabrielwen opened #19 "Kfctl implements new semantics tracking"
- [ ] Add a new flag `-f` #20
- [ ] `-f` takes both local and remote files #21
- [ ] Implements `build` #22
- [ ] Implements `apply` #23

[2019-09-04 23:29] gabrielwen opened #20 "Implements flag -f"
Need to add a new flag `-f` and possibly deprecate flags regarding to `app.yaml`

[2019-09-04 23:31] gabrielwen opened #21 "`-f` takes both local and remote files"
new flag `-f` should takes as input both local files and remote files.

[2019-09-04 23:32] gabrielwen opened #22 "Implements `build`"
Implements `build` cmd for new semantics.

[2019-09-04 23:33] gabrielwen opened #23 "Implements `apply`"
Needs to implement `kfctl apply -f` for the new semantics.

[2019-09-04 23:48] gabrielwen opened #24 "New KFCTL CI/CD tracking"

[2019-09-04 23:50] gabrielwen opened #25 "Add E2E test for new semantics"
Need to update E2E test to use new semantics.

[2019-09-04 23:52] gabrielwen opened #26 "Unit testing for all codes"
Tracking to make sure test coverage looks good.

[2019-09-04 23:59] gabrielwen opened #27 "Define kfctl release process and E2E tests on release candidates"
We should define what should do/check during the release and how to make sure release candidates are covered by tests to prevent further glitches.

[2019-09-05 00:02] gabrielwen commented on #18
@jlewi @kkasravi @yanniszark I created this umbrella issue to track the status of kfctl v1beta1.  Please feel free to update anything that I missed or you could also comment here and I'll update it.

[2019-09-05 03:20] swiftdiaries commented on #7
/cc @swiftdiaries

[2019-09-09 21:26] jlewi commented on #7
@kkasravi It looks like #16 and #17 have been merged. Does this mean we are ready to start moving development to kubeflow/kfctl?

[2019-09-09 22:11] kkasravi commented on #7
Yes.

I’ve also moved config over to manifests.
We should probably switch over to that in the same timeframe. I’ll ping you on that PR later today.

[2019-09-10 13:28] jlewi commented on #7
@kkasravi Do you want to send a note to kubeflow-discuss so we can get a heads up to all folks working on kfctl who might have changes in flight? Do we also want to try to identify any PRs in flight that will be impacted?

[2019-09-10 13:28] jlewi commented on #7
/cc @swiftdiaries @gabrielwen

[2019-09-10 18:38] kkasravi commented on #7
done - https://groups.google.com/forum/#!topic/kubeflow-discuss/2T-iiDCb5Q0

[2019-09-12 01:01] jlewi commented on #7
Thanks @kkasravi so can you provide some detail here about the plan

1. When are we going to switch to make kubeflow/kfctl the source of truth?
1. Are we planning on deleting kubeflow/kubeflow/bootstrap to try to make it clear to folks that source of truth is now kubeflow/kfctl
1. Is there going to be some sort of transition period during which PRs could be submitted to both repositories?
    * Co

[2019-09-13 04:42] frankzhao opened #33 "Default profile with underscore in username is not DNS compliant"
If a user's email address contains an underscore, it is not escaped and this is not DNS compliant for creating the default profile during deployment.

[code]

[2019-09-16 18:41] jlewi commented on #7
Here's a recipe for patching commits to kubeflow/kubeflow into kfctl

1. On kubeflow/kubeflow generate a patch for the specified commit e.g

[code]

    * This will output a patch file

1. Now apply the patch to kubeflow/kfctl

[code]

    * The reject option means git will skip any patches that can't be applied cleanly

       * This will probably happen for changes to imports
       * Reject fil

[2019-09-16 18:47] jlewi commented on #7
Here's a list of PRs with kfctl in the name

[code]

[2019-09-16 19:48] jlewi commented on #7
Here's a proposal (from @abhi-g )

* Until we are ready to cut the v0.7-branch and RC for kfctl, kubeflow/kubeflow remains the source of truth
* When we are ready to cut the v0.7-branch
  * Perform one last sync of kubeflow/kubeflow to kubeflow/kfctl
  * Cut the v0.7-branch and build the RC from kubeflow/kfctl
* At this point kubeflow/kfctl is the source of truth
* Any PRs that end up being commit

[2019-09-17 01:18] jlewi opened #35 "E2E test for kfctl upgrade"
/kind feature

Creating a separate issue to track adding an E2E test for kfctl upgradability.

kubeflow/kubeflow#3727 is the uber tracking issue for supporting upgrades.

/cc @richardsliu
/assign @jlewi

[2019-09-17 01:20] jlewi commented on #35
Here's my initial thought.

An E2E test probably looks like the folling

1. Build kfctl
1. Deploy v0X
1. Test Kubeflow is ready
1. Upgrade Kubeflow
1. Verify Kubeflow is ready

So we will need to make the following changes.

* Create a new py_func E2E test based on our existing ksonnet tests
* Split kfctl_go_test.py into two steps
  * Build the kfctl binary
  * Deploy kubeflow

I will probably sta

[2019-09-17 17:49] gabrielwen commented on #26
looks like we don't run `go test` during presubmits.

[2019-09-19 18:32] jlewi opened #36 "Split kfctl_go_test.py into separate python functions for building and deploying kubeflow"
Right now we have a single python file
https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kfctl_go_test.py

That does two things

1. Builds kfctl
1. Deploys kfctl

We will probably want to split those into two separate python functions to make it more composable.

One use case for composability is to create an E2E test for upgradability (#35). In that E2E test we will want to build kfc

[2019-09-20 00:26] nrchakradhar commented on #36
@jlewi I can take a shot at this. I need to spend some time to understand the flow before attempting changes. If its not urgent, I can try to submit a PR.
My current understanding is as below:

- Create kfctl_go_build_test.py and kfctl_go_deploy_test.py.

- Move the build and deploy code to the appropriate files from

3) Modify

to include separate steps for build and deploy.

In #35, there is men

[2019-09-20 14:15] nrchakradhar commented on #36
@jlewi
Should I start a PR in the kfctl repo or in the kubeflow repo. I understand that currently there is duplication in these repos. Based on your advice, I will start.

[2019-09-20 15:06] jlewi commented on #35
Update:
  * I have a draft PR #4148 to port the kfctl E2E test workflow to python.
  * Once that PR is submitted I can work on using that as the basis of an E2E test for kfctl upgrade.

[2019-09-20 18:09] jlewi commented on #36
@nrchakradhar I'll need this next week so if you could take a stab at this that would be great.

Yes. Although it may be easier to fork kfctl_go_build_test.py into a new script kfctl_build_test.py this way we can check in those files without having to update the E2E test.

Updating the E2E test to use the new scripts is blocked on kubeflow/kubeflow#4148 which replaces kfctl_go_test.jsonnet with a

[2019-09-21 15:00] nrchakradhar commented on #36
@jlewi I started with the first refactor with [PR#4170](https://github.com/kubeflow/kubeflow/pull/4170).
PTAL
If this is fine, I will take up further modifications after merging this. Does that sound reasonable?

[2019-09-23 14:38] jlewi commented on #36
@nrchakradhar sounds great. I LGTM'd your first PR this morning.

[2019-09-25 21:13] jlewi commented on #12
I'm bumping this to P0 for 0.7.

#3810 was a big issue for 0.6 and we should ensure we have an E2E test to verify this is fixed in 0.7.

[2019-09-25 21:15] jlewi commented on #12
#36 is going to split kfctl_go_test.py into separate tests for building and deploying kubeflow. After that issue it should be relatively straightforward to add a step to our E2E workflow to rerun apply and verify that it doesn't error out.

[2019-09-25 23:24] jlewi commented on #36
@nrchakradhar How's it going splitting up kfctl_go_test.py into two separate steps?

We can split the code into two separate function/modules now. But lets wait until after kubeflow/kubeflow#4148 is merged before updating the workflow to run two steps instead of 1.

[2019-09-26 00:13] nrchakradhar commented on #36
@jlewi I am https://github.com/kubeflow/kubeflow/pull/4148 following your PR, I will start today with changes and try to submit a PR.

[2019-09-26 13:23] nrchakradhar commented on #36
@jlewi I just created a PR https://github.com/kubeflow/kubeflow/pull/4187 to separate build and deploy. PTAL.

[2019-09-26 23:47] jlewi opened #40 "Create pytest to verify that KSA and GSA are set correctly for workload identity manager"
In 0.7 we are enabling identity workload management on GKE.

As part of this when we create profiles we want to correctly bind GCP service accounts to KSAs.

kubeflow/kubeflow#3917 will update the profile controller to support this.

We also have code in kfctl to do this for the default namespace.

We should create a pytest that checks that the KSA and GSA for the newly created namespaces are corr

[2019-09-28 17:33] jlewi opened #42 "endpoint_test_is_ready is failing pretty consistently"
endpoint_test_is_ready is failing pretty consistently.

One of the recent problems was we were running out of SSL certificate quota but that should be fixed.

Filing this bug to track the failure.

[2019-10-04 21:07] swiftdiaries commented on #25
/assign @swiftdiaries
PR: https://github.com/kubeflow/kubeflow/pull/4232

[2019-10-05 02:46] swiftdiaries commented on #21
this is done in: https://github.com/kubeflow/kubeflow/pull/4040
/close

[2019-10-05 02:46] #21 closed

[2019-10-05 02:46] swiftdiaries commented on #23
this is done in: https://github.com/kubeflow/kubeflow/pull/4040

[2019-10-05 02:46] swiftdiaries commented on #23
/close

[2019-10-05 02:47] #23 closed

[2019-10-05 02:47] swiftdiaries commented on #20
`-f` flag has been implemented but the references to `app.yaml` needs to be removed.

[2019-10-08 20:09] wdhorton opened #43 "Cannot build from master with Dockerfile"
Steps:
clone `kfctl`
`cd kfctl`
`docker build .`

I get this error:
[code]

I'm on commit `51703d5a77b371e4bc9f262f86caf549ae32a03b`

I suspect it might be because its downloading the v0.6.2 release of `kubeflow/kubeflow`?

[code]

[2019-10-08 21:15] yanniszark commented on #43
@wdhorton this is still a mirror of kubeflow/kubeflow/bootstrap, which is the source of truth.
We should probably make a note of that in the README.
/cc @kkasravi

[2019-10-09 21:21] #25 closed

[2019-10-09 22:52] jlewi opened #44 "kustomize.go should modify the kustomization.yaml file"
Right now kfctl overwrites the kustomization.yaml file
https://github.com/kubeflow/kubeflow/blob/6f6e3e93cbea1f268a8be9767ee24c2ef505bd2b/bootstrap/pkg/kfapp/kustomize/kustomize.go#L1102

Should we change this to instead support modifying a kustomization.yaml file.

Right now our KFDef files are duplicating a bunch of information; e.g. every application in every KFDef file needs to list common ove

[2019-10-10 03:13] jlewi opened #45 "kfctl fails because directory not empty if run on kfctl apply"
There is a bug in kfctl and currently if you do the following

[code]

It will fail because the directory ${KFAPP} is non empty. Similarly if you try to rerun kfctl apply from ${KFAPP} it will fail because the directory isn't empty.

The problem is in the implementation of how kfctl gets the appDir. The desired semantics of

[code]

are

* If  the value of  ${KFDEF} is a local file path; then we s

[2019-10-10 03:14] jlewi commented on #45
## Workaround

To work around this put ${KFDEF} in a different directory then ${KFAPP} e.g.

[code]

[2019-10-10 23:10] zhenghuiwang commented on #45
/assign @zhenghuiwang

[2019-10-11 05:33] jlewi commented on #45
@zhenghuiwang I think @richardsliu PR kubeflow/kubeflow#4115 fixed this. I think we just need to build and verify that.

[2019-10-11 05:36] jlewi opened #46 "Create kf-user secret for backwards compatibility even if workload identity is enabled"
In 0.7.0 we are enabling workloadIdentity by default. Nonethless I think we should continue to create the secret kf-user in the Kubeflow namespaces and the profile namespaces.

e.g. in kfctl
https://github.com/kubeflow/kubeflow/blob/6739cd076d8dd9911ce40b44137a98b2a68efcca/bootstrap/pkg/kfapp/gcp/gcp.go#L1591

and in the profile controller

This is mainly to provide backwards compatibility with co

[2019-10-11 05:39] jlewi opened #47 "Stop creating kf-user GCP secret in 0.8.0 and 1.0"
Now that workload identity is enabled by default we should no longer have to install GCP secrets as K8s secrets in the cluster.

For 0.7 we continued to create the kf-user secret (see #46) for backwards compatibility.

We want to remove that in the next release since downloading secrets is unsafe.

We need to remove the secret creation in kfctl and profile controller.

[2019-10-11 06:17] jlewi opened #48 "[GCP] Workload identity not working; gke metadata server getting killed for failing liveness probe"
I deployed 0.7.0 which uses GCP workload identity.

Per the [instructions](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) I tried to verify workload identity was working by starting a container

[code]

I then run

[code]

Which should print out my service but doesn't most of the time. It succeeds intermittently; otherwise it print out

[code]

The GKE metadata server is

[2019-10-11 06:42] jlewi commented on #48
This appears to be known issue with 1.14.6-gke.13
Current recommendation is to downgrade to 	1.14.6-gke.2

[2019-10-11 06:50] jlewi commented on #48
Command to downgrade the master (you need to downgrade the master not the nodes).

[code]

[2019-10-11 08:18] jlewi opened #49 "kfctl apply -f doesn't work with relative path; can't rerun on app.yaml"
Using commit:  6739cd076d8dd9911ce40b44137a98b2a68efcca

[code]

My expectation would be that it uses the directory of kfctl_gcp_iap.yaml

We have lots of bugs about the kfctl semantics; can we refactor the code to make it easy to write a unittest that verifies all the different use cases?

/cc @swiftdiaries

[2019-10-11 09:15] jlewi commented on #49
The logic in NewLoadKFAppFromURi
https://github.com/kubeflow/kubeflow/blob/6739cd076d8dd9911ce40b44137a98b2a68efcca/bootstrap/pkg/kfapp/coordinator/coordinator.go#L388

Looks like buggy and messy. The order in which it does this things (setting default values), CreateKfAppCfgFile looks brittle.

CreateKfAppCfgFile should only need to be called in the case of a remote URI; if its a local file then

[2019-10-11 10:05] jlewi commented on #49
https://github.com/kubeflow/kubeflow/pull/4275

[2019-10-11 19:19] zhenghuiwang commented on #45
@jlewi I tried to reproduce/verify the issue. I think https://github.com/kubeflow/kubeflow/pull/4115 fixes the dir checking problem mentioned. I think another problem is caused by some checks that `spec.project` and `spec.zone` shouldn't be empty.

I set the following (but not in the `plugin[0].spec`)
[code]
and find things worked. (Also I guess if you pickup my changes on setting default project

[2019-10-12 00:44] jlewi opened #50 "Presubmits failing for basic auth timeout waiting for backend-updater to be ready"
Example PR:
https://github.com/kubeflow/kubeflow/pull/4275#issuecomment-541259889

[2019-10-12 00:59] jlewi commented on #50
Looking at the events for the backend-updater-pod it is crashing.

Logs for the pod show

[code]

Why is this only basic auth and not IAP?

Is this happening in postsubmits?

[2019-10-12 01:02] jlewi commented on #50
On master it looks like the recent run of periodic succeeded
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-master/1182776231863521280

[2019-10-12 04:51] jlewi commented on #50
Its possible this is related to the break in GKE with workload identity.
kubeflow/kfctl#48

Although I don't know why it would only be showing up in basic_auth tests and not IAP.

[2019-10-12 04:53] jlewi commented on #50
It looks ike the periodic master runs our stale.
Last run is from 10-11 18:57 pdt
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

[2019-10-12 18:16] jlewi commented on #50
Looks like this is fixed by kubeflow/manifests#498 which pins to  1.14.6-gke.2

[2019-10-12 18:16] #50 closed

[2019-10-12 18:20] jlewi commented on #48
Filed kubeflow/manifests#508 to track unpinning.

[2019-10-12 18:38] jlewi commented on #45
I think @richardsliu 's PR partially fixed this but we also need kubeflow/kubeflow#4275

[2019-10-12 23:46] jlewi opened #52 "kfctl should set name if not set based on the directory"
If  `metadata.Name` isn't set in `KFDef` spec isn't set then kfctl should try to infer it based on the directory of the config file.

This matches the semantics of 0.6 which used the directory name to infer name.

Furthermore this allows us to do something like this

[code]
And get a deployment named ${KFAPP}

After we update kfctl we will need to update the KFDef files to remove Name so that we t

[2019-10-13 00:12] jlewi commented on #52
kfctl changes are in kubeflow/kubeflow#4287

[2019-10-14 21:03] #45 closed

[2019-10-15 13:36] jlewi opened #53 "[Cleanup] Can KfDef converters just rely on YAML serialization?"
The code for convertering KFConfig to a KFDef relies on custom conversion code
https://github.com/kubeflow/kubeflow/blob/27da9c8b1d7c44f7bd47ef7d516214909db36e3f/bootstrap/pkg/apis/apps/configconverters/v1beta1.go#L166

Could we instead just do the following?

* Serialize KFConfig to  bytes
* Desierialize bytes to KFDef.v1beta1
   * ignore any errors
   * See https://godoc.org/gopkg.in/yaml.v2#Unm

[2019-10-15 18:04] jlewi opened #54 "kfctl should use the file path passed to -f not app.yaml"
Right now kfctl is hardcoding the path it saves the KFDef to as "app.yaml"

This leads to a confusing user experience; especially if a user needs to rerun kfctl

e.g. they would initially run

[code]

But none of the changes made by kfctl are preserved in kfctl_gcp_app.yaml; they are saved to app.yaml

So if a user needs to rerun they need to do

[code]

We should fix that.

Once kfctl is migrated

[2019-10-16 00:34] jlewi opened #55 "Rationalize all the constructor/public functions for coordinator.go"
All of the public functions in coordinator.go for creating/loading KFApps are a bit of a mess

This is the result of a lot of accumulated tech debt.

This has led to problems because the logic is convoluted and different callers are skipping different parts of the logic.

Here are some initial ideas; some of these might be correct but hopefully this can help us accumulating more debt.

* **NewLoad

[2019-10-16 01:20] jlewi opened #56 "kfctl_test_delete is flaky"
Opening this issue because we are seeing flakes related to kfctl_delete_test.py failing

We are seeing timeouts
https://github.com/kubeflow/manifests/pull/493#issuecomment-542442543

And failures due to concurrent operations
https://github.com/kubeflow/kubeflow/pull/4287

Even worse because of kubeflow/testing#257 if kfctl_delete_test fails we don't copy junit artifacts to GCS so we lose signal ab

[2019-10-16 01:44] swiftdiaries commented on #55
+1 for NewLoadKfAppFromURI

[2019-10-16 02:43] jlewi opened #57 "kfctl is overly reliant on expensive E2E tests; slowing down development"
kfctl is overly reliant on expensive E2E tests.

I'm seeing presubmits taking 50 minutes to run. Furthermore as these E2E tests become more comprehensive they inherently become more flaky.

I think we need to rethink our test strategy for kfctl to ensure velocity remains high.

* For example, how can we develop a component test for kfctl that doesn't end up being a complete E2E test for kubeflow?

[2019-10-16 02:54] jlewi opened #58 "junit files in presubmits not copied to the right bucket"
Our E2E tests for presubmits aren't copying the junit files to the write GCS location; which is why results aren't showing up in testgrid and spyglass.

Here's the command executed by copy-artifacts.

[code]

This is the wrong subdirectory; it should not be None.

The correct directory for this PR should be

[code]

Related to kubeflow/testing#257

[2019-10-16 03:03] nrchakradhar commented on #57
/cc @nrchakradhar379

[2019-10-16 12:03] jlewi commented on #57
One idea would be to

* Selectively trigger tests specific to plugins when the plugin changed
* Use purposely designed kustomize applications and KFDef files to test the bulk of kfctl functionality

The bulk of kfctl functionality is just about  processing a KFDef to deploy a bunch of kustomize applications.

We shouldn't really need to use actual Kubeflow manifests or create clusters to test that

[2019-10-16 12:40] jlewi commented on #46
@kunmingg Does your PR from yesterday fix this issue?

[2019-10-16 16:02] gabrielwen commented on #54
/assign @gabrielwen

[2019-10-16 18:35] jlewi commented on #49
I didn't actually do anything to fix the issue so I'm guessing its still present.

[2019-10-16 22:06] jlewi commented on #58
Bump to P0 looks like its an issue for periodic jobs as well.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-master/1184534691647066120

[code]

Looking at the workflow here's the invocation of the copy_artifacts step

[code]

[2019-10-16 22:13] jlewi commented on #58
Here's the code
https://github.com/kubeflow/testing/blob/f7a75caa7b1ccf79d516479facc22e7abb852433/py/kubeflow/testing/prow_artifacts.py#L143

Here's where its getting the value
https://github.com/kubeflow/testing/blob/f7a75caa7b1ccf79d516479facc22e7abb852433/py/kubeflow/testing/prow_artifacts.py#L121

So the final bit should be the build number

Here are the environment variables for the step.

[c

[2019-10-16 22:13] kunmingg commented on #46
Will be covered by https://github.com/kubeflow/kubeflow/pull/4309

[2019-10-16 22:26] jlewi commented on #58
It looks like our scripts have been using BUILD_NUMBER from the beginning.
https://github.com/kubeflow/testing/commit/18340d122ac69ddaa574a79f18bb9fa505313799

I have a vague recollection of it switching at some point.

[2019-10-17 00:19] jlewi commented on #58
BUILD_NUMBER is deprecated
https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md

It looks like there is a secondary issue. At list in #487 the bucket is wrong. Its using gs://kubeflow-ci_temp/ but spyglass is using kubernetes-jenkins.

[2019-10-17 00:39] richardsliu commented on #49
This is what I see on the latest RC:
[code]

[2019-10-17 00:45] swiftdiaries commented on #54
If the user has to rerun, they would have to move into the $KFAPP dir and run `kfctl apply`.
Because apply would have already built the KFAPP.

[2019-10-17 00:46] richardsliu commented on #49
This is what I see on the latest RC:
[code]

[2019-10-17 00:55] richardsliu commented on #52
This is verified in rc.2.
/close

[2019-10-17 00:55] #52 closed

[2019-10-17 19:17] lluunn commented on #49
error is from:
https://github.com/kubeflow/kubeflow/blob/aef7dd9be70c8be98f5096979c65e601a4d78777/bootstrap/cmd/kfctl/cmd/build.go#L43

It's using go-getter here: https://github.com/kubeflow/kubeflow/blob/1d811f737d7555782dbeab09eb88795a84aeded9/bootstrap/pkg/utils/k8utils.go#L136

And got this error: https://github.com/hashicorp/go-getter/blob/3f60ec5cfbb2a39731571b9ddae54b303bb0a969/detect_file.

[2019-10-17 20:49] #42 closed

[2019-10-17 22:50] jlewi commented on #54
@swiftdiaries The desired syntax is

[code]

So the directory from which kfctl apply is run should only really matter in terms of how relative paths are interpreted.

[2019-10-17 23:02] jlewi commented on #46
@kunmingg Can we write a simple test to help validate this?

For example could we just add a test function to [kf_is_ready](https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kf_is_ready_test.py) that would verify the expected secrets are present in the expected namespaces?

[2019-10-17 23:26] jlewi commented on #54
Not specifying the -f flag is deprecated syntax that we at best are going to keep for backwards compatibility but should remove in 1.0.

[2019-10-17 23:28] jlewi commented on #54
@gabrielwen @lluunn @swiftdiaries does someone want to tackle this? It looks like #4250 is merged.

[2019-10-18 01:28] lluunn commented on #54
how about delete?
Do we allow users to do `kfctl delete` in the appdir, or the users should do `kfctl delete -f xx.yaml`?

[2019-10-18 01:38] jlewi commented on #54
Always "-f" even for delete.

e.g .

[code]

[2019-10-18 23:00] jlewi commented on #46
@kunmingg looks like we are just waiting on verification?

Looks like there is a test pending in #4350

[2019-10-21 13:00] jlewi opened #59 "[GCP] Auto set GPU type for node auto provisioner based on zone"
Cluster creation in GKE will fail if node-auto-provisioning is enabled and the zone doesn't have the GPUs listed in the node auto-provisioner available.

We should fix this so that kfctl picks good defaults.

The behavior should be as follows

1.  If [autoprovisioning-config.enabled](https://github.com/kubeflow/manifests/blob/4d2939d6c1a5fd862610382fde130cad33bfef75/gcp/deployment_manager_configs/

[2019-10-21 18:42] lluunn commented on #55
Current structure: In build or apply, we call BuildKfAppFromURI
- BuildKfAppFromURI
  - NewLoadKfAppFromURI
    - LoadKfAppCfgFile
      - if remote file, CreateKfAppCfgFile(kfdef)
      - configconverters.LoadConfigFromURI
  - Init
  - Generate

So should instead in build or apply, call NewLoadKfAppFromURI:
- NewLoadKfAppFromURI
  - if remote file, createKfAppCfgFile(kfdef)
  - configconverters.L

[2019-10-21 18:59] lluunn commented on #55
I think we can also get rid of Init

[2019-10-21 21:32] #46 closed

[2019-10-22 21:51] jlewi opened #60 "kfctl_existing postsubmit is failing"
Here's the postusbmit test grid
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit&group-by-target=&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B

Lots of red.
Here's a failed run.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1186679529897201664

[2019-10-24 01:20] lluunn commented on #58
Is this fixed?

[2019-10-24 03:58] jlewi commented on #54
Verifying with
kubeflow/kubeflow@0ba828a18ee97094a5aa24da2fe09ca75d05d15d
kubeflow/manifests@fccc0ac71efa0ca7816e4f9aa59d03d9dc6934d4
 v0.7-branch

Here's the contents of my app directory

[code]

So no app.yaml file is created.

Here's a copy of my YAML file. Based on the file we can see it got updated

* Status has repos set
* Various application parameters like IAP headers and my email got set

[2019-10-24 03:58] #54 closed

[2019-10-24 13:22] jlewi commented on #58
Yes.

Here's a snapshot of the postsubmit dashboard. We now have results for the various junit tests like is_ready, test_endpoint etc..

![testgrid](https://user-images.githubusercontent.com/777219/67489503-8578fe00-f626-11e9-8130-685f2aa4bdbe.png)

[2019-10-24 13:22] #58 closed

[2019-10-24 13:37] jlewi commented on #53
/cc @lluunn

[2019-10-24 13:38] jlewi opened #62 "[GCP] Labels in KFDef not applied to GCP infrastructure"
Labels in KFDef.metadata  should be applied to the GCP infrastructure; i.e. the should be used as labels on the GCP deployments.

This was added here.
https://github.com/kubeflow/kubeflow/blob/0ba828a18ee97094a5aa24da2fe09ca75d05d15d/bootstrap/pkg/kfapp/gcp/gcp.go#L419

I think the problem is the converter
https://github.com/kubeflow/kubeflow/blob/0ba828a18ee97094a5aa24da2fe09ca75d05d15d/bootstrap

[2019-10-24 14:20] jlewi opened #63 "[GCP] test_endpoint is ready needs to deal with lets encrypt quota"
Our GCP test_enpoint is ready is failing because we don't provision SSL certificates because we run into lets encrypt rate limiting.

We can work around that by swapping out a self-signed certificate using this python code
https://github.com/kubeflow/testing/blob/6828c18feb5c632569460ecbee26d67e8c2a82c8/py/kubeflow/testing/util.py#L774

We should probably update our endpoint test to call that func

[2019-10-24 23:00] Jeffwan opened #64 "[AWS] Simplify kfctl build process for aws"
Steps for aws:

1. kfctl build -V -f ${CONFIG_URI}

2. customize configuration
- cluster_name
- region
- roles

https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/#customize-your-configuration

3. kfctl apply -V -f ${CONFIG_FILE}

`kfctl` was designed to combine original `init` and `generate`. We can actually combine customization in `build` phase. We need to ask user set environment variab

[2019-10-24 23:00] Jeffwan commented on #64
/assign @Jeffwan

[2019-10-25 13:27] krishnadurai opened #65 "Kustomize Ordering: which ordering of resources should kfctl follow for kustomize?"
Kustomize, by default, uses legacy ordering for ordering application of resources in a manifest for a resource.

https://github.com/kubernetes-sigs/kustomize/blob/a84f8d65db7be1209acef3433f9c6ab63044d8d3/api/resid/gvk.go#L82-L106

Likewise, kfctl adopted the same legacy ordering for resources:

https://github.com/kubeflow/kubeflow/blob/8a2c452d8576449e8459648ca24c4e2780d30f52/bootstrap/pkg/kfapp/k

[2019-10-29 16:59] jlewi opened #66 "basic auth test failing"
The basic auth tests are failing.

[code]

So looks like an issue with the test.

[2019-10-29 17:03] jlewi commented on #66
Here's the problem
https://github.com/kubeflow/kubeflow/blob/618c77bef8e8672e2df174bf25659a3dbfcb9982/py/kubeflow/kubeflow/ci/kfctl_go_test_utils.py#L243

We need to update the test to work with v1beta1

[2019-10-30 01:05] jlewi commented on #60
Here's a recent run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-master/1189264851759796234

http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-periodic-master-kfctl-go-existing-v07-6234-0336?tab=workflow

Here are the logs from the test

[kubeflow-periodic-master-kfctl-go-existing-v07-6234-0336-3078399875.log.txt](https://github.com/kubeflow/kfctl/fi

[2019-10-30 01:05] lluunn commented on #49
verified with 0.7rc6 that we can apply with `./kfctl_gcp_iap.yaml`

[2019-10-30 01:05] #49 closed

[2019-10-30 01:08] jlewi commented on #60
@yanniszark Do you agree that right now this isn't release blocking given we don't have signal indicating that Kubeflow is broken and not the test?

[2019-10-30 13:02] yanniszark commented on #60
I thought there was another issue for this where I commented.
The Kubeflow installation seems to be working fine installing by hand.
I would like to know the reason why they're failing though, there may be a bug hidden in there.
I will update this issue with my findings today.

[2019-10-30 20:25] jlewi commented on #66
Here's the latest periodic run.
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-periodic-master-kfctl-go-basic-auth-7210-3f73?tab=workflow

Build and deploy are succeeding and most KF tests are passing; e.g. kfctl_is_ready.

It looks like pytorch job and katib are failing.

There's a related issue: kubeflow/testing#509

To properly report the test results.

I'm going to mar

[2019-10-30 20:25] #66 closed

[2019-10-31 07:36] Jeffwan opened #67 "[AWS] Add pod default object to inject kubeflow user IAM role"
We want to have generic IAM role for user to connect to some AWS services like ECR and S3.
Instead of using credentials, we can service account with IAM policies to achieve this.

This story depends on https://github.com/kubeflow/kubeflow/issues/4403

[2019-10-31 11:03] yanniszark commented on #60
@jlewi my findings so far:

1. The initial installation fails because of this code:
https://github.com/kubeflow/kubeflow/blob/7f64d8b023147927b74139bbdbbffa1ffca536bc/py/kubeflow/kubeflow/ci/kfctl_go_test_utils.py#L261

The v0.7 existing_arrikto config doesn't use a Plugin, so the test fails with KeyError.

2. After fixing that, I get timeouts waiting for the minio deployment. Not sure what the is

[2019-10-31 12:16] jlewi commented on #12
I manually verified that this was working with GCP IAP
kubeflow/manifests - v0.7.0-rc.2-16-gd6dad08
kubeflow/kubeflow - v0.4.0-rc.1-802-gd66f8b97

Rerunning kfctl apply a second time worked.

Immediately after running apply the 2nd time I started getting Origin Authentication Errors when accessing the centraldashboard.

It looks like reapplying the ingress causes the backend to change so the JWT p

[2019-10-31 12:16] #12 closed

[2019-10-31 23:39] jlewi opened #68 "KfConfig should be private to coordinator.go"
I think KFConfig should be considered an internal private data structure only accessible to the packages in
https://github.com/kubeflow/kubeflow/tree/master/bootstrap/pkg/kfapp

Code outside pkg/kfapp should not use KFConfig. Instead code outside of pkg/kfapp should use one of the versioned KFDef structures which is the public facing API.

The purpose of KFConfig is to provide an internal datastru

[2019-10-31 23:39] jlewi commented on #68
/cc @lluunn @yanniszark @gabrielwen FYI

[2019-11-01 04:53] jlewi opened #69 "Presubmits are failing could not update deployment manager entries"
Sample failure
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/597/kubeflow-manifests-presubmit/1190107292830273536/

build_deploy fails with

[code]

[2019-11-01 04:55] jlewi commented on #69
[code]

[2019-11-01 12:15] jlewi commented on #69
There is an ongoing issue with GCE
https://status.cloud.google.com/incident/compute/19008

[2019-11-01 12:37] jlewi commented on #59
Here's a couple pointers if someone is interested in picking this up.

* I think the relevant modifications would happen in [generateDMConfigs](https://github.com/kubeflow/kubeflow/blob/cfc6d8b1fe5901e699fbfd81d19d1967f71c3713/bootstrap/pkg/kfapp/gcp/gcp.go#L1321)

* We would want to use the GCE API to see which GPUs a user has quota for in the selected zone

* We should pick the most advanced GPU

[2019-11-01 22:38] jlewi commented on #69
The issue is resolved.

[2019-11-01 22:38] #69 closed

[2019-11-01 23:05] jlewi opened #70 "checkout failing in postsubmits"
Here's a run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1190328119332966400

[code]

It looks like this is not a valid commit.
Its using
https://github.com/kubeflow/kubeflow/blob/cfc6d8b1fe5901e699fbfd81d19d1967f71c3713/py/kubeflow/kubeflow/ci/kfctl_e2e_workflow.py#L458

The prow environment variables are

[code]

So the issue is that the commit is o

[2019-11-02 20:02] jlewi commented on #47
kubeflow/pipelines#1691 is tracking ml-pipelines migration to workload identity. With 0.7 pipelines is still depending on the secrets in some places.

[2019-11-04 14:01] jlewi opened #71 "basic_auth test is broken"
The basic auth tests are failing.

Here's the stacktrace

[code]

This looks related to @gabrielwen's recent changes to add a basic auth endpoint test.

[2019-11-04 23:22] jlewi commented on #22
@gabrielwen Can we close this? I think this is implemented in v0.7.0?

Duplicate of kubeflow/kubeflow#3518 ?

[2019-11-04 23:23] jlewi commented on #19
@gabrielwen Can we close this? I think this is implemented in v0.7.0?

Duplicate of kubeflow/kubeflow#3518 ?

[2019-11-04 23:24] jlewi commented on #18
@gabrielwen could we update this based on everything that got shipped in 0.7.0?

I think the new semantics are done: kubeflow/kubeflow#3518

[2019-11-04 23:37] gabrielwen commented on #20
/close

[2019-11-04 23:37] #20 closed

[2019-11-04 23:49] jlewi opened #73 "KFDef v1 - Define API, Conversion Logic, and Update Manifests"
In the next release we will want to change KFDef to v1 (from v1beta1).
The API should be largely unchanged.
Nontheless there's some work to be done to actually get all the code in place and update the manifests.

/cc @gabrielwen

[2019-11-04 23:52] gabrielwen commented on #26
this is for kfctl repo, not kubeflow.

[2019-11-04 23:53] jlewi commented on #62
Fixed by #4391

[2019-11-04 23:53] #62 closed

[2019-11-04 23:53] gabrielwen commented on #22
/close

[2019-11-04 23:53] #22 closed

[2019-11-04 23:53] gabrielwen commented on #19
/close

[2019-11-04 23:53] #19 closed

[2019-11-04 23:54] jlewi commented on #44
I'm tentatively adding this to the kfctl-1.0 backlog. But given the amount of other work we need to do, I'd say we should probably punt to post 1.0.

[2019-11-05 00:12] jlewi commented on #40
@kunmingg Did you add a test for this already?

[2019-11-05 06:48] jlewi opened #74 "[GCP] GetIamPolicy Cloud Resource Manager API has not been used in project 188803286021 before or it is disabled"
I was deploying Kubeflow using a service account.

The service account was owned by project kf-codelab-admin.
I was deploying Kubeflow into project kf-test-9990

Running kfctl failed with the following error

[code]

The project reported in this case corresponds to the project ` kf-codelab-admin`; i.e. the project that owns the service account that is deploying Kubeflow not the project into which

[2019-11-05 06:50] jlewi commented on #74
Enabling the cloud resource manager and IAM APIs in the project that owns the service account fixed the problem.

[2019-11-05 06:50] #74 closed

[2019-11-05 18:55] gabrielwen commented on #18
updated.

[2019-11-05 21:57] gabrielwen commented on #73
I think the majority of work is on cleaning weird deps in current codes.  Other than that it should be just adding a new converter.

[2019-11-06 12:21] jlewi commented on #57
@swiftdiaries this is the issue tracking trying to come up with a better way of testing kfctl.

[2019-11-06 12:33] jlewi commented on #7
Bump to P0. We have moved development over to kubeflow/kfctl so we need to finish getting things moved over as quickly as possible to avoid churn.

The big item is moving over the tests.

* [kfctl_basic_auth](https://github.com/kubeflow/kubeflow/blob/3ef97c19e2274de1b731dfc3bef3e05adbdffa4a/prow_config.yaml#L26) should probably move from kubeflow/kubeflow to kubeflow/kfctl
* [kfctl_go_existing](ht

[2019-11-06 12:40] jlewi opened #77 "Move kfctl py code into kubeflow/kfctl"
Related to #7 - move code for kfctl to kubeflow/kfctl

* We need to move the python code related to testing kfctl into kubeflow/kfctl
* We should create the directory py/kubeflow/kfctl and all code should live there
* The kfctl related code in [py/kubeflow/kubeflow/ci](https://github.com/kubeflow/kubeflow/tree/master/py/kubeflow/kubeflow/ci) should move to [py/kubeflow/kfctl/ci]

 * Code in  kubef

[2019-11-06 15:40] mvisonneau commented on #48
I still have this issue on `v1.14.8-gke.2` :(

[code]

[2019-11-06 16:13] mareksuscak commented on #48
@mvisonneau exactly, this is affecting us as well, what's worse tho is that there's no longer a 1.14.x GKE version with a working workload identity feature  since they removed all of them. this is disastrous and i lost all day today trying to fix it to the point where all services stopped working due to some networking issues.

[2019-11-06 22:22] kunmingg opened #79 "migrate presubmit tests from kubeflow repo."
As now all kfctl dev happens in this repo,
we should migrate kfctl workflows `kfctl-go-basic-auth`, `kfctl-go-existing` from https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml
to kfctl repo.

[2019-11-07 14:11] jlewi opened #81 "kfctl delete - support delete without -f?"
Right now kfctl delete requires users to specify the path of the kfdef yaml file.

This forces users to store their ${KFAPP} in order to be able to do deletion.

Should we instead support a syntax like

[code]

where ${KFNAME} is the name of the Kubeflow deployment?

* How would we know what KFDef plugins were used to deploy Kubeflow so that we could do proper deletion?

* One option would be to s

[2019-11-07 17:57] nrchakradhar commented on #81
Two separate aspects of kfctl are
1) Cloud related operations
2) K8S related operations
It's possible to force delete K8S resources, but for cloud related functionality I am not sure if it's possible.
Storing of Kfdef in etcd is one option.
Another option I can think of is to generate Kfdef by querying the cluster relying on correct annotations being present (to be done at kubeflow installation by

[2019-11-07 18:02] jlewi opened #82 "[GCP] Auto optimize GKE cluster size (machine type) based on quota"
Right now the default Kubeflow cluster settings for GKE are too big to fit into the GCP free quota tier.

It would be nice if kfctl could automatically check how much quota a user has and auto-size the cluster to fit into the quota.

See also kubeflow/kfctl#59 auto-optimizing node auto-provisioner settings

[2019-11-07 18:05] kkasravi commented on #81
Since we only support one instance of the uber kubeflow app could we delete by version eg
`kfctl delete kubeflow-v0.7.0`

[2019-11-07 21:01] gabrielwen commented on #68
agree that we should move `KfConfig` to `/kfapp` only.  I think the structure in overall should be:
[code]

but for some similar fields, I'm not sure if we should have reference/dependencies.  IMO I definitely don't want fields being shared between external API (`KfDef` and plugins) and internal data structure (`KfConfig`).  As for shared fields between `KfDef` and plugins, I think it'll be reason

[2019-11-07 21:02] gabrielwen commented on #68
/assign @gabrielwen

[2019-11-07 21:15] jlewi commented on #68
I think it would make sense for plugin specs to be versioned as well but should the version be kept in sync KFDef?

What should we do in this PR?

[2019-11-07 21:24] gabrielwen commented on #68
I don't think they have to be in sync.

Probably not, let's try to roll this out incrementally...  Will duplicate plugins to the new places gradually and change the deps afterwards.

[2019-11-07 21:45] jlewi commented on #71
Duplicate of kubeflow/kubeflow#4442

[2019-11-07 21:45] #71 closed

[2019-11-07 23:01] #79 closed

[2019-11-07 23:02] kunmingg opened #86 "Run unit test during presubmit"
We should run unit test like:
https://github.com/kubeflow/kubeflow/blob/v0.7-branch/testing/workflows/components/unit_tests.jsonnet#L123

[2019-11-07 23:02] kunmingg commented on #86
@gabrielwen @jlewi

[2019-11-07 23:15] gabrielwen commented on #86
Duplicate of #26 ?

[2019-11-07 23:43] kunmingg commented on #86
Feel free to close one, thanks

[2019-11-07 23:44] gabrielwen commented on #86
/close

[2019-11-07 23:44] #86 closed

[2019-11-08 00:01] jtfogarty commented on #26
@gabrielwen I'm looking to contribute, how can I help

[2019-11-08 03:45] richardsliu opened #89 "Upgrade kubernetes dependencies to 1.14.0 or later"
Currently we are using kubernetes 1.13.4. There are also some outdated deps like client-go and controller-runtime: https://github.com/kubeflow/kfctl/blob/master/go.mod#L85

I tried to update the versions in go.mod but ran into a lot of compilation errors in k8utils.go. Might need some time to investigate how to fix this.

/cc @jlewi
/cc @kkasravi

[2019-11-08 03:45] richardsliu commented on #89
Work in progress at https://github.com/kubeflow/kfctl/pull/88

[2019-11-08 04:21] jlewi commented on #7
@kunmingg Do we need to move over the other click to deploy binaries in
https://github.com/kubeflow/kubeflow/tree/master/bootstrap/cmd ?

[2019-11-08 20:30] gabrielwen commented on #26
@jtfogarty
Hi Jeff,

Thanks for be willing to contribute!  We could definitely someone for the test coverage.  I think a good start would be taking a look at [kfapp](https://github.com/kubeflow/kfctl/tree/master/pkg/kfapp) and pick up sub-directories that you think test coverage can be improved.  Let me know if you need more info or you'd like to contribute to other aspects!

Thanks,

[2019-11-08 22:54] jlewi opened #91 "kubeflow/kfctl presubmits broken by moving code to kubeflow/kfctl"
The kubeflow/kfctl presubmits are currently broken.

This is because the presubmits in kubeflow/kfctl were actually  using the code in kubeflw/kubeflow

The code in kubeflow/kubeflow was deleted in kubeflow/kubeflow#4485. As a result the kubeflow/kfctl tests are failing because they are trying to build kubeflow using source code that no longer exists.

related to: kubeflow/kfctl#7 make kubeflow/kf

[2019-11-11 23:12] gabrielwen commented on #91
presubmit is fixed.
/close

[2019-11-11 23:12] #91 closed

[2019-11-12 02:58] richardsliu opened #94 "Presubmits broken due to deleted ksonnet registry"
See https://github.com/kubeflow/kubeflow/pull/4484

This is causing a few presubmit tests to fail:

pytorch-job-deploy:
[code]

notebook-test:
[code]

[2019-11-12 19:46] richardsliu opened #97 "Convert tests in kfctl_e2e_workflow.py to pytest"
https://github.com/kubeflow/kfctl/blob/master/py/kubeflow/kfctl/testing/ci/kfctl_e2e_workflow.py#L362

[2019-11-12 19:49] gabrielwen commented on #97
For all the tests running with `python -m` we should convert them into pytest format.

[2019-11-12 22:13] jlewi commented on #48
@mareksuscak @mvisonneau are all pods affected?

@mareksuscak Do you have a pointer to the recommendation to downgrade to 1.13?

I have a 1.14.8-gke.2 and I was able to successfully deploy KF 0.7.0.

Launching K8s jobs I started seeing problems with workload identity. In particular, I started to see gcloud commands timing out.

I started seeing some errors like the following in the node metadata s

[2019-11-12 22:15] mareksuscak commented on #48
@jlewi We were using `COS_CONTAINERD` image and that one turned out to be the culprit in our case. We ditched it and it's working just fine now.

[2019-11-12 22:15] jlewi commented on #48
@mareksuscak thanks for the info.

[2019-11-12 23:36] #89 closed

[2019-11-13 08:04] jlewi commented on #48
So it looks like

* workload identity might currently not work with any VM images using containerd
* GKE node metadata server might have some instability under heavy load

[2019-11-14 08:55] MrXinWang opened #99 "kfctl binary releases for different platforms"
Referencing [issue#2337](https://github.com/kubeflow/kubeflow/issues/2337) and discussions in [issue#4433](https://github.com/kubeflow/kubeflow/issues/4133), is it possible to release a binary of kfctl for different platforms? Thanks.

[2019-11-14 23:58] yanniszark commented on #99
Since Go compiles completely static binaries and changing the target platform is as simple as changing an environment variable (GOARCH), I would expect that this is easily possible, at lease for programs written in Go, like kfctl.

[2019-11-20 20:16] gabrielwen opened #102 "Check context when applying configs"
When doing `kfctl delete`, we should check context in `.kube/config` points to the deployment that matches `KfDef`.  If no match, we should reject `kfctl delete`

[2019-11-22 14:11] jlewi opened #104 "[GCP] Pretty Print IAM Policy in log messages"
We have lots of log messages like the following

https://github.com/kubeflow/kfctl/blob/90fed64eedae58d5ca88eb04715614be1bcdda8b/pkg/kfapp/gcp/gcp.go#L1662

Which ends up generating output like this

[code]

This is hard to read for a couple reasons

1. We aren't including field names when we print out the struct
1. We aren't recursively evaluating pointers in the struct which is why we have addre

[2019-11-23 00:02] swiftdiaries opened #105 "setup kfctl nightly builds"
It would be great if we could setup nightly builds for kfctl. It would go well along with the E2E tests and help in development.

/cc @kkasravi @jlewi @yanniszark

[2019-11-23 00:04] jlewi commented on #105
@swiftdiaries I've moved the issue into the kubeflow/kfctl repo. Could you provide an update the current status? Do we have a PR? If so what work remains after that PR? What's blocking that PR if anything?

[2019-11-23 00:42] swiftdiaries commented on #105
Sorry for the delay. Opened to PR to close this issue. I'll work through the PR and have it done ASAP

[2019-11-23 00:43] swiftdiaries commented on #105
After this PR, we need a nightly periodic prow job defined for this repo so that we have nightly builds associated with that run

[2019-11-24 21:02] jlewi opened #108 "Add additional labels to kubeflow namespace"
We should add additional labels to the kubeflow namespace. One reason for doing this is being able to disable certain behavior on the kubeflow created namespace by setting appropriate labels.

For example: kubeflow/kfserving#568 is caused by the lack of the "control-plane" label being applied to the kubeflow namespace.

One approach would be to propogate any labels in the KFDef spec to the kubeflo

[2019-11-25 19:03] jlewi commented on #60
@yanniszark Any update on this?

[2019-11-25 19:04] jlewi commented on #48
I'm closing this issue because I don't think there's anything actionable for us

[2019-11-25 19:04] #48 closed

[2019-11-25 19:18] jlewi commented on #77
@richardsliu has the python code moved over?

[2019-12-02 23:13] gabrielwen commented on #97
@amalts do you think this is an interesting task?

there are 2 sub-tasks in this issue:
- Fix pytorch and notebook tests and re-enable them in presubmits.
- Transform tests that are run with `python -m` to be [pytests](https://github.com/kubeflow/kfctl/tree/master/py/kubeflow/kfctl/testing/pytests)

[2019-12-02 23:53] gabrielwen commented on #26
@jtfogarty

We could definitely use more test coverage for both [coordinator](https://github.com/kubeflow/kfctl/blob/master/pkg/kfapp/coordinator/coordinator.go) and [kustomize](https://github.com/kubeflow/kfctl/blob/master/pkg/kfapp/kustomize/kustomize.go).  Is this something you would be interested?

[2019-12-03 07:19] amalts commented on #97
@gabrielwen Definitely ! I can take this up.

[2019-12-03 07:19] amalts commented on #97
/assign

[2019-12-03 19:06] gabrielwen commented on #97
thanks!

[2019-12-03 21:50] gabrielwen opened #119 "kfctl delete is not idempotent"
Way to reproduce:
- Run `kfctl delete`
- Interrupt in the middle of something, for example, during deployment deletion.
- Run `kfctl delete` again.

Error:
`Error: couldn't delete KfApp:  (kubeflow.error): Code 500 with message: kfApp Delete failed for kustomize:  (kubeflow.error): Code 400 with message: couldn't delete customresourcedefinitions Error: Delete https:/
/35.231.48.73/apis/apiextensio

[2019-12-03 22:24] kunmingg opened #121 "kfctl on GCP: skip GPU node pool if no GPU available on target zone."
Currently we create GPU node pool by default:
https://github.com/kubeflow/manifests/blob/5bd82ecc8d5e449bcf83c30ba7e74731dd8584f1/gcp/deployment_manager_configs/cluster-kubeflow.yaml#L63

This might block user when they try to deploy on zones without GPU resource.

Before `apply` action, kfctl should set `gpu-pool-max-nodes` to 0 when target zone is not one of following:
[code]

[2019-12-05 05:33] jlewi commented on #121
@kunmingg could you triage this issue please?
https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md

[2019-12-05 05:38] jlewi opened #124 "Release Kubeflow 0.7.1"
Tracking bug for 0.7.1.

Issues we want fixed in 0.7.1

* kubeflow/kfserving#568 - KFServing mutating webhook is causing problems.

Before we can start cherry-picking changes to Kubeflow manifests onto the v0.7-branch we need to pin the version of kubeflow/manifests used in the v0.7.0 KFDef YAML specs (kubeflow/manifests#643)

To fix kubeflow/kfserving#568 there are a number of things that need to

[2019-12-05 05:39] jlewi commented on #124
@lluunn can you help with this since you are buildcop this week?

[2019-12-05 19:05] gabrielwen opened #125 "presubmit doesn't check for the result of some tests"
Some tests failed in kfctl is not reflected on the result - unit tests were failed but it still returns success.

[2019-12-05 22:50] gabrielwen commented on #125
the reason is because the command we run unit tests: `go test 2>&1 | go-juni-report` always return exit code of 0

[2019-12-06 01:13] gabrielwen commented on #68
`KfConfig` has bee moved to `/pkg/kfconfig`, will close this after we removed the one in `apis/apps`

[2019-12-06 23:44] tmc opened #127 "Support yaml manifest generation."
The previous generate command enabled workflows such as (the documented one of) Argo CD. Could the ability to write manifests out to stdout or disk be restored?

[2019-12-07 00:16] jlewi commented on #125
/lgtm
/approve

[2019-12-07 00:47] #125 closed

[2019-12-07 12:36] yanniszark commented on #127
Hi @tmc !
AFAIK, what we have right now is `kfctl build`, which generates a `kustomize` folder with all the kustomize applications.
Argo CD supports kustomize applications so maybe you want to try it that way.
Just point to the generated kustomization file on the top level of each folder (eg istio/kustomization.yaml).

Would that work for you?
If not you could generate the yaml with kustomize and

[2019-12-09 18:20] jlewi commented on #77
@gabrielwen could you provide an update please?

[2019-12-09 18:33] abhi-g opened #128 "Add OSS Licenses into the kfctl binary distributions"
Need to ensure all third party OSS licenses are included.

See example PR https://github.com/kubeflow/metadata/pull/182

[2019-12-09 18:38] jlewi commented on #7
@kunmingg what's your thinking about the source of truth for C2D? Should we move the code in bootstrap into kubeflow/kfctl ?
https://github.com/kubeflow/kubeflow/tree/master/bootstrap

[2019-12-09 18:41] jlewi commented on #119
@gabrielwen has a PR pending in #110

There was a bunch of discussion (see #110)  but I think we ultimately settled on using the metadata field clusterName.

[2019-12-09 18:57] gabrielwen commented on #77
@jlewi I think I move all the code we need.  just need second pair of eyes to make sure of that.

[2019-12-09 22:45] gabrielwen opened #129 "`kf_is_ready` test is broken"
`profiles-deployment` is not ready.

in my manual deployment, it shows `ImagePullBackOff`

/cc @zhenghuiwang

[2019-12-09 23:04] gabrielwen commented on #129
@lluunn pushes the image to the correct project, we can close this issue now.

[2019-12-09 23:04] gabrielwen commented on #129
/close

[2019-12-09 23:04] #129 closed

[2019-12-10 18:36] gabrielwen commented on #102
/close

[2019-12-10 18:36] #102 closed

[2019-12-11 01:14] jlewi commented on #124
@zhenghuiwang Can you help with this. I think the next steps are

1. Building an updated profile controller image.
1. Updating the profile controller manifest on master to use that image
1. Cherry-picking that change onto the v0.7-branch of manifests

[2019-12-11 17:28] jlewi commented on #124
Looks like the profile controller image on master was updated in kubeflow/manifests#646.

Do we need to cherry-pick it into the v0.7-branch?

[2019-12-11 18:52] lluunn commented on #124
Already cherrypick: https://github.com/kubeflow/manifests/pull/649

[2019-12-11 23:49] lluunn commented on #124
I tried the 0.7 kfctl (same as before) with the new 0.7.1 kfdef: https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_gcp_iap.0.7.1.yaml.
Deployment succeeded, endpoint is accessible, and I can create and connect to a notebook.

[2019-12-12 04:28] gabrielwen opened #138 "migrate dex test to kfctl and in pytest format"
dext test in E2E testing needs to be migrated to kfctl and be written in pytest format.

currently we disable the test in #136 because it breaks periodic test.

[2019-12-12 04:42] gabrielwen opened #139 "kfctl-second-apply fails when trying to get-credentials"
log: `Error: failed to apply: (kubeflow.error): Code 500 with message: coordinator Apply failed for gcp: (kubeflow.error): Code 400 with message: gcp apply could not update deployment manager Error Error when running gcloud container clusters get-credentials: exit status 1`

[2019-12-13 18:39] jlewi commented on #77
Thanks @gabrielwen .

I took a quick look.

It looks like we still have code here
https://github.com/kubeflow/kubeflow/tree/master/py/kubeflow/kubeflow/ci

That is also here:
https://github.com/kubeflow/kfctl/tree/master/py/kubeflow/kfctl/testing/ci

Lets delete the code in kubeflow/kubeflow and then we can close this

[2019-12-16 01:38] jlewi opened #140 "How to do programmatic authentication with Dex?"
@yanniszark @krishnadurai How do folks do programmatic authentication using DEX?

Here's the use case; suppose you are running code outside the cluster and you want to programmatically access a service running inside the cluster e.g.

* Talk to the KFP API Server to submit a pipeline
* Send an inference request to a model end point

My expectation would be that the client code can obtain a credent

[2019-12-16 14:30] jlewi opened #141 "Migrate C2D code from kubeflow/kubeflow/bootstrap into kubeflow/kfctl"
Should we migrate the click to deploy code (C2D) from kubeflow/kubeflow to kubeflow/kfctl?

The C2D code is here:
https://github.com/kubeflow/kubeflow/tree/master/bootstrap
https://github.com/kubeflow/kubeflow/tree/master/components/gcp-click-to-deploy

I think it makes sense to move into kubeflow/kfctl so all the Kubeflow control plane code is in one place.

@kunmingg What do you think?

Related

[2019-12-16 14:30] jlewi commented on #7
kubeflow/manifests#613 - is fixed so kubeflow/manifests presubmits are now running E2E tests

I think there are two remaining issues to close this out.

1. kubeflow/kfctl#77 - Finish migration of the python code
1. kubeflow/kfctl#141 - Migrate C2D code from kubeflow/kubeflow to kubeflow/kfctl

[2019-12-16 14:32] jlewi commented on #124
Thanks @lluunn .

Should we update the docs https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ to use 0.7.1?

[2019-12-16 14:34] jlewi commented on #124
@gabrielwen what did we decide last week about doing a kfctl 0.7.1 release?

[2019-12-16 21:02] gabrielwen opened #143 "gcp.go can't recognize developer.gserviceaccount.com as service account"
In [getIapAccount](https://github.com/kubeflow/kfctl/blob/master/pkg/kfapp/gcp/gcp.go#L1116-1121) we cannot correctly identify there are other possible patterns that could also be serviceAccount.  for example:
`999-compute@developer.gserviceaccount.com`

[2019-12-16 21:18] tmc commented on #127
Isn't it the case that kfctl build creates many kustomize applications? With my current configuration I appear to need to set up 29 different argo apps which seems unreasonable.

[2019-12-16 23:32] gabrielwen commented on #124
We've decided not to cherrypick a semantic change to `kfctl delete` and leave that to 1.0

However, I think 2 of the changes are worth being cherrypicked: #144 #145
WDYT?

[2019-12-16 23:33] lluunn commented on #124
update doc in https://github.com/kubeflow/website/pull/1466

[2019-12-17 01:02] krishnadurai commented on #140
@jlewi @yanniszark Here's an approach:
Using Dex's [Cross-client trust and authorized party](https://github.com/dexidp/dex/blob/master/Documentation/custom-scopes-claims-clients.md#cross-client-trust-and-authorized-party) to generate tokens for the SDK from oidc-authservice app.
1. User logs into oidc-authservice, and has a separate UI page to generate a token for the SDK client, possibly embedded

[2019-12-17 06:54] #143 closed

[2019-12-17 17:49] gabrielwen commented on #138
/assign @yanniszark

[2019-12-18 00:07] jlewi commented on #60
@yanniszark any update?

[2019-12-18 00:10] jlewi opened #151 "No results in test grid for kfctl postsubmit"
Test grid is empty.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-kfctl-postsubmit

Related issues: kubeflow/testing#492

[2019-12-18 01:23] jlewi commented on #151
Prow jobs are triggered
https://prow.k8s.io/?repo=kubeflow%2Fkfctl&type=postsubmit

Results show up in spyglass
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kfctl/kubeflow-kfctl-postsubmit/1207095222152990720/

GCS link
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubeflow_kfctl/kubeflow-kfctl-postsubmit/1207095222152990720/

No value is specified in the prow file
https://git

[2019-12-18 03:15] jlewi commented on #151
Postsubmit is now non-empty
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-kfctl-postsubmit

[2019-12-18 03:15] #151 closed

[2019-12-18 17:39] jspenc72 opened #152 "Need to Fix Kfctl .cache check for AirGapped Deployments"
kfctl currently runs a cache check comparison and downloads if cache is expired prior to running `kfctl build` or `kfctl apply`. This happens whether using -f ${CONFIG_FILE} is set to target a local directory or -f ${CONFIG_URI}  targets a remote address. As per discussion in last nights community call, this should be fixed so that kfctl apply can be used within an air gapped environment.

Using t

[2019-12-18 23:05] #73 closed

[2019-12-19 18:11] yanniszark commented on #60
@jlewi thanks for the ping.
I haven't had much cycles to put into this, I will try to allocate some.

[2019-12-20 08:29] amalts commented on #97
@gabrielwen Sorry for not following up on this. It took more time for me to get some insights into the test infra before starting.

[2019-12-21 06:01] gabrielwen commented on #97
@amalts that's ok.  sorry that I had to take over and finish this issue - we need to guard the testing coverage.

/close

[2019-12-21 06:01] #97 closed

[2019-12-22 11:13] kbentaleb opened #154 "Internal error occurred: failed calling webhook "webhook.cert-manager.io""
Hi there,

When I launch the command "kfctl apply -V -f ${CONFIG_FILE}" using the Arrikto Installation guide https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/ on ubuntu server 18.04 (even if i try with different kubernetes versions) I still have the error bellow:
Internal error occurred: failed calling webhook "webhook.cert-manager.io"

Could someone help me please ? @yanniszark @k

[2019-12-22 14:02] yanniszark commented on #154
Hi @kbentaleb.
What you are encountering should be a transient error and not something to worry about.
To explain what is happening:
* Cert-Manager related CRs are validated by an admission webhook that runs as a deployment.
* That deployment is not ready when kfctl tries to create a Cert-Manager related CR.
* You get the above error.

kfctl will retry for a couple of times, which should allow for

[2019-12-22 20:59] kbentaleb commented on #154
Hi @yanniszark
Thank you for the reply,
No this is not the case for me, I let it retry many times and finally it's stopped with the error showed in the attached screenshot. Do you have any idea how can I resolve this problem ? Thank you

![Sélection_050](https://user-images.githubusercontent.com/7852160/71327206-eb3e1500-2505-11ea-91cd-f34c6b6cf2fc.png)

[2019-12-24 16:17] yanniszark opened #155 "kfctl should fail if an overlay is not found"
If an overlay is not found, this indicates a user error and kfctl should not continue, but fail loudly.
https://github.com/kubeflow/kfctl/blob/9957ea14f901f3de107c059561e1de0a8529b497/pkg/kfapp/kustomize/kustomize.go#L867

We should change this to `log.Fatal` or return an error.

[2019-12-24 16:22] yanniszark commented on #154
@kbentaleb can you get logs from the cert-manager-webhook deployment in the cert-manager namespace?
It could provide further clues.

[2019-12-24 16:47] yanniszark commented on #127
It's true that there are a lot fo applications, I don't know how hard it is to set them up in argo.
If you want to generate the YAML manually you can iterate through the directories under $KFAPP/kustomize and do a `kustomize build kustomize/<app_name>`.

/cc @gabrielwen @jlewi for the feature request

[2019-12-28 16:25] yanniszark opened #156 "kustomize: secretGenerator merge not handled correctly"
After applying the db overlay for the metadata component of kubeflow from manifests, I noticed that a secret was not generated.
The merged kustomization file was missing the secretGenerator field.
I suspect this is where the faulty logic is:
https://github.com/kubeflow/kfctl/blob/9957ea14f901f3de107c059561e1de0a8529b497/pkg/kfapp/kustomize/kustomize.go#L752-L764

I believe the issue is not handlin

[2019-12-29 21:30] jlewi commented on #155
I don't think we should just crash because kfctl could be used programmatically; e.g in the server.
But throwing an error seems like a sensible thing todo.
/cc @gabrielwen

[2020-01-03 00:34] krishnadurai commented on #154
@kbentaleb Could you please provide information on pods in namespace `cert-manager` by mentioning a kubectl describe output on it?

I suspect this could happen due to pods not being able to schedule themselves due to insufficient resources. I ran into something similar recently.

[2020-01-04 00:15] kunmingg opened #158 "kfctl should work with private GKE without public endpoint"
kfctl should work with private GKE without public endpoint.
How to setup test env:
1. create private GKE without public endpoint
2. in same VPC, create VM without public network access
3. in same VPC, enable private GCP access
4. verify running kfctl from the VM to deploy to target private GKE.

[2020-01-06 13:44] jlewi commented on #124
So it looks like the website has been updated to use 0.7.1 YAML configs.

It looks like we still need to cut a 0.7.1 kfctl binary. It looks like all the fixes @gabrielwen have mentioned have been cherry-picked.

[2020-01-06 14:03] jlewi commented on #77
Fixed by #4577.

[2020-01-06 14:03] #77 closed

[2020-01-06 14:05] jlewi commented on #7
The only remaining work is moving for the C2D code. That has its own P2 bug (#141) so I'm going to go ahead and close this issue.

[2020-01-06 14:05] #7 closed

[2020-01-06 14:17] jlewi commented on #105
@swiftdiaries any update on this?

[2020-01-06 14:17] jlewi commented on #24
It looks E2E tests #25 is done but all the other issues are still open.

[2020-01-06 14:20] jlewi commented on #18
It looks like the manifests were updated to v1 in kubeflow/manifests#684.

It looks like the primary work remaining is CI/CD.

What is the status of the various test grids related to kfctl?

[2020-01-06 14:21] jlewi commented on #57
Should we punt this to post 1.0? I don't think anyone is working on this  and I'm not sure we will have cycles to fix it before we want to release 1.0.

[2020-01-06 14:22] jlewi commented on #139
Are we still observing this failure in our test grids?

[2020-01-06 14:24] jlewi commented on #60
@yanniszark any chance you will be able to work on this in the coming weeks? It would be great to have a working test in advance of the 1.0 release.

[2020-01-06 18:28] jlewi commented on #119
#110 was merged. That should ensure we check that we are running against the correct cluster but I'm not sure that alone fixes idempotency.

Do we have a delete test?

We should try it out and see if there are still bugs with idempotency and if not close this issue.

[2020-01-06 18:31] jlewi commented on #108
Downgrading to P1 because I don't think this is blocking 1.0.

[2020-01-06 18:32] jlewi commented on #47
We will want to maintain an option for installing the secrets to be compatible with environments (Anthos) where workload identity doesn't work.

[2020-01-06 19:23] swiftdiaries commented on #105
I had a small question on this, have we moved the ProwJobs to [oss-test-infra](https://github.com/GoogleCloudPlatform/oss-test-infra)? Or would it be ok if we push changes to the ProwJobs to `k8s/test-infra`?

[2020-01-06 19:38] abhi-g commented on #33
/cc @kunmingg I believe this should already be fixed.

[2020-01-06 21:20] jtfogarty commented on #138
/kind feature

[2020-01-06 21:45] kunmingg commented on #33
fixed by https://github.com/kubeflow/kubeflow/pull/4309

[2020-01-06 21:45] #33 closed

[2020-01-06 22:11] jlewi commented on #128
Bump to P0 because this is required for 1.0

[2020-01-07 06:41] jlewi opened #161 "kfctl Makefile needs to be fixed to build with Darwin"
It looks like in the move from kubeflow/kubeflow to kubeflow/kfctl some of the fixes to the Makefile to correctly build kfctl for Darwin.

Here are the Make rules to cross compile for Darwin
https://github.com/swiftdiaries/kubeflow/blob/69a9c4ef3582cbbee46831a4395ce540ce5f0ee2/bootstrap/Makefile#L107

We should update the corresponding rules in the kubeflow/kfctl Makefile to match

/cc @richardsli

[2020-01-07 19:33] kunmingg commented on #158
TODOs:

1. make kubeflow images accessible from private GKE: some images used by kubeflow is not hosted on GCR so is not accessible from private GKE. To resolve it we have 2 options:
 * option 1: provide image replication tool which can sync images to client project
 * option 2: replicate images to kubeflow images project and create private GKE overlays which use images only from GCR

2. release p

[2020-01-08 00:25] #161 closed

[2020-01-08 10:02] ryandawsonuk commented on #140
Yeah it's more complex than you'd expect as [dex doesn't support the password grant flow](https://github.com/kubeflow/kfserving/issues/196#issuecomment-507667394). We've only been able to do it in flows that include the browser.

[2020-01-08 10:10] ryandawsonuk commented on #140
FWIW, argocd uses dex and lets you login just from the CLI. But I believe it's doing that by [actually running a browser in the background](https://github.com/argoproj/argo-cd/blob/master/util/oidc/oidc.go#L278).

[2020-01-09 22:45] kunmingg opened #167 "kfctl throws EOF error"
Error from kfctl build:
[code]
How to reproduce:
[code]

[2020-01-10 14:10] ryandawsonuk opened #170 "istio gateway never comes up with new istio-dex config"
I updated my istio-dex config to pick up changes, including https://github.com/kubeflow/manifests/commit/f9252596661bbfa7e4bf54c446797c6179b52abf#diff-22a62b4046d14c9056c87c46260349d7

I find that the istio gateway now never becomes available as it fails with `Warning  FailedMount  41s (x23 over 31m)    kubelet, pool-c25fcyqh4-hbx4  MountVolume.SetUp failed for volume "istio-token" : failed to fet

[2020-01-10 14:33] ryandawsonuk commented on #170
I tried putting [back the old istio config](https://github.com/ryandawsonuk/seldon-gitops/commit/afdb62cc432cae245828827886b1a9c5519b5ae4) and just that change fixed the issue above @krishnadurai

[2020-01-10 17:10] yanniszark commented on #170
This seems like an Istio upgrade issue.
/cc @richardsliu do you know what the status of kfctl for upgrades is?

[2020-01-10 18:43] ryandawsonuk commented on #170
I found it happened on a newly-created cluster too

[2020-01-10 19:21] Anderssorby commented on #167
I think the reason is that kfctl doesn't follow redirects and github has changed their setup to use the subdomain codeloads.github.com. Manually changing the URIs in the config to the redirected URLs seems to fix the issue.

[2020-01-10 23:31] kunmingg commented on #167
fix included in https://github.com/kubeflow/kfctl/tree/v0.7.2-rc.0

[2020-01-10 23:31] #167 closed

[2020-01-11 12:51] kbentaleb commented on #154
Sorry for the late answer, finally I installed kubeflow 0.5 and it works fine. Thank you

[2020-01-11 12:51] #154 closed

[2020-01-11 17:22] yanniszark commented on #170
@ryandawsonuk can you link to the guide / kfdef you followed so we can try to reproduce?

[2020-01-13 08:23] ryandawsonuk commented on #170
I have been using a custom config but I think it was also happening with the master version of kfctl and https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.yaml. I'd need to double-check. It was a DigitalOcean cluster if that makes any difference.

[2020-01-14 17:21] ryandawsonuk opened #175 "kfctl build doesn't create all the istio_dex config"
I do:
[code]
The generated kustomize config should contain a folder titled 'istio' as my old build do:
![image](https://user-images.githubusercontent.com/22754674/72366186-adda3b00-36f1-11ea-878e-5b707e79d241.png)

But there is no such directory when I do a new build now. All the others are there, it's just this one that is missing. The result is that when I do a `kfctl apply` from the generated k

[2020-01-14 17:52] ryandawsonuk commented on #170
It does work on GKE

[2020-01-14 19:41] jtfogarty commented on #175
/area kfctl
/kind bug
/priority p1

[2020-01-15 11:13] ryandawsonuk commented on #140
The argocd CLI code to perform the login starts at https://github.com/argoproj/argo-cd/blob/master/cmd/argocd/commands/login.go

[2020-01-15 12:16] ryandawsonuk commented on #170
Just tried again on DigitalOcean with `export CONFIG=https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_istio_dex.yaml`. Again it installs but I get the token issue above.

So it works on GKE and not on DigitalOcean. Would be good if somebody could check another cloud.

[2020-01-15 13:22] ryandawsonuk commented on #170
It seems problem is https://github.com/istio/istio/issues/17378

[2020-01-15 13:39] yanniszark commented on #170
@ryandawsonuk it seems like a DigitalOcean issue.
Do they not support trustworthy JWTs? https://istio.io/blog/2019/trustworthy-jwt-sds/

[2020-01-15 13:43] yanniszark commented on #175
It seems that this is the offending commit https://github.com/kubeflow/manifests/commit/f9252596661bbfa7e4bf54c446797c6179b52abf#diff-22a62b4046d14c9056c87c46260349d7 introduced in PR https://github.com/kubeflow/manifests/pull/620.

cc @krishnadurai

[2020-01-15 14:00] ryandawsonuk commented on #170
Yeah I've raised a ticket with DigitalOcean

[2020-01-15 14:26] yanniszark commented on #170
That's great, in that case I believe we can close this issue!
/close

[2020-01-15 15:56] ryandawsonuk opened #177 "can't remove components to create custom kfdef"
I tried creating a [custom config without jupyter notebooks](https://raw.githubusercontent.com/ryandawsonuk/seldon-gitops/17754e436788c93d182fc4286c795c6a7b67bc5e/kfctl_istio_dex_slim.yaml). I used to be able to remove this but now when I do kfctl apply it errors with:
[code]
When I put that back in then it errors on the metadata and so on

[2020-01-15 18:28] Jeffwan opened #178 "Release 0.7.2 binaries"
Could release team help build binaries for
https://github.com/kubeflow/kfctl/releases/tag/v0.7.2-rc.0
 and update the release?  We meet some installation problems here. https://github.com/kubeflow/kubeflow/issues/4642 Our workshop users do not have knowledge on golang and they are not able to build binaries themselves.

/cc @kunmingg

[2020-01-15 18:58] jtfogarty commented on #177
/kind question
/area Jupyter
/priority p2

[2020-01-16 07:15] krishnadurai commented on #175
@ryandawsonuk Thanks for reporting this issue. I've added a fix here: kubeflow/manifests#704

[2020-01-16 23:08] arun-gupta opened #184 "0.7.2 rc binaries are not executable"
Downloaded 0.7.2 RC binaries and cannot execute them:

[code]

This may be blocking for https://github.com/kubeflow/kfctl/issues/178

[2020-01-18 13:11] #175 closed

[2020-01-21 13:52] heoelri commented on #167
I'm facing a simmilar problem with Kfctl 0.5.1. Is it planned rollout the fix to older versions of kfctl?

[code]

[code]

[2020-01-22 19:06] maximmold commented on #167
To clarify, you would update the repos section of your config file:

From this
[code]

To this

[code]

[2020-01-23 22:02] kunmingg commented on #128
@zhenghuiwang
Can we close this one now?

[2020-01-23 23:36] #128 closed

[2020-01-24 16:49] JakeTheWise opened #191 "kfctl 0.7.2 and 1.0rc1 with gcp iap do not work"
I've tried deploying kubeflow from the CLI using both versions of the kfctl binary and neither work. The 1.0 version cannot locate a gzip reader and the 0.7.2 version cannot successfully spin up the ingress for the kubeflow UI.

[2020-01-24 17:15] JakeTheWise commented on #191
Error for 0.7.2:
[code]

[2020-01-24 17:37] JakeTheWise commented on #191
Error for 1.0rc1 linux:
`failed to apply:  (kubeflow.error): Code 500 with message: coordinator Apply failed for gcp:  (kubeflow.error): Code 400 with message: gcp apply could not update deployment manager Error could not update deployment manager entries; Updating kubeflow error(400): BAD REQUEST`

[2020-01-24 17:52] JakeTheWise commented on #191
the darwin 1.0rc0 on macos works.

[2020-01-26 02:52] jtfogarty commented on #191
/platform gcp
/priority p1

[2020-01-27 13:49] jlewi commented on #119
It looks like we have an E2E test for deletion
https://github.com/kubeflow/kfctl/blob/331fb9d02799e6453b7c7924bfc4cc88817ad9cb/py/kubeflow/kfctl/testing/ci/kfctl_e2e_workflow.py#L457

https://github.com/kubeflow/kfctl/blob/master/py/kubeflow/kfctl/testing/pytests/kfctl_delete_wrong_cluster.py

So I'm going to close this as fixed.

[2020-01-27 13:49] #119 closed

[2020-01-27 14:12] jlewi commented on #26
I think we can close this out issue for kfctl when we have

1. Some unittests for kfctl
1. Unittests are being run as part of CI/CD

We have lots of unittests; e.g.
https://github.com/kubeflow/kfctl/blob/master/pkg/utils/k8utils_test.go

The test grid shows these unittest are being executed
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-kfctl

So I'm marking this as fixed.

[2020-01-27 14:12] #26 closed

[2020-01-27 14:16] jlewi commented on #105
@swiftdiaries we haven't moved our prow jobs yet so if you need to update jobs it will have to be in k8s/test-infra.

What changes need to be made to the prow jobs?

What is the remaining work to close this out?

[2020-01-27 14:18] jlewi commented on #27
@gabrielwen  Don't we have a release process for kfctl?
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#build-and-upload-kfctl-binaries

What is the remaining work here?

[2020-01-27 14:19] jlewi commented on #18
For upgrades: we are waiting on an update to kubeflow/kubeflow#3727 to figure out remaining work.

* kubeflow/kfctl#24 is still tracking CI/CD work

* kubeflow/kfctl#26 is tracking unittests and is fixed.

* I changed Testing on Release configs kubeflow/kubeflow#3688 to Recommended since the issue is P2.

* For the release process kubeflow/kfctl#24 I left a comment in the issue to figure out the r

[2020-01-27 16:41] maurogonzalez commented on #140
I was able to authenticate following this flow. Not sure if it's the correct path but it worked for me using this installation https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/#add-static-users-for-basic-auth.

[code]

[2020-01-27 21:58] mattnworb opened #192 "`kfctl show` has no flag for setting `configFilePath`"
[code]

The `init()` method of show.go in 0.7.1 does not add a `-f` flag to read anything into the `configFilePath` variable:

https://github.com/kubeflow/kfctl/blob/4df015716ef484b386d9000594e3d24e334ebe5e/cmd/kfctl/cmd/show.go#L58-L71

so when `showCmd`'s `runE` function tries to load the file at the path, it is undefined:

https://github.com/kubeflow/kfctl/blob/4df015716ef484b386d9000594e3d24e3

[2020-01-28 06:24] animeshsingh opened #193 "Operator Roadmap"
1. Support remote cluster deployment and "watcher". Additionally Operator should also be able to create the cluster and deploy on that cluster
2. Test and certify kfdef for different Cloud providers (public/private)
3. Currently the main inputs for kfdef is either parsing from a URL or a local yaml file. We need to add new helper functions to create kfApp objects using kfdef go type spec.
4. Updat

[2020-01-28 14:53] pselden commented on #184
Looks like both released versions are linux.

[2020-01-29 12:13] chethanmahadevaiah opened #194 "kfctl set-image-name command appends inventory:omitempty: null into all the kustomization.yaml files"
kfctl set-image-name command appends "inventory:omitempty: null" into all the kustomization.yaml files in the manifests dir

Command to reproduce the issue:
kfctl set-image-name test-repo.io

with this "inventory:omitempty: null" key-value pair in the yaml file, kfctl apply fails.

Workaround by deleting the added line.
                                        re := regexp.MustCompile("(?m)[\r\n]+^

[2020-01-29 23:43] jlewi commented on #191
It looks like there might be a problem talking to your K8s master.

[code]

Does kubectl work?

[2020-01-29 23:45] kunmingg opened #195 "update kfctl upgrade test to v1.0"
Currently kfctl upgrade test covers v0.7.0 -> v0.7.1 upgrade.
We should update the test to cover v0.7.1 -> v1.0.0 upgrade.

[2020-01-30 07:42] #156 closed

[2020-01-30 09:06] hemantha-kumara commented on #194
/cc @xaniasd @yanniszark
Can you please check whether it is expected behaviour to append inventory:omitempty ?

[2020-01-30 10:01] xaniasd commented on #194
@hemantha-kumara doesn't sound like expected behaviour. I can't find quickly the code doing this, I'll try to reproduce the issue and get back to you.

[2020-01-30 10:28] xaniasd commented on #194
Found it. There's a bug in kustomization v3.1.0
[here](https://github.com/kubernetes-sigs/kustomize/blob/v3.1.0/pkg/types/kustomization.go#L142) is the offending code.

[2020-01-30 20:13] jlewi commented on #18
Closing this out as we have more specific issues.

For upgrades I still think we are saying this is Alpha for 1.0 so its not release blocking.

[2020-01-30 20:13] #18 closed

[2020-01-30 23:08] #94 closed

[2020-01-30 23:12] jlewi opened #199 "pytorch job is flaky"
The pytorch job appears to be flaky

Example failure on presubmit
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/816/kubeflow-manifests-presubmit/1222997175437365248/

[2020-01-30 23:15] jlewi commented on #199
Here's the code.
https://github.com/kubeflow/kfctl/blob/c5c55f6d1b79e285f28fa433d6e4e2e739cefb63/py/kubeflow/kfctl/testing/pytests/pytorch_job_deploy.py#L42

It looks like the problem is that the test submits the job and then immediately checks if the pods exist.

That seems like a race condition.

As a short term fix we can mark the test as expected to fail.

/cc @animeshsingh @Tomcli @johnugeorg

[2020-02-02 00:47] acesir commented on #154
Note, if anyone else is still running into this issue with kubeflow 0.7 as I have on AWS switch the networking from default to something like weave/calico and it will resolve the problem correctly. Especially in scenarios of multi subnet deployments.

[2020-02-02 19:53] WillBeebe opened #210 "kfctl kustomize secretGenerator is broken"
Hi y'all. I was deploying master of the `kubeflow/manifests` and the metadata server wasn't coming up. The pod was stuck in a pending state trying to mount a secret that was not on the system. In the [metadata/overlays/db/kustomization.yaml](https://github.com/kubeflow/manifests/blob/master/metadata/overlays/db/kustomization.yaml#L12-L14) file that secret _should_ be generated by kustomize.

I ran

[2020-02-03 04:11] jlewi commented on #210
This is amazing thank you.

/assign @zhenghuiwang
/assign @gabrielwen

[2020-02-03 05:59] zhenghuiwang commented on #210
@WillBeebe Thanks for filing this issue.

What kfctl binary do you use?

I think the issue you found was fixed by #187 but kfctl RC2 doesn't contain that fix. Your PR seems only renames a constant but doesn't change any logic. Am I missing something?

[2020-02-03 07:58] WillBeebe commented on #210
@zhenghuiwang I was using the latest release from github 1.0.2 at the time. I also compiled a binary from source and tried it and the error is the same. The root cause is the key that is being saved to the kustomizationMaps => `kustomizationMaps[secretsMapGeneratorMap]` is the wrong key and not a kustomize key, changing that to `secretsGeneratorMap` fixes the issue. I haven't compiled and tested #

[2020-02-03 08:12] WillBeebe commented on #210
Confirming that #187 does fix this behavior. I trimmed my PR down to just adding the test case

[2020-02-03 08:13] WillBeebe commented on #210
I should also mention, that when I was compiling from source I didn't have #187 locally. Before 187 my fix was needed, and now it's not. :)

[2020-02-03 09:35] hemantha-kumara commented on #194
Thanks @xaniasd
We are using set-image-name command in our on-prem installation.
Are you planning to fix this in 1.0?

[2020-02-03 17:55] jlewi opened #214 "kfctl implements reconcile semantics"
/kind feature

**Why you need this feature:**
See design doc for kfctl v1: kubeflow/kubeflow#3709

One of the proposal is for kfctl to have reconcile like implementation to deal with complex ordering of operations.

Filing this issue to track implementation.

[2020-02-03 18:01] #210 closed

[2020-02-03 18:07] jlewi commented on #141
/lifecycle frozen

[2020-02-03 18:27] jlewi opened #215 "Split test_kf_is_ready into separate functions"
Related to #57

We have a monolithic test
https://github.com/kubeflow/kfctl/blob/c42f9f3498e1a4f57d91f07b95a480b191b6691e/py/kubeflow/kfctl/testing/pytests/kf_is_ready_test.py#L100

That tests that a whole bunch of applications were successfully deployed.

We should split this up so that

1. Its easy (e.g. in spyglass) to tell what failed
1 We can mark specific applications as flaky or not blockin

[2020-02-03 20:21] #195 closed

[2020-02-03 22:19] pavanaiyar opened #217 "'unsupported protocol scheme "git"' in latest Kfctl (v1.0-rc.2-13-g521fcfe)"
Background
---
In the latest kfctl version `v1.0-rc.2-13-g521fcfe` the following go-getter format repository URL:

[code]

A `kfctl build -V -f kfctl-local.yaml` Results in:

[code]

Whereas with kfctl version `v0.7.1` this happily fetches and generates the same configurations

Could someone please advise if this is intended and if there are alternate methods to describe a 'private'/enterprise Git

[2020-02-04 13:36] jlewi commented on #214
Bump to P1.
We need this to better handle errors like kubeflow/manifests#806

Right now if a single resource (e.g. certmanager) takes a long time to start we wait until it is ready before we continue. I think that is undesirable. We'd prefer to keep deploying the other applying actions and then retry.

Reconcile semantics should accomplish this.

[2020-02-04 20:27] jlewi commented on #194
@xaniasd Do you want to submit a cherry-pick to the 1.0 branch so it will be included in a future RC?

[2020-02-04 22:24] swiftdiaries commented on #170
Reopening because I'm facing similar issues on kubeadm created clusters.

[2020-02-04 22:42] swiftdiaries commented on #170
One fix is to add extra flags for API server detailed in the Istio KinD [kubeadm configs](https://github.com/istio/istio/blob/master/prow/config/)
Istio issue link: https://github.com/istio/istio/issues/18221

TL;DR: Next release of Istio will enable SDS without those flags

[2020-02-04 22:42] #170 closed

[2020-02-05 06:17] animeshsingh commented on #193
/assign @Tomcli @adrian555 @animeshsingh

[2020-02-05 20:09] xaniasd commented on #194
sure thing!

[2020-02-06 06:17] marcindulak opened #222 "Tagging of rc releases is inconsistent with the tarball names"
Started from https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.3

![Screenshot from 2020-02-06 07-13-49](https://user-images.githubusercontent.com/3178318/73910731-6b4eed00-48b0-11ea-81ac-c42231a3c6ba.png)

[2020-02-12 06:20] gabrielwen opened #228 "endpoint_is_ready test is failing"
Seems like to be related to Python 2.x deprecation:
https://stackoverflow.com/questions/47142848/python-sslerror-bad-handshake-unexpected-eof

Updating test worker Dockerfile.

[2020-02-12 13:01] vpavlin opened #229 "Rename the operator in OLM"
I have 2 issues with the recently merged PR for operator CSV

1. The name of the operator should be `kubeflow-operator` not `kfctl` - the whole thing should be probably renamed to keep things consistent with the name of the deployment

   Right now the operator shows up as `kfctl` in OperatorHub - https://operatorhub.io/operator/kfctl, it would be best to make things consistent and rename it to ku

[2020-02-12 13:27] pdmack commented on #229
Agreed @vpavlin
Also, the metadata should use the proper case of "Kubeflow"

`Check [KubeFlow Operator documentation]`

[2020-02-12 14:38] jlewi commented on #228
@gabrielwen I just saw this. It looks like we might have both been working on updating the test worker image.

See https://github.com/kubeflow/testing/pull/606

[2020-02-13 09:41] hemantha-kumara opened #231 "kfctl set-image-name command is not considering newName to update priv registry"
I tried to update one of components latest container image using manifests and used kfctl set-image-name to update registry with private repo, set-image-name is not considering newName for udpating registry

Updated argo kustomization.yaml as below

[code]
executed `kfctl set-image-name test.io` and updated `kustomization.yaml` is as below
[code]

expected `kustomization.yaml` is as below
[code]

[2020-02-13 09:46] hemantha-kumara commented on #231
@xaniasd Can you please check?
Due to this issue, we are suppressing the flexibility of kustomization's name/newName fields

[2020-02-13 09:48] hemantha-kumara commented on #231
/cc @yanniszark

[2020-02-13 10:26] descampsk opened #232 "Add an option to the AWS plugin not to add fsx inline policy which is too permissive"
When you use the AWS Plugin, kfctl will automaticaly add the [iam_csi_fsx_policy.json] policy to the worker nodes, even if we don't use the FSX CSI.

This policy is too permissive:

[code]

We need to delete manually this inline policy to be able to use Kubeflow in production for security reasons.

I would like to have an option (useFsx: false for example) to the AWS Plugin here:
[code]

to allow

[2020-02-13 12:28] hemantha-kumara commented on #231
Here are the changes i tested, seems it is working(pls note for testing changes, I have used 0.7.1 code base from kubeflow/kubeflow repo - same changes should work even with kfctl repo code base)

[code]

[2020-02-13 13:40] jlewi opened #233 "kfctl 1.0 should list 1.0 config files in kfctl help"
https://github.com/kubeflow/kfctl/blob/08a2e3736b2ca25f1f7a327090ecc48e014aa90b/cmd/kfctl/cmd/apply.go#L34

We are still referring to the 0.7.0 configs.

/cc @richardsliu

[2020-02-13 13:59] jlewi commented on #228
@gabrielwen any update on this?

[2020-02-13 18:37] Jeffwan commented on #232
Thanks for the feedback. What about other components like EFS CSI plugin, etc?
At the same time, we have pod IAM for service account feature. We plan to have one service account like `kf-admin` and assign all permission to components need to talk to AWS service. Is that accepatable?

[2020-02-13 20:36] #233 closed

[2020-02-14 02:11] Jeffwan opened #235 "Simplify and improve AWS kfctl provision process"
1. cert-manager namespace is not deleted. We want to delete `kubeflow`, `istio-system` and `cert-manager` and give clean cluster back to user.

2. IAM role for service account `kf-admin` and `kf-user` and oidc provider web identity are not deleted by default

3. https://github.com/kubeflow/manifests/blob/v1.0-branch/aws/infra_configs/cluster_features.yaml this file was introduce in kfctl 0.5, we u

[2020-02-14 07:23] gabrielwen commented on #228
still working on the py3 image.

[2020-02-14 10:52] Julianxo opened #236 "kfctl build fails with Error opening a gzip reader"
/kind bug

**What steps did you take and what happened:**
I followed the tutorial for AWS setup on this page https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/.
I also followed this tutorial to setup TLS and AWS Cognito.

When i come to the step `kfctl build -V -f ${CONFIG_URI}` in 3 of 4 cases I get the following error:
Code 400 with message: couldn't download URI https://github.com/kubef

[2020-02-14 15:10] descampsk commented on #232
I check this PR https://github.com/kubeflow/kfctl/pull/225/files and I think it's a very cool feature but it won't fix my issue because this inline policy will be assign automatically to all roles provided in the plugins (If i correcly understand the changes)
For security reasons, we have to manage ourselves any iam policies including ingress alb policy or efs csi policy.
If i don't provide any ro

[2020-02-14 15:43] jtfogarty opened #237 "Document installation behind proxy"
The following steps will allow installation of Kubeflow behind a proxy server
The assumption is that docker is able to pull through the proxy

1) Create alias for proxy
`alias https='https_proxy=https://server:port'`

2) Download kfctl
   `https wget https://github.com/kubeflow/kfctl/releases/download/v1.0-rc.4/kfctl_v1.0-rc.3-1-g24b60e8_linux.tar.gz`
   extract to /usr/local/bin

3) Download kfde

[2020-02-14 15:44] jtfogarty commented on #237
/area docs

[2020-02-14 21:26] Jeffwan commented on #232
@descampsk

If you use this feature, you don't have to specify roles in aws plugin. all components talking to AWS will use the service account with IAM policy. That means we won't add policies in node group role. You are protected.  Does this meet your need?  check here for more details.
https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html

[2020-02-15 00:16] Jeffwan commented on #67
PR https://github.com/kubeflow/kfctl/pull/225 is merged and we can close issue in `kfctl` project.

[2020-02-15 00:16] #67 closed

[2020-02-17 02:08] jackskj opened #240 "Overriding restConfig fails to create k8s clientSet"
Overriding the restConfig using
github.com/kubeflow/kfctl/v3/pkg/kfapp/kustomize.Setter
fails to create kubernetes clientSet.

here is a sample code to illustrate the issue.
`
// get new coordinator
kfApp, _ := coordinator.NewLoadKfAppFromURI(configFileName)
crd := kfApp.(coordinator.PluginGetter)
kustPluginManager, _ := crd.GetPlugin(kftypesv3.KUSTOMIZE)
// override rest config)
kustPluginManager

[2020-02-17 12:53] vpavlin opened #241 "Kubeflow operator should not delete namespace it did not create"
Quoting operator.md:

[code]

When you do `oc delete -f <kfdef>` the operator deletes the namespace which it should not as it does not own it

[2020-02-17 13:00] vpavlin opened #242 "Name the .cache and kustomize directories based on the KFDef name"
Currently Kubeflow operator will use `/tmp/.cache` and `/tmp/kustomize` to store the downloaded and generated manifests.

These directories should be ideally based on the KFDef resource name, since once the `/tmp/kustomize` exists, operator will skip the `kustomize.Generate` step:

[code]

Imagine a scenario where:

1. A user submits KFDef
2. Realizes he needs to add another manifests repo to the

[2020-02-17 13:37] vpavlin opened #243 "Segfault in the operator if the `manifests` repo is missing"
Just hit the following error [1]

The cause seems to be that I did not have a repo named `manifests` in the KFDef.

`kfctl` actually fails with

[code]

Is anyone aware why the name *manifests* is required?

Can the operator at least not fail, but rather provide a reasonable error?

[1]
[code]

[2020-02-17 22:18] animeshsingh commented on #241
@vpavlin this needs to be implemented in two phases - we need kfclt to know what has been deployed,  and then be able to delete only what it has deployed. Will require adding owner reference. @adrian555 and @Tomcli will look at it

/assign @adrian555 @Tomcli

[2020-02-18 05:58] gabrielwen commented on #228
kubeflow/tf-operator#1133 has to be checked in first so that #227 can be fixed.

[2020-02-18 14:59] jlewi commented on #228
@gabrielwen could you please explain what the issue is? IIRC there is an issue with the endpoint test requiring python3?

Do we need to update all the tests to use python3 just to fix the endpoint ready test? Could we just run the endpoint is ready test using the new docker image and let all the remaining tests continue to use the existing python2 based docker image?

[2020-02-18 17:43] gabrielwen commented on #228
you are right we could just use python3 image on endpoint test.  it's just that I thought we'd like to migrate to python3 images.  however, I think changing to python3 on kfctl e2e test is almost completed.

[2020-02-18 18:55] adrian555 commented on #241
We were looking at the issue and comparing the two options to handle the `delete`. One is to use the `ownerReferences` which could only work for kubeflow deployed through operator which has the `kfdef` object as the root owner reference and let the garbage collection do the cleanup. But this approach won't be able to handle the deployment through `kfctl` command line. The other one is to attach a

[2020-02-18 19:27] animeshsingh commented on #241
Thanks @adrian555

@jlewi @gabrielwen what's the plan for kfctl delete? Please see @adrian555 response above

[2020-02-18 22:22] jlewi commented on #228
@gabrielwen we should definitely migrate to python3; however it would be good to get the endpoint test fixed as soon as possible so that get clear signal about whether KF is working or not.

[2020-02-19 02:38] kunmingg opened #246 "kfctl on GCP should support deploying to existing GKE cluster."
Currently with DM configs kfctl on gcp creates a new GKE cluster first and then deploy kubeflow on it.
kfctl should support deploying to existing GKE cluster as well.

[2020-02-19 04:12] jlewi commented on #241
What namespaces are you talking about?

It seems like there are 3 classes of namespaces

1. The namespace where the CR is created
1. The system namespaces created by kubeflow
    * Primary namespace would be kubeflow where shared components run
    * istio-system and knative would also fall into this category
1. User namespaces
    * These are profile controlled namespaces where users run notebook

[2020-02-19 07:06] devgrok commented on #217
Looks like it was broken in this commit https://github.com/kubeflow/kfctl/commit/21cc65eff97c02c64cc5ae15a3e557d215541d6d
Removed support for go-getter uri's for the manifest repos

And hacked together patch is:
https://gist.github.com/devgrok/c1b3941580727a0874c40e26c1126f24

[2020-02-19 13:57] vpavlin commented on #241
Thanks for the detailed thoughts @jlewi

Right now the Kubeflow is deployed to wherever the CR is. This seems like a correct behaviour consistent with many operators I have encountered - why do you think it is wrong?

In case we agree it is wrong, we will need to add deployment namespace into the spec somehow so that kfctl and the operator can react to it .

If you believe Kubeflow should "own" th

[2020-02-21 00:26] swiftdiaries opened #250 "kfctl implements State Store"
Related issue: https://github.com/kubeflow/kfctl/issues/214

The kfctl-operator provides a built-in way to handle reconciliation of KF clusters by using the etcd state store (built-in with k8s). But this means that you need a k8s cluster.

For non-k8s based KF deployments; kfctl and kfctlServer; there is a need for implementing reconciliation.

One of the ways we can infer the state of the cluster

[2020-02-21 00:27] animeshsingh commented on #241
thanks folks

@jlewi coming to the specific problem at hand - quickly either we fix it in a more generic way in kfctl delete (as mentioned by @adrian555  -attach a common label to the top level components defined in the kfdef yaml and the delete action will search all objects with the label and delete them.), or we use the `ownerReferences` with Operator (would prefer that)

[2020-02-21 13:42] yanniszark commented on #250
Hi @swiftdiaries, this is very interesting, looking forward to your findings!
Some thoughts:
* Kubernetes controllers are asynchronous and rely on watching etcd for events. Is this a goal here? How will this be achieved with different data stores?
* What exactly will be stored inside the data store?
* S3-like stores also present the technical limitation of being eventually consistent, vs the files

[2020-02-21 14:34] vpavlin commented on #241
My 2c - using the label and delete from kfctl sounds like a hack and I would definitely prefer the use of `ownerReferences` since that does not require kfctl to reimplement the clean up logic already present in Kubernetes.

@animeshsingh  what do you think about my proposal to upload the KFDef object to the cluster even when deploying using `kfctl`?

[2020-02-24 02:58] AndrewMcFarren opened #252 "kfctl build fails invalid config: version not supported, got v1"
Steps I used:

wget https://github.com/kubeflow/kfctl/releases/download/v1.0-rc.4/kfctl_v1.0-rc.3-1-g24b60e8_linux.tar.gz

tar -xvf kfctl_v1.0-rc.3-1-g24b60e8_linux.tar.gz

export CONFIG_URI="https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws.v1.0.0.yaml"

export AWS_CLUSTER_NAME=kubeflow-demo
export KF_NAME=${AWS_CLUSTER_NAME}

export BASE_DIR=/home/ubuntu
export KF_

[2020-02-24 19:41] jfantell opened #253 "kfctl binary"

[2020-02-24 21:01] #252 closed

[2020-02-24 22:25] animeshsingh commented on #241
thanks @vpavlin - " upload the KFDef object to the cluster even when deploying using kfctl" - sounds good, there are other open issues on making kfctl client have more intelligence (aka behave like an operator), and we can bundle this with those.

@adrian555 can you open an issue vis a vis @vpavlin request, and then move ahead and implement the current delete functionality using ownerReference.

[2020-02-25 03:43] animeshsingh commented on #250
thanks @swiftdiaries - looks good, but am not sure we want to create a split brain syndrome here. Why do we want to replicate something which operator + etcd combination is already doing? If anything, we can figure what else we can store in etcd, but use it as a master.  And for folks looking for operational characteristics, recommend using the master? Yes we need k8s, but anyone deploying kubeflo

[2020-02-25 10:16] #184 closed

[2020-02-25 10:17] jlewi commented on #178
Obsolete since we are in the process of releasing 1.0

[2020-02-25 10:17] #178 closed

[2020-02-26 01:50] Jeffwan commented on #236
@Julianxo

Thanks a known issue for 0.7.1. Sorry for the problem, there's a walkaround for this issue.
https://github.com/kubeflow/kfctl/issues/178

[2020-02-26 01:51] Jeffwan commented on #236
Please try 1.0rc at this moment

[2020-02-26 01:51] Jeffwan commented on #235
/assign

[2020-02-26 12:41] Julianxo commented on #236
I can confirm that it is fixed in 1.0rc, thanks.

[2020-02-26 12:41] #236 closed

[2020-02-26 13:00] Julianxo opened #255 "kfctl does not create IAM Roles for OIDC Identity Provider"
/kind bug

**What steps did you take and what happened:**
I followed this tutorial
https://www.kubeflow.org/docs/aws/iam-for-sa/

I added the line
`enablePodIamPolicy: true`
to my config under spec of the aws plugin.
I ran kfctl apply.
But the IAM roles are not created.

**What did you expect to happen:**
I would expect kfctl to create the two IAM roles kf-admin-${AWS_CLUSTER_NAME} and kf-user-${A

[2020-02-26 22:04] swiftdiaries commented on #250
Hey @animeshsingh
Went through the operator code and issues, it'll probably be better to re-use all the work done there.
Regarding the dependency on k8s, I was thinking more about deploying to multiple clusters like the Click2Deploy app currently does for GCP.
If an operator were to install Kubeflow on the same cluster then it's very useful. But if we want to deploy and manage Kubeflow for a fleet

[2020-02-27 03:46] animeshsingh commented on #193
@swiftdiaries the roadmap is listed here - and remote deployment is on top of the list of requirements.
https://github.com/kubeflow/kfctl/issues/193

[2020-02-27 18:42] berndverst opened #256 "kfctl 1.0 missing `-f` flag for specifying CONFIG URI"
Downloaded latest `kfctl` 1.0 within the hour. Missing `-f` flag for specifying CONFIG URI used in every cloud provider `kfctl` install instructions.

Need missing flag implemented or update to the deployment documentation.

[2020-02-27 18:59] berndverst commented on #256
Never mind -- I had another outdated `kfctl` earlier in my path.

[2020-02-27 18:59] #256 closed

[2020-02-28 06:22] magick93 opened #260 "error - Filename too long"
Hello

I'm trying to follow the instructions for installing kubeflow on Openshift.

Step 2 says:

This last command significantly increases the disk space used - the `manifest` folder jumps in size to over 7 gigs!

And it errors with the following:

[code]
## Version

kfctl v1.0-0-g94c35cf

[2020-02-29 00:46] adrian555 commented on #260
This is due to the kfdef manifest file `kfctl_openshift.yaml` is inside the manifest repo directory. It will cause the recursive directory copy never ends when kfctl builds the kustomization configuration. I have created a PR https://github.com/kubeflow/website/pull/1760 in `kubeflow/website` repo for correct instruction.

[2020-02-29 01:27] adrian555 opened #262 "Create the KFDef object to the cluster when kubeflow is deployed using kfctl CLI"
As a follow up of #241, this issue is opened for discussion on creating the KfDef object when the kubeflow is deployed through `kfctl` command line.

Background:

Currently if kubeflow is installed through kubeflow operator with the instructions in https://github.com/kubeflow/kfctl/blob/master/operator.md, a KfDef kind object is created. We can use this object as the root owner object for any kube

[2020-02-29 03:33] sarahmaddox commented on #260
/assign @adrian555
Thanks @adrian555!

[2020-02-29 07:19] vpavlin commented on #260
@adrian555 Do you know what change is causing this? Because this issue only appeared with 1.0 - the documentation worked perfectly fine with kfctl 0.7. I am not against updating the docs, but it sounds quite a lot like regression.

[2020-02-29 07:29] vpavlin commented on #242
Hmm..now that I read my description, it really does not make much sense. Sorry for this.

IIRC I came across this issue when I submitted a KFDef names `X`, deleted it and submitted another - different - KFDef named `Y` where `Y = X + additional component`.

And I combined this problem with potentially another issue where we want to submit 2 KFdefs - in case, in the future, we have the ability to e

[2020-02-29 07:33] vpavlin commented on #262
Thanks @adrian555

I think this would be best and keep things consistent. I believe reimplementing core K8S functionality (owner based garbage collection) is not a good idea and having point of reference for what is deployed (KFDef manifest uploaded) in the cluster might be useful anyway.

[2020-03-02 21:20] adrian555 commented on #242
@vpavlin yes, I agree in a case when the kubeflow supports multiple instances within a namespace or a cluster (note that current operator is a cluster scoped). And based on just resource name may be solving the update partially. We can have a PR to append the KfDef name as I think it is a right thing.

I also agree the bigger problem is when the configuration of a certain component gets changed, b

[2020-03-02 21:50] adrian555 commented on #260
@vpavlin I did not see the significant code change in the `Generate` function from `v0.7-branch` to `master`. I did rebuilt the `kfctl` on `v0.7-branch` and seem to hit the same problem.

[code]

[2020-03-03 02:00] Jeffwan commented on #255
@Julianxo Sorry this changes has not been released yet. Syncing with release team to cut the release for this change.

[2020-03-03 22:10] kunmingg opened #265 "GCP IAP: kfctl should create OAuth clients for IAP programmatically"
Currently GCP users need to setup IAP client manually: https://www.kubeflow.org/docs/gke/deploy/oauth-setup/

Since IAP API is now GA: https://cloud.google.com/iap/docs/programmatic-oauth-clients
kfctl should create OAuth clients for IAP programmatically when env var like `CLIENT_ID` is not set.

[2020-03-04 07:22] vpavlin commented on #260
Interesting, then probably some dependency changed some behaviour. Anyway, probably better to fix the docs

[2020-03-04 07:38] #64 closed

[2020-03-04 07:38] #235 closed

[2020-03-04 07:39] Jeffwan commented on #232
In latest kfctl, we don't apply fsx policies automatically. We will cut a new release for kfctl soon.

[2020-03-04 19:36] adrian555 commented on #229
I agree to the changes suggested above and I will work on PRs to both repos.

[2020-03-04 20:30] Jeffwan opened #266 "AWS OIDC: create OIDC secret alb controller needs"
1.  ALB OIDC setting needs `clientId` and `clientSecret`
2. ALB ingress controller need secret container `clientId` and `clientSecret`.

In our interface, we actually use `clientId` and `clientSecret` directly, what we need to do is create a secret and pass to alb ingress controller.

[2020-03-05 01:07] #266 closed

[2020-03-05 10:24] Julianxo commented on #255
@Jeffwan Ok. I was just confused because it is already in the documentation.
https://www.kubeflow.org/docs/aws/iam-for-sa/

[2020-03-05 11:16] Julianxo opened #269 "Kfctl ignores values set in kfctl config file"
/kind bug

**What steps did you take and what happened:**
I followed this tutorial
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
for setting up kubeflow with aws_cognito.
I ran kfctl build and changed the following values in the kfctl config file (kfctl_aws.v1.0.0.yaml):
CognitoAppClientId, CognitoUserPoolArn, CognitoUserPoolDomain, certArn, region and roles
Then I ran kfctl apply wit

[2020-03-09 22:57] yanniszark opened #274 "configmapgenerator with files is broken"
If an overlay's configmapgenerator specifies file inputs, those show up as env sources and also incomplete.
This is the faulty code:
https://github.com/kubeflow/kfctl/blob/master/pkg/kfapp/kustomize/kustomize.go#L641-L647

/priority p0

[2020-03-11 09:17] Julianxo commented on #269
I found the reason.

**Wrong**
My installation still followed the installation instructions from version 0.7.1.
I ran `kfctl build -f ${CONFIG_URI}`, then I edited the kfctl_aws_cognito.v1.0.0.yaml and filled it with all the values for CognitoAppClientId, CognitoUserPoolArn, CognitoUserPoolDomain, certArn, region and roles. Then I ran `kfctl apply -V -f kfctl_aws_cognito.v1.0.0.yaml`.

**Right**
I

[2020-03-11 09:17] #269 closed

[2020-03-11 13:38] chajath opened #278 "Trying to recreate in different GCP zone - fails with store creation"
I've realized GCP deployment can't complete in us-east1-b due to the lack of GPU instance support (might be good to document this!) and was trying to update the zone setting in the config and do `kfctl apply` again, I'm stuck in the following errors:

[code]

I've went in to GCP console and manually deleted these disks, but that didn't solve the problem. Any way I can manually delete and recreate

[2020-03-11 14:58] Julianxo opened #279 "Kubeflow does not create a profile/namespace on first sign in"
/kind bug

**What steps did you take and what happened:**
I followed this tutorial
https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/

There is already the initial user with an own namespace. (For an initial user the process seems to work)
Then I signed up and logged in with a new user. But I cannot see a namespace nor a profile is created in kubernetes.

**What did you expect

[2020-03-15 12:56] chethanmahadevaiah opened #280 "kfctl set-image-name command not found anymore in latest kfctl 1.0.1 bin"
kfctl set-image-name command not found anymore in latest kfctl 1.0.1 bin.
Tried updating the image repos to the custom repository using kfctl set-image-name command, however error thrown when executed.
STDOUT of kfctl set-image-name unknown command "set-image-name" for "kfctl"

This functionality was working fine with few issue in 0.7.1 kfctl version.

bin used: kfctl_v1.0.1-0-gf3edb9b_linux.tar.g

[2020-03-15 13:29] yanniszark commented on #280
@chethanmahadevaiah I believe it was feature-flagged behind the alpha command.
So `kfctl alpha set-image-name`

[2020-03-15 13:32] chethanmahadevaiah commented on #280
Thank you @yanniszark, it must work now then.

[2020-03-15 13:40] yanniszark commented on #280
@chethanmahadevaiah closing then
We have an open issue for explaining the usage of kfctl set-image-name, hopefully someone will get this soon: https://github.com/kubeflow/website/issues/1539
/close

[2020-03-15 13:40] #280 closed

[2020-03-16 15:28] vpavlin commented on #229
1. addressed by https://github.com/kubeflow/kfctl/pull/270, thanks @adrian555!

[2020-03-16 15:48] vpavlin commented on #242
My approach would be:

* Apply - start from clean cache (this sounds obvious, but if the Delete event does not clean the cache, apply does not start from scratch, so in case:
  * apply
  * operator crash
  * delete
  * operator restart
  * apply - here we would not start from fresh cache even if the delete cleans it, so it would be best to clean cache on apply always
* Update - start from clean ca

[2020-03-16 18:47] Julianxo commented on #279
I finally found the reason why! I though that kubeflow would use the usernames to distinguish between the users. But internally kubeflow uses the email address. So if I sign up for a new user with the same email address kubeflow do not treat me as a new user and no new workspace is created. If i signup with a different email address everything works as expected.

[2020-03-16 18:47] #279 closed

[2020-03-16 21:57] kunmingg opened #281 "kfctl: support one command to bootstrap KCC controller"
With current kfctl logics, we can have a new command to bootstrap KCC controller environment on GCP.
Specifically the command should:
* create a GKE cluster
* create a GCP service account for KCC with necessary permissions
* deploy KCC controller inside new GKE cluster, with workload identity of the new service account

KCC instructions: https://cloud.google.com/config-connector/docs/how-to/gettin

[2020-03-16 22:01] yanniszark commented on #281
@kunmingg this seems more like a manifests issue.
Isn't the config controller similar to a k8s controller that people can install through yaml?

[2020-03-16 22:22] kunmingg commented on #281
@yanniszark
Description updated. The new cmd will primarily focus on creating cluster and grant permission for KCC controller.

[2020-03-17 20:53] #241 closed

[2020-03-17 21:09] tech348712013870132 opened #283 "How to set custom nodeSelector for deployments"
Is it possible to say kfctl that all deployments should be created with a specific and custom nodeSelector on setup (context: kubeflow)?
We are using the latest kfctl_istio_dex.yaml (kubeflow) and kfctl version for our kubernetes setup but not yet figured out how to accomplish this (or have we maybe overlooked the possibility?)

We would really love to see an implementation for this feature :)

[2020-03-18 18:02] r0mk1 commented on #253
See the same error with `kfctl_v1.0.1-0-gf3edb9b_linux.tar.gz` on archlinux with 5.4.3-arch1-1 kernel

[2020-03-19 14:28] jlewi commented on #283
Is this not supported out of the box today.  Following a shift left philosophy you could do this by generating the YAML for all the kustomize applications and then adding a node selector.

You might want to investigate creating a custom kustomize transformer (or plugin) in order to recourse through all the pods and add a node selector.

[2020-03-19 14:28] #283 closed

[2020-03-19 21:47] jtfogarty commented on #278
/area gcp
/priority p1
/platform gcp

[2020-03-20 19:10] adrian555 opened #284 "Kubeflow operator versioning"
Adds to Operator Roadmap issue #193 to track:

Currently the kubeflow operator is hard coded with version `0.1.0`. A new versioning mechanism needs to implement to avoid following issues:

- Kubeflow and kfctl have moved from `0.7` to `1.0`, operator does not reflect such change.

- The version of the docker image for the operator is `aipipeline/kubeflow-operator:v0.1.0` which was built with an ol

[2020-03-21 17:37] jtfogarty opened #287 "Provide warning that no default storage class exists"
Before `kfctl` applies the manifest to Kubernetes, check to ensure a default storage class exists.

This would be a nice feature for on-prem installations

[2020-03-21 17:37] jtfogarty commented on #287
/are kfctl
/priority p1

[2020-03-22 18:56] descampsk commented on #232
Yeah I think it s fixed by 1.0.1.
Thanks I close.

[2020-03-22 18:56] #232 closed

[2020-03-23 01:53] jlewi opened #289 "unittest for setowner reference"
#271 added code to kustomize.go to set owner references but no unittest was added.

@adrian555 could you please add a unittest?

/cc @Tomcli @animeshsingh

[2020-03-23 05:49] animeshsingh commented on #289
/assign @adrian555

[2020-03-23 18:47] #260 closed

[2020-03-23 22:51] animeshsingh commented on #193
7. Operator  versioning scheme https://github.com/kubeflow/kfctl/issues/284

[2020-03-25 19:44] #289 closed

[2020-03-26 16:21] adrian555 commented on #193
8. fix kfapp directory in operator container. The current `/tmp/` does not work for cases where the CR is updated and other cases. One of them was reported in #242

[2020-03-29 14:43] yanniszark opened #293 "Improve the kfctl delete algorithm"
I'm opening this issue to explain what kfctl delete does right now, the problems users have bumped into and how we can make it better.

**What `kfctl delete` does right now:**
* Delete some predetermined global resources with a LabelSelector:
    * CRDs, ClusterRoleBindings, ClusterRoles
* Delete Kubeflow namespace

**Issues with current approach:**
* Relies on correct labels existing on Kubeflow

[2020-03-30 11:59] plaffitte commented on #252
Hi @AndrewMcFarren I'm facing the exact same situation, would you mind sharing how you resolved the issue?

[2020-03-30 19:53] AndrewMcFarren commented on #252
Haven't played with this in awhile, but as I recall I had to find kfctl installation/binary in my path and remove/delete it.  Then re-install it, and then it worked.

[2020-03-31 00:01] jlewi commented on #293
@yanniszark are you proposing that  `kfctl delete` is just sugar for `kustomize build -f | kubectl delete -`?

Should we even have a `kfctl delete` command? At this point maybe we should keep it only for backwards compatibility. However, assuming `kfctl delete` is just a wrapper for `kustomize build -f | kubectal delete -` then maybe it would be better not to have `kfctl delete` as its an invitati

[2020-03-31 17:21] yanniszark commented on #293
Yeap! In the same way that apply is a wrapper for kustomize build -f | kubectl apply -f -
The kfctl delete command is to wrap the loop over the kustomize packages in the order defined by KfDef.
What do you think?
Implementation should be fairly straightforward:

1. Build kustomize folder if necessary
2. For every application in reverse KfDef order, do an equivalent of kustomize build | kubectl del

[2020-03-31 21:45] kunmingg opened #294 "e2e test for kubeflow on KCC"
We need to setup e2e test to cover kubeflow on KCC:
* setup long running KCC controller in kubeflow test project
* during every e2e test run:
  * create CNRM resource in KCC controller
  * deploy kubeflow manifests
  * run all sub tests
  * delete CNRM resources

[2020-04-01 06:04] jokerwenxiao commented on #253
i had the same problem
kfctl version: kfctl_v1.0.1-0-gf3edb9b_linux.tar.gz
kubernetes version: 1.18.0
linux ：centos7.7 (vm)

[2020-04-01 13:30] discordianfish commented on #293
This won't work for resources that are removed from kustomize though, right?

[2020-04-01 14:15] yanniszark commented on #293
@discordianfish can you elaborate a bit more on your point?
I don't think I understand it. An example would also be very helpful.

[2020-04-02 00:30] Jeffwan commented on #140
@jlewi If IAP supports programmatic authentication, that means KFServing can use same istio ingress gateway.  kfserving-ingressgateway without auth for IAP is not for authentication purpose but only knative probe issue?

[2020-04-02 13:15] jlewi commented on #140
@Jeffwan  I don't know the answer to that question; I had have to defer to the kfserving folks.

[2020-04-02 13:18] jlewi commented on #293
@yanniszark +1

[2020-04-02 14:39] jlewi commented on #250
There is a well defined pattern for using operators to control other infrastructure.

The pattern would be you have one K8s cluster that provides the control plane. This is where the "controller" (e.g. kfctl operator) would run. Each instance of the KFDef resource would then control a Kubeflow deployment that would (most likely) be running on a different cluster.

That said my oppinion on a KFDef/

[2020-04-05 17:39] jlewi opened #296 "istio injection in Kubeflow namespace breaks KF 1.0 configs"
#131 changed kfctl to set a label on the kubeflow namespace to turn on istio sidecar injection in the kubeflow namespace.

This change is not backwards compatible; i.e using an updated kfctl with the existing KFDef 1.0 manifests would cause Kubeflow 1.0 to stop working because kubeflow 1.0 is not comaptible with istio side car injection in the kubeflow namespace.

This is causing the tests on the

[2020-04-06 13:58] jlewi commented on #281
@kunmingg Lets discuss to figure out the priority.

[2020-04-06 14:40] discordianfish commented on #293
@yanniszark If kustomize generates a resource 'foo', we update the manifests so that it won't generate the source 'foo', a `kustomize build -f | kubectl delete` wouldn't delete it.

But now that I think about it, that's not a problem. We just need to make sure that the delete runs with the same manifests as the create/apply did. IMO there should be some sort of safe guard to ensure that. For examp

[2020-04-07 00:43] Bobgy commented on #296
Makes sense to me.

So we can guard the behavior of enabling istio injection in kfctl behind a config value in KfDef?
Who's the best person I should talk to? Should I try to contribute this one?

[2020-04-07 21:59] wdhorton opened #298 "aws/k8sClient doesn't respect KUBECONFIG env var"
I had trouble installing Kubeflow, I tracked down the issue to the fact that it was trying to install on an old cluster I had torn down. This is because despite the fact that I was using the `KUBECONFIG` env var to point to the right kubeconfig, it wasn't respecting that. This led to weird results where I could `kubectl create` a namespace but `kfctl` would fail to create a namespace.

This is a r

[2020-04-09 15:18] jlewi commented on #296
@Bobgy Yeah I think it would be great if you could pick this up. I think the difficulty will be deciding on a good pattern for implementing this.

Here are some of the options I can think of.

1. Adding an explicit field to KFDef for this
1. Adding logic based on the version/url of the manifests to decide whether its sufficiently high enough version to turn on istio
1. Applying KFDef's labels to t

[2020-04-09 15:25] jlewi commented on #57
Also I think the direction we want to move is kfctl should mostly be focused on helping users build manifests and not applying/deleting them. apply/delete(#293) should mostly be synonymous with kubectl apply/delete.

So kfctl testing should mostly focus on generating the config files and validating them but not necessarily applying them and verifying they produce a working deployment.

So similar

[2020-04-09 16:05] Bobgy commented on #296
Thanks for the thorough evaluation of tradeoffs. I totally agree `#5` is the best from my point of view (that was actually my initial attempt before forking kfctl, but I figured out it didn't work because namespace need to be created at the beginning, patching additional label during resource creation may cause problems).

But maybe we can have a way to let kfctl apply namespace from a resource fi

[2020-04-10 00:04] Jeffwan commented on #293
This would be helpful. in AWS implementation, we explicitly list those dependencies and clean them up during the `delete`. This is not that elegant and we definitely need better design on this.

https://github.com/kubeflow/kfctl/blob/ff26056240c533f37bf8768902886ac454fbf5bf/pkg/kfapp/aws/aws.go#L102-L135

[2020-04-10 00:07] Jeffwan commented on #298
/assign @Jeffwan

[2020-04-10 01:05] Jeffwan commented on #255
This has been available since v1.0.1. Sorry for the confusion. @Julianxo

/close

[2020-04-10 01:06] #255 closed

[2020-04-10 01:06] Jeffwan commented on #255
/assign @Jeffwan

[2020-04-10 01:07] Jeffwan commented on #252
Please always use the latest kfctl. Glad you figure it out

[2020-04-10 20:29] #298 closed

[2020-04-10 21:58] Jeffwan opened #303 "Support addon list in KfAwsPlugin"
In v1.0-branch, we don't apply all AWS plugins by default. The major concern is it requires many policies and user either lack of permission to do this or they want to have minimum policies attach to node group or IRSA. Some users actually want to install them easily in their cluster.

We'd better support addons to handle these requests, the challenge is we need to handle them in different places.

[2020-04-10 21:58] Jeffwan commented on #303
/assign @Jeffwan

[2020-04-11 22:25] jlewi opened #304 "Upgrades in 1.1 should follow kustomize off the shelf workflow"
Filing this issue to track simplifying the upgrade process in Kubeflow 1.1.

Here's the current instructions for how Kubeflow upgrades are done.
https://www.kubeflow.org/docs/upgrading/upgrade/

This differs from the standard off the shelf workflow for kustomize applications
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/workflows.md#off-the-shelf-configuration

In particular, we in

[2020-04-12 23:26] jlewi commented on #293
It sounds like the problem @discordianfish fish is describing is pruning. This comes up in upgrades.

See kfctl/issues#304 for some thoughts on pruning.

In general I think we should get out of the business of applying/deleting manifests. We should follow a shift left philosphy and defer that functionality to tools that can handle that better than we can. Ideally, I think we should be headed in th

[2020-04-13 21:17] jbottum commented on #222
@marcindulak hey marchindulak, is this still an open issue

[2020-04-14 00:33] jlewi commented on #296
If the order of operations is

* Create istio namespace with labels
* Create istio resources
* Create kubeflow namespace with labels
* Create kubeflow resources

So kubeflow resources are created after istio and if the namespace is labeled with istio side car injection then istio would already be running and side cars will be injected

[2020-04-14 03:21] jlewi opened #306 "kfctl not building breaking unittests - error fetching modules"
It looks like presubmits are broken.

More detail in kubeflow/manifests#1103

It looks like the problem is that something changed in kfctl's dependencies and it no longer builds with go 1.12 which is what the test worker image is using.

[2020-04-14 03:23] jlewi commented on #306
My assumption that this was a go 1.14 issue is wrong. I looks like kfctl is a different bug.
Whether I use go1.12 or 1.14 I get the error

[code]

[2020-04-14 03:26] jlewi commented on #306
I can reproduce locally by setting a new gopath.

[code]

[2020-04-14 03:45] jlewi commented on #306
I think the problem might be that we are turning GOMODULES off when fetching deepcopy-gen

[code]

Maybe if we change this to

[code]

[2020-04-14 03:53] jlewi commented on #306
With gomodules turned on I get

[code]

The problem appears to be in running some of the code gen

[2020-04-14 04:05] jlewi commented on #306
So it looks like the problem is that deep-copy-gen takes in a header file
https://github.com/kubernetes/code-generator/blob/master/hack/boilerplate.go.txt

The default location is
${GOPATH}/src/k8s.io/code-generator/hack/boilerplate.go.txt

For some reason when we call go get we aren't fetching the source now so that file doesn't exist.

[2020-04-14 04:30] jlewi commented on #306
I think there might be a secondary issue with using go1.12 when I tried to run `make build-kfctl` in gcr.io/test-worker:latest which has go 1.12 it failed.

[2020-04-14 06:58] SatwikBhandiwad opened #308 "creating secrets from kfDef during installation"
[code]

Added the above part in kfDef and expected it to create two secrets in kubeflow namespace during installation. Is this how it works?
I posted the same question on slack and did not get any response, so posting it here.

[2020-04-14 08:03] marcindulak commented on #222
Not for https://github.com/kubeflow/kfctl/releases/tag/v1.0 and v1.0.1, but if there were no changes to the release process then the problem with the tarball tag not corresponding to the git tag may appear again for the rc releases.

![Screenshot from 2020-04-14 09-59-24](https://user-images.githubusercontent.com/3178318/79200484-ccf28100-7e36-11ea-8e2d-78d0b4ee04a9.png)

[2020-04-14 17:34] #306 closed

[2020-04-14 17:41] jlewi commented on #306
Presubmits passed with #307 so marking this as fixed.

[2020-04-15 05:23] Bobgy commented on #296
@jlewi I agree the ordering looks logical, but that requires a sequential dependency between components and extra logic in kfctl (adding labels in namespaces etc.). I think it's hard to express that in KfDef if we want to go with #5

Alternatively, I'm thinking if we can extend the constraint of separation between cluster-scoped resources and namespace resources.

KfDef can have a set of component

[2020-04-15 12:17] yanniszark commented on #293
@jlewi I'd love to see us depend on specialized tools in the future as well!
Also, thanks for shedding some light on pruning.
I have made a PR to address this issue: #309
After it goes in, we should have a reliable way of deleting a Kubeflow cluster until we can shift this functionality to better tools.

[2020-04-15 18:48] #293 closed

[2020-04-16 15:16] jlewi commented on #296
The general direction we want to move is not putting more custom rollout logic into kfctl. We'd like to rely on existing tools to figure out the proper way to sequence objects. For example, I think kustomize, kpt, and ACM are already smart enough to deploy CRDs before creating instances of the resources.

I think what I'm proposing would eliminate custom logic in manifests. We would basically defi

[2020-04-17 04:21] Bobgy commented on #296
Totally agree on the direction. If we remove all the kfctl custom rollout logic, we can use namespace resources right away, without parameters in kfdef about apply order.

I'm more concerned with how we can merge back the istio injection label before that, especially when kfctl is in the progress of removing the custom logic, how can namespace resources be applied at the right timing? Can we add h

[2020-04-17 05:13] Bobgy commented on #296
TODO for me:
I can test using kfctl-v1 with namespace resource, report what was the blocking issue back here.

[2020-04-17 07:27] yordis opened #317 "zsh completions can't be sourced"
## Steps to reproduce

1. Use `zsh` shell
2. Run the following command
[code]
3. Notice the error
[code]

[2020-04-17 07:46] yordis commented on #317
# How to fix it

Pipe `kfctl completion zsh` into a file called `_kfctl` **(must be this name)**.

**This file must be under one of the folders from `$fpath`**

[code]
If you want to register a new `fpath` use the following command

[code]

[code]

[2020-04-17 07:46] #317 closed

[2020-04-17 20:58] jtfogarty commented on #308
/kind question
/priority p1
/area engprod

[2020-04-17 21:06] jtfogarty commented on #222
/area engprod
/priority p1

[2020-04-17 21:24] jtfogarty commented on #229
/area engprod
/priority p2

[2020-04-17 21:31] jtfogarty commented on #231
/priority p1

[2020-04-17 21:41] jtfogarty commented on #240
/area kfctl
/priority p2

[2020-04-17 21:45] jtfogarty commented on #242
/area kfctl
/priority p1

[2020-04-17 21:47] jtfogarty commented on #243
/area kfctl
/priority p1

[2020-04-17 21:50] jtfogarty commented on #246
/area kfctl
/platform gcp
/priority p2

[2020-04-19 01:04] jlewi commented on #296
@Bobgy Sounds good. If you look at the logic;
https://github.com/kubeflow/kfctl/blob/660fae1432982099a9b630b34181de8418c42c20/pkg/kfapp/kustomize/kustomize.go#L176

Applications are applied in the order they appear in KfDef.Application. So we just need to put the namespace applications at the right position in KFDef.Applications to control ordering.

[2020-04-20 14:48] jlewi commented on #304
As noted in #4873; kustomize commonLabels should only be used for immutable labels
https://kubectl.docs.kubernetes.io/pages/app_management/labels_and_annotations.html

As these are used in selectors which are immutable.

Right now our applications are using version in the version and instance label which is used in selector and set via commonLabels.
https://github.com/kubeflow/manifests/blob/abc68

[2020-04-20 16:26] jtfogarty commented on #253
/area kfctl
/priority p2

[2020-04-21 01:28] MrXinWang commented on #99
Hi @yanniszark ! Late to the party :P I have created PR #318 for arm64 building. Could you please take a look? Thank you very much!

[2020-04-21 15:16] jlewi commented on #294
@kunmingg I'm thinking we should just setup auto-deploy to periodically deploy a new Kubeflow instance and run the tests against that.

This is the dashboard that runs the examples:
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

[2020-04-23 15:58] JakeTheWise opened #320 "gcp apply could not update deployment manager - service account does not exist"
kfctl v1.0.2

I'm trying to spin up kubeflow on GCP from the command line using the instructions [here](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) but I'm getting this error after running `kfctl apply -V -f https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.2.yaml`

[code]

But I thought the service account in question is one of three that kfctl ou

[2020-04-23 16:02] JakeTheWise commented on #265
This would be great.

[2020-04-24 02:06] jlewi commented on #296
@Bobgy I've been experimenting with installing Kubeflow with kpt and kcc.
Here's my experiment
https://github.com/jlewi/kf-templates-gcp/blob/f3a4694c4daf2664230c6fc093ada744f65244cd/kubeflow/Makefile#L63

As you can see there I have a kustomize package which defines the namespaces. So any labels could just be added to the respective namespace resource.

That package is applied before applying any

[2020-04-24 02:17] Bobgy commented on #296
Thanks @jlewi! That looks great! Do we plan to release KF 1.1 gcp env with kpt and kcc approach?

Sorry I've been busy with some other stuff, didn't have time to look into this yet.

[2020-04-24 02:20] jlewi commented on #296
@Bobgy yes I think for GCP and KF 1.1 kpt and kcc will be the recommended approach.

[2020-04-25 03:47] paravatha commented on #260
I am having the same issue.
Can you please tell me which version should I use?

[2020-04-25 15:59] jlewi commented on #320
Yes that GSA should be created by kfctl. It should be part of your deployment. Can you check your deployment to see if the GSA was created?

[code]

[2020-04-26 18:30] JakeTheWise commented on #320
I ran that command, and everything looks healthy...
`NAME: kubeflow1-0-user TYPE: iam.v1.serviceAccount STATE: COMPLETED`
So I'm not sure what's up.

[2020-04-29 02:45] jlewi commented on #320
Did you redact your  PROJECT id in the error message?

In the error message it looks like $PROJECT might not have gotten properly set and then substituted. If you look at the error message the service account

[code]

so unless you redacted the error message and changed the name of your actual project that is not the correct service account.

Does the service account exist?

[code]

[2020-04-29 16:00] vpavlin commented on #242
Hey! Any progress here?

[2020-04-29 16:30] adrian555 commented on #242
Thanks @vpavlin for checking back. I am still working on this. Basically only when an update is detected to a KfDef will the existing cache be used, otherwise we will generate a new directory and cache for a new KfDef.

[2020-04-29 19:44] nakfour commented on #242
@adrian555 we are bumping into this with our new ODH 0.6 operator see issue (https://github.com/opendatahub-io/opendatahub-operator/issues/9)
Basically it is not just the cache, but also the kustomize folder. In general terms the user should be allowed to create multiple instances of the API (in this case kfdef) on the cluster without any issues even if the operator is cluster wide. Currently, the

[2020-04-29 20:03] adrian555 commented on #242
@nakfour yes, this is expected problem with the current implementation as already mentioned in some previous comments. Therefore, we need to have different directory for each kfdef instance.

[2020-04-29 21:38] JakeTheWise commented on #320
I redacted the project id intentionally. In the code, the correct project id is set.

[2020-04-30 03:25] jlewi commented on #320
Does the service account exist? If you try to update the IAM policy for the service account using gcloud or the cloud console does it work?

[2020-04-30 08:19] vpavlin commented on #242
Thanks @adrian555, it's good to know this is still on your radar:)

So what happens if the update is a new component added into the KFDef? I believe that would fail unless the kustomize dir is regenerated.

[2020-04-30 08:37] Bobgy commented on #296
@jlewi I tried using kfctl 1.0.2 with an additional application containing just the namespace at the beginning of kfdef yaml file. Looks like it successfully patched kubeflow namespace to enable istio label.

Then let's go with this approach, sounds good?

[2020-04-30 13:33] nakfour commented on #242
@adrian555 I am not clear why we need to keep different kustomize folders. What are they used for? From an operator perspective, users create instances of APIs and they delete them. I don't see a need to keep the kustomize folder since I don't see a Users pattern of re-installing the same API instance over and over again. According to this issue: https://github.com/kubeflow/kubeflow/issues/4368 th

[2020-04-30 15:21] nakfour commented on #242
@adrian555 there is also one use case to add, users might edit the instance yaml and change it, but this still requires a new generated Kustomize folder.

[2020-04-30 17:11] adrian555 commented on #242
@nakfour what I said is each instance will have a directory of different name. This is to support the use case you mentioned (name A and name B coexist). The directory for each instance will be deleted when the instance is deleted, just like @vpavlin described.

[2020-04-30 18:19] adrian555 commented on #242
yes @vpavlin for new application added to kfdef the cache and kustomize will be regenerated/synced. I am hoping I do not need to wipe out the whole directory, but it may come down to that approach to remove the whole directory and recreate.

[2020-04-30 22:02] nakfour commented on #242
@adrian555 it still not clear to me. Your sentence "each instance will have a directory of different name. This is to support the use case you mentioned (name A and name B coexist)." What does support mean?? You can have name A and name B coexisting if you just wipe out the kustomize folder on each install. It is not clear to me why the kustomize folder is needed???

[2020-04-30 22:13] adrian555 commented on #242
@nakfour the `reconcile` routine calls the same `kfApply` function as during the install. So the kfapp directory can not be wiped out or replaced after the install.

[2020-05-01 01:01] jlewi commented on #296
LGTM

[2020-05-01 07:41] vpavlin commented on #242
@adrian555 If you can provide even WIP PR, we'd be happy to test and document the potential cases. There are probably 2 seperate problems

.cache - if something changes in a manifest repository, cache needs to be updated
kustomize - if something changes in KFDef, kustomize dir needs to be regenerated

And that is the case for both apply or update, obviously delete should just clean everything

The

[2020-05-01 15:04] nakfour commented on #242
@adrian555 when is the `reconcile` routine called? We have the quick fix in ODH of deleting the kustomize folder on every `apply' request here: https://github.com/opendatahub-io/opendatahub-operator/pull/14
It seems to work, but maybe we missed the specific use case where `reconcile` is called. Does this team have a weekly community meeting we can discuss issues? If not you are welcome to join our

[2020-05-01 16:06] vpavlin commented on #284
I keep thinking about this - does the operator and the manifests need to match? Since the operator could handle multiple versions of manifests as long as there are not crazy breaking changes, it might make sense to decouple these and not have to release the operator and manifests together.

Is it a plan for kfctl itself to be released with every manifests update and vice versa? @animeshsingh @jlew

[2020-05-01 19:26] adrian555 commented on #193
9. update operator to support deployment of multiple kfdef instances (one per namespace assuming).

[2020-05-01 19:29] adrian555 commented on #193
10. some improvement to the watch and reconcile functions:
[ ] change to look up the kubeflow resources based on `ownerReference`
[ ] handle other events on kubeflow resources (currently only Delete event is handled)
[ ] can the operator bypass some kfApply logic for just a specific kubeflow resource update?

[2020-05-01 19:31] adrian555 commented on #193
11. these are probably common to kfctl cmd and operator
[ ] use some mechanism to check/mark the manifest outdated cache
[ ] ability to delete the applications if removed from the kfdef configuration file

[2020-05-02 00:00] jlewi commented on #284
I would not expect manifests and kfctl to be on different release cyles.

[2020-05-02 00:33] animeshsingh commented on #284
A way to look at it is like  KF Control Plane CLI + KF Configuration files which are needed for that CLI to work for a Kubeflow version.  Now it maybe possible the CLI works with Configuration files with previous or next versions, but won't be something which project is testing or standing for. So ideally would not make sense to advertise so as well.

[2020-05-05 21:25] animeshsingh commented on #262
/assign @gabrielwen @jlewi @yanniszark  - thoughts - and anyone would like to pick this up on core kfctl cli side?

[2020-05-05 21:49] animeshsingh commented on #241
@vpavlin @nakfour this was addressed through this PR, so wondering if its just a matter of picking up in ODH

[2020-05-06 02:46] Bobgy commented on #296
/close
I think we can close this and keep tracking in https://github.com/kubeflow/kubeflow/issues/3866

[2020-05-06 02:46] #296 closed

[2020-05-06 04:37] jlewi commented on #262
See comment about deleting
https://github.com/kubeflow/kfctl/issues/293#issuecomment-612691634

Using an uber KFDef to own all resources and GC them on delete seems a bit ill-defined.

We have also been using the [Application CR](https://github.com/kubernetes-sigs/application) as a general way of providing information about what applications are installed.

In general, I think we are moving in the

[2020-05-08 11:43] Anamika28 commented on #104
/assign

[2020-05-08 21:20] jtfogarty commented on #262
/priority p2

[2020-05-11 09:48] vpavlin commented on #284
My question stems from seeing the same change in approach in Knative project (https://github.com/knative-sandbox/operator/issues/56) - they are decoupling manifests and the operator like Kubeflow does, but AFAIU they are also looking at decoupling the versions - i.e. the operator can handle multiple versions of manifests/knative and thus you do not need to rebuild and/or redeploy the operator for

[2020-05-11 14:45] jlewi commented on #320
@JakeTheWise if you need more help please "@" me in your reply so that I will get notified in GitHub thanks.

[2020-05-11 15:33] hassanzadeh commented on #320
Hey Guys,
I'm having similar issues, when I run gcloud --project=${PROJECT} deployment-manager deployments describe ${KFNAME}, I see service accounts, but when I run gcloud --project=${PROJECT} iam service-accounts list, the list is empty, I guess that is the cause since the error says:
ode 400 with message: gcp apply could not update deployment manager Error Set New IamPolicy error: googleapi: Er

[2020-05-11 16:10] hassanzadeh commented on #320
I did create the accounts manually and gave them all owner/role, although I know that defeats the purpose of aim service accounts. That solved the problem for now, but wasn't kfctl supposed to create the service accounts? And also, how are the service accounts listed by the second account in  my previous post different form the first one (i.e. those listed by deployment manager).

[2020-05-12 03:48] jlewi commented on #320
When you run

You are not listing service accounts. You are listing deployment manager configurations to create the service accounts. Most likely DM manager failed trying to apply them and thats probably why the service accounts weren't created.

Can you please provide the output of

[code]

And then do

[code]

Where OPNAME will be available from the describe command for the deployment.

I suspec

[2020-05-12 18:07] hassanzadeh commented on #320
Thanks, I actually removed everything, include service account to start again. Now when I try to do kfctl apply -f xxx.json, It fails with the following issue:
failed to apply:  (kubeflow.error): Code 500 with message: coordinator Apply failed for gcp:  (kubeflow.error): Code 500 with message: gcp apply could not update deployment manager Error could not update storage-kubeflow.yaml; Insert deploy

[2020-05-12 18:52] Jeffwan opened #328 "Orchestrate dex for kfctl_aws manifest"
AWS plans to add dex components for `kfctl_aws.yaml`. This requires kfctl to make some changes.

- Add logic to handle basic auth
- Handle dex installation in kfctl aws plugin

https://github.com/kubeflow/manifests/issues/1164

[2020-05-12 18:52] Jeffwan commented on #328
/assign @PatrickXYS

[2020-05-12 20:43] nakfour commented on #241
@animeshsingh I tested today with master branch, and it still deletes the namespace.
Here are the steps I took to reproduce
1. build/install operator from master branch
2. oc new-project opendatahub
3. oc create -f  -f https://raw.githubusercontent.com/opendatahub-io/odh-manifests/master/kfdef/kfctl_openshift.yaml
4. wait, then delete oc delete -f  https://raw.githubusercontent.com/opendatahub-io/

[2020-05-12 21:32] adrian555 commented on #241
@nakfour just want to confirm if you updated deploy/operator.yaml to use the image built from master branch for the operator?

[2020-05-12 21:52] adrian555 commented on #241
The test I just did went well and left the `opendatahub` namespace around. After the delete, there are still following resources left

[code]

[2020-05-12 21:52] adrian555 commented on #241
@animeshsingh yes, that is the plan we discussed yesterday.

[2020-05-12 22:21] Jeffwan commented on #68
@jlewi @gabrielwen

I may miss some context and I am a little bit confused now, we have plugins defined at

- https://github.com/kubeflow/kfctl/tree/master/pkg/kfconfig/awsplugin
- https://github.com/kubeflow/kfctl/tree/master/pkg/apis/apps/plugins/aws

What's the plan in the future? package `pkg/kfapp/aws` still reference to internal package `"github.com/kubeflow/kfctl/v3/pkg/kfconfig/awsplugin"`

[2020-05-13 01:33] nakfour commented on #241
@adrian555 yes I built the operator and replaced the image. Yes these are subscription to operators that will linger, this is logic in OLM that assumes someone else might be using the operators and that why OLM keeps them. How did you delete the kfdef?

[2020-05-13 04:03] adrian555 commented on #241
these are the commands I ran

[code]
followed by (after the odh is up)
[code]

[2020-05-13 10:13] vpavlin commented on #241
I have rebuilt from master today and followed the same process and the namespace stayed there after the kfdef has been deleted, so it worked for me as expected

[2020-05-13 21:37] animeshsingh commented on #241
@nakfour is this still an issue building from master and replacing the image for you?

[2020-05-14 20:01] jtfogarty opened #330 "kfctl apply fails in GCP"
I'm testing [#1947]( https://github.com/kubeflow/website/issues/1947)  in my corporate GCP and am running into this error;
[code]
The first time I executed this, I got an error about there not being a default network, which is true.  I found the below in `storage.jinja`
[code]
I updated `storage.jinja` and hardcoded my network name

The service account has Owner and Editor roles

[2020-05-14 20:01] jtfogarty commented on #330
/priority p1

[2020-05-14 20:03] jtfogarty commented on #330
@jlewi has this been tested without a default network?
Thanks

[2020-05-14 20:20] jtfogarty commented on #330
gcloud --project=${PROJECT} deployment-manager deployments list returns 0 items

[2020-05-15 10:47] micemuni opened #331 "kfctl docker image - issue"
Hello,

I have used https://github.com/kubeflow/kfctl/tree/v1.0.2 branch to build docker image, created kubernetes_job resource to run and mounted the kfctl_aws.yaml as config file, then container CMD is have "kfctl apply -V -f ${CONFIG_FILE}".
I could see the container is created but re-cycling keep on and logs are showing

[root@a-3b7daj8kxugj2 /kubeflow]# kubectl logs pod/kubeflow-767kc
standar

[2020-05-15 12:23] jlewi commented on #330
@jtfogarty Are you executing this from a GCE VM? The error

[code]

Like indicates you are using the GCE VM's service account to authenticate to GCP services and that's not working because it doesn't have sufficient scopes.

You can run

[code]

To see which account is activated.

You can then run the following commands

[code]

You need to run both in order to authorize kfctl to use your credenti

[2020-05-15 12:31] jlewi commented on #68
@Jeffwan Its been a while since I've been deep in the kfctl code. I think per the original comment the plugins should have external and internal APIs datastructures to mirror the relationship between KFDef (external API) and KFConfig(internal API).

The idea is that we convert the external AP into the internal datastructure, do all processing, and then export using the external API.

This way the

[2020-05-15 20:29] jtfogarty commented on #330
Yes that was the fix, thanks

[2020-05-15 20:29] #330 closed

[2020-05-15 21:37] jlewi commented on #320
@hassanzadeh please open a separate issue. It looks like you are running on a GCE vm and it is using the GCE vm service account with insufficient scopes.

[2020-05-15 21:39] jlewi opened #332 "Preserve comments in KFDef files (needed to for kpt)"
Currently the kfctl code reads and writes the KFdef files. This serialization ends up stripping out any comments in the original KFDef files. This means we can't use kpt setters with KFDef files.

It looks like kpt is using this library for YAML parsing.
https://github.com/kubernetes-sigs/kustomize/tree/master/kyaml/yaml

So its possible if we switched to using that library, kfctl could preserve c

[2020-05-18 08:31] micemuni opened #333 "can't run kfctl inside kfctl docker image - kfctl not found"
Hello,

I used https://github.com/kubeflow/kfctl/tree/v1.0.2 to build kfctl as docker image, and running that image with CMD "kfctl apply -V -f ${CONFIG_FILE}" but it's throwing error.

I followed the step https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ and passing ENV value as export cmd

I used sleep cmd to check Inside kfctl docker image :
[code]
ERROR & Docker run cmd:
[code]

Insid

[2020-05-18 14:50] jbottum commented on #333
@micemuni Hi, thanks for entering this issue.   is this on EKS ?  what version of K8s are you using?

[2020-05-18 17:57] micemuni commented on #333
@jbottum  I am using AWS eks 1.14 version.

[2020-05-18 21:06] jlewi commented on #332
Looks like the kio library is the one that provides high level routines.
https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/kio/doc.go

[2020-05-19 09:43] vpavlin commented on #241
To make sure anyone seeing this issue is not confused whether it is still issue or not - we've verified that this works fine, thanks @animeshsingh

[2020-05-19 09:45] vpavlin commented on #242
@adrian555 Thanks for the fix, closing the issue!

[2020-05-19 09:45] #242 closed

[2020-05-20 14:36] vpavlin commented on #229
@animeshsingh Any thoughts on 2.? Do you want to keep IBM in there?

[2020-05-20 18:25] #250 closed

[2020-05-21 00:48] jbottum commented on #304
@jlewi Hey Jeremy - will this feature be included in Kubeflow 1.1 ?

[2020-05-26 11:51] pinglin commented on #241
It seems that during the Kubeflow teardown, the kfctl operator still deletes `istio-system` even if `istio-crds` and `istio-install` in the kustomize YAML are taken off. I've checked the namespace of `istio-system` and its indeed bound with the kubeflow `ownerReferences`. So the delete makes sense.

However, the problem is that we have a pre-installed `istio-system` namespace, and we would like to

[2020-05-26 16:37] tamera-lanham commented on #192
This is preventing me from using `kfctl alpha show` as well

[2020-05-26 20:02] jlewi commented on #229
I'll defer to whoever is developing the operator about what the correct values should be.

[2020-05-27 07:38] vpavlin commented on #241
@pinglin That's interesting - just to confirm I understand correctly - the `ownerReferences` are added even if istio componetns are not part of the KFDef?

[2020-05-29 00:11] pinglin commented on #241
Yes, that is correct.

Specifically, I deployed the Kubeflow suite with the [KFDef - kfctl_istio_dex.v1.0.2](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.2.yaml) by removing the [section](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.2.yaml#L19-L34) as instructed in the official [doc](https://www.kubeflow.org/docs/started/k8s/kfctl-ist

[2020-05-29 04:50] adrian555 commented on #241
Apparently the manifests for `cluster-local-gateway` application also contains a [`namespace.yaml`](https://github.com/kubeflow/manifests/blob/master/istio-1-3-1/cluster-local-gateway-1-3-1/base/namespace.yaml) pointing to `istio-system`. The `ownerReferences` is added to this yaml. So even though the `istio-crds` and `istio-install` applications are not in the kfdef CR, the `istio-system` namespa

[2020-05-29 09:26] sakaia opened #339 "How to enable Envoy proxy on istio-ingress gateway?"
I am try to deploy kubeflow on kind. (with Ubuntu 20.04 on AWS EC2)
But the `istio-ingressgateway` is not working with `Envoy proxy is NOT ready`
Is there any way to solve this?

1. The log (istio-ingressgateway) is attached here.

[code]
[log.txt](https://github.com/kubeflow/kfctl/files/4700829/log.txt)

2. The instruction for deploying is here.

[kubeflow_deploy.txt](https://github.com/kubeflow/

[2020-06-01 00:55] jlewi commented on #339
If you are using AWS why not run on EKS?

It looks like the problem is with installing ISTIO on your system and not Kubeflow per se.
You might have better luck trying a well supported combination of K8s and ISTIO and ensuring that is deployed correctly.

[2020-06-01 00:58] jlewi commented on #333
I don't think using the docker image is one of the officially supported ways of running kfctl. I would suggest trying one of the prebuilt binaries.

It looks like there might be an issue with the Docker image which you could try to debug and fix.

/cc @shawnzhu

[2020-06-01 01:02] jlewi opened #340 "kfctl mirror images should not hardcode the kustomize directory"
Currently the mirror code assumes there is a directory named "kustomize" and then walks that directory to identify images to be mirror'd.
https://github.com/kubeflow/kfctl/blob/e96de9d7fd614f5c78b9e19609bfb2849e8297f1/pkg/mirror/mirror_image.go#L260

This doesn't work with GCP blueprints because the actual files area layed out differently. There's really no reason for the mirror command to assume

[2020-06-01 03:07] shawnzhu commented on #333
I can reproduce this problem by the following commands:

[code]

Notice that the `Dockerfile` of this repo is for building kfctl (via docker [multi-stage build](https://docs.docker.com/develop/develop-images/multistage-build/)), not for redistributing nor running kfctl although it could work.

## Problem

☝️ steps should work. I'm interested in why it doesn't since the file does exist in given fil

[2020-06-01 03:17] shawnzhu commented on #333
@jlewi 👍 Do you think it would be helpful by clarify this in doc like README? People like me will get used to run `docker build` when seeing `Dockerfile`. Or just rename it to `Dockerfile.build` to clarify its purpose.

[2020-06-01 13:32] shawnzhu commented on #331
See https://github.com/kubeflow/kfctl/issues/333#issuecomment-636588908

@micemuni I had a simple fix in #341. Do you want to give it a try?

[2020-06-01 14:06] jlewi commented on #340
/assign @jlewi

[2020-06-02 02:44] jlewi commented on #333
@shawnzhu I don't have an oppinion; whatever you and the other folks agree on sounds good to me.

/cc @MrXinWang

[2020-06-02 06:24] micemuni commented on #333
Hi,
I have fixed with change --  CGO_ENABLED=0  in makefile & added ENTRYPOINT ["/usr/local/bin/kfctl"] in Dockerfile.

makefile:
https://github.com/kubeflow/kfctl/blob/master/Makefile#L131
	GOOS=linux GOARCH=amd64 CGO_ENABLED=0 ${GO} build -gcflags '-N -l' -ldflags "-X main.VERSION=$(TAG)" -o bin/linux/kfctl cmd/kfctl/main.go

Then build / deploy, now kfctl is working inside kfctl image

[2020-06-02 06:24] #333 closed

[2020-06-02 06:24] micemuni commented on #331
Hi,
I have fixed with change -- CGO_ENABLED=0 in makefile & added ENTRYPOINT ["/usr/local/bin/kfctl"] in Dockerfile.

makefile:
https://github.com/kubeflow/kfctl/blob/master/Makefile#L131
GOOS=linux GOARCH=amd64 CGO_ENABLED=0 ${GO} build -gcflags '-N -l' -ldflags "-X main.VERSION=$(TAG)" -o bin/linux/kfctl cmd/kfctl/main.go

Then build / deploy, now kfctl is working inside kfctl image

[2020-06-02 06:24] #331 closed

[2020-06-02 06:26] MrXinWang commented on #333
@micemuni @shawnzhu Added the `CGO_ENABLED=0` code to make binary use static compilation in this PR: #318, waiting for it to be merged now :))

[2020-06-02 07:01] micemuni opened #343 "kfctl - could not get platform aws Error Failed to create config file from /root/.kube/config"
Hello All,
I am using https://github.com/kubeflow/kfctl/tree/v1.0.2 kfctl docker image to deploy kubeflow https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ in AWS cloud and used https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws.v1.0.2.yaml ( i have customized this yaml file )

Details FYI -- Using kubernetes_job resource to run "kfctl apply -V -f ${CONFIG_FI

[2020-06-02 14:44] GdMacmillan opened #344 "Kubeflow with OIDC possible scopes error"
Hi, for context, I work for a DS team within large organization. Myself and a DevOps team member are attempting to deploy Kubeflow which must conform to security requirements. We were able to provision the cluster and node groups correctly following the documents [here](https://www.kubeflow.org/docs/aws/aws-e2e/) and also employ a config map to maintain instance security policies.

The issue we se

[2020-06-02 15:21] yanniszark commented on #344
cc @Jeffwan
/platform aws

[2020-06-09 12:04] jlewi opened #352 "[Release 1.1] kfctl release"
Opening this issue to track releasing kfctl as part of 1.1.

* Ref: kubeflow/kubeflow#5022

* We will need to
   * Cut a release branch
   * Publish updated binaries for kfctl

We still need to find an owner

[2020-06-09 12:43] jlewi commented on #281
anthoscli should now support the full set of KCC resources so not sure we need this anymore.

[2020-06-09 13:54] jlewi commented on #278
With 1.1 we are switching to using GCP blueprints
https://github.com/kubeflow/gcp-blueprints/tree/master/kubeflow

Which uses Cloud Config Connector to describe and provision your GKE clusters. You can use tools like kustomize and kpt to config the YAML describing your clusters as necessary.

[2020-06-09 13:54] #278 closed

[2020-06-09 17:02] crobby commented on #352
Per the discussion in:  https://github.com/kubeflow/kfctl/pull/338 I will take care of this for 1.1.

[2020-06-12 17:03] #340 closed

[2020-06-15 09:09] krishnadurai commented on #352
/assign @crobby

[2020-06-15 13:39] jlewi commented on #352
@crobby Do you have the necessary permission to cut branches and do releases in GitHub?

Are we on track for 06/19 to do a branch cut and an RC?

[2020-06-15 13:44] crobby commented on #352
@jlewi I doubt that I have permissions to cut branches and do releases.  This is my first rodeo, so any guidance you can give is greatly appreciated.

There are quite a few outstanding p0 items, but many of them seem to have been around for awhile, so I'm not sure how critical they might or might not be.  I will be going through them to see if there are any that I deem critical.

[2020-06-15 14:38] crobby commented on #352
I have confirmed that I don't have permission for branches/releases.

[2020-06-15 17:42] jlewi commented on #294
Duplicate of kubeflow/gcp-blueprints#42

[2020-06-15 17:42] #294 closed

[2020-06-15 20:20] jlewi commented on #352
@crobby please take a look at the links in
https://groups.google.com/forum/#!topic/kubeflow-discuss/pGflW6m9Xrg

To understand how github permissions are managed.

[2020-06-16 14:33] crobby commented on #60
Any chance of an update on this?  It would be great to have working tests for the 1.1 release.  Thanks

[2020-06-16 17:56] crobby commented on #352
@jlewi (or anyone else who may know):  I have an rc.0 release up for the binaries.  I still need to see about adding some testing for the v1.1 branch, but one thing that isn't quite clear to me is how I get the operator image pushed to the desired location?  I see the Makefile has some targets that might help me with that, but they seem to do some "gcloud" commands.  Do I need an account of some s

[2020-06-16 18:14] jlewi commented on #352
@crobby I don't think we've been publishing docker images for kfctl. I think the docker images were largely intended for developers.

What does the release guide for kfctl say? Do we need to update the kubeflow website docs to point to the latest kfctl releases?

[2020-06-16 18:20] crobby commented on #352
Ah, that would explain why I wasn't finding any docs about releasing the container images.  The guide only mentions the kfctl binaries, so I will go with that.
There is a section about "versioning the website", but that seems to be something that would be done outside of the specific kfctl release and as a part of the whole KF release since it impacts "everything".
Thanks again

[2020-06-16 19:37] adrian555 commented on #352
@crobby @jlewi @animeshsingh for the Kubeflow operator image, we will manually create one after the 1.1 release is out. In the longer term, we will seek the option to move the image to `gcr.io` and make it part of the release process. Thanks.

[2020-06-16 22:22] jlewi commented on #352
@crobby Could you please open up a PR to update the release guide to explain that we aren't doing a docker image for kfctl?

Should we create a kfctl specific release guide in kubeflow/kfctl and then update the uber release guide to just point to it for kfctl?

The website is a separate process.

[2020-06-23 05:51] Jeffwan opened #358 "Add region information to IAM web identity role"
User who create EKS cluster in different regions with exact same name will encounter some issues.
Since we use `kf-admin-${cluster-name}` for web identity role and IAM is global resource. This case will break and have conflict names.  It would be better for us to include region information for multi-region deployment.

[2020-06-23 05:51] Jeffwan commented on #358
/assign @Jeffwan

[2020-06-23 15:24] croesuslab opened #360 "kfctl not using correct url"
I am trying to setup Kubeflow on my K3S server listening on port 6443. For some reason, the setup tries to install on port 8080, which is not used. Is there a way to change this url?

I downloaded the kfctl_k8s_istio.v1.0.2.yaml config file. When I run the kfctl apply command, I get the following error:
[code]

Cluster infos:
[code]

[2020-06-23 15:47] croesuslab commented on #360
I figured out my KUBECONFIG was not set. This solved the issue.

[2020-06-23 15:47] #360 closed

[2020-06-23 18:41] #358 closed

[2020-06-23 20:39] #328 closed

[2020-06-24 12:57] krishnadurai commented on #352
@crobby  can we look to generate a binary for kfctl and post it here?

https://github.com/kubeflow/kubeflow/releases

[2020-06-24 12:57] krishnadurai commented on #352
This can be tagged as v1.1.0-rc.0.

[2020-06-26 20:35] jbottum commented on #274
@yanniszark Hey Yannis - is this still open, should we close it ?

[2020-06-26 20:41] jbottum commented on #228
@gabrielwen hey Gabriel - can we please close this issue ?

[2020-06-29 23:34] jlewi commented on #352
@crobby any update?

[2020-06-30 12:15] crobby commented on #352
@krishnadurai @jlewi Apologies, if it was also expected that I'd push the binaries up to:  https://github.com/kubeflow/kubeflow/releases  I did get rc-0 pushed up to https://github.com/kubeflow/kfctl/releases a couple weeks ago.

I do not have permissions to draft new releases in https://github.com/kubeflow/kubeflow/releases, so perhaps someone else can take care of that, otherwise, it will likely

[2020-07-01 04:54] MrXinWang commented on #99
Closing this as PR #318 has been merged.

[2020-07-01 04:54] #99 closed

[2020-07-01 18:25] crobby commented on #352
Best I can tell, I'd need to be added the release-team in order to be able to create releases at https://github.com/kubeflow/kubeflow/releases I'm not seeing a lower-perimssioned group that would achieve that.  Am I correct, or am I missing something?

[2020-07-06 13:43] v-loves-avocados commented on #320
I got the same error.

"Error: failed to apply:  (kubeflow.error): Code 500 with message: coordinator Apply failed for gcp:  (kubeflow.error): Code 400 with message: gcp apply could not update deployment manager Error Set Cleared IamPolicy error: %v; googleapi: Error 403: Policy update access denied., forbidden"

I tried this:
_gcloud --project=${PROJECT} deployment-manager deployments describe ${

[2020-07-07 14:04] jlewi commented on #352
@crobby I think that's right as it exists today; although per the WG proposal I think we'd want to eventually create more narrowly scoped teams to admin the kubeflow/kubeflow repo.

That said; I think it makes sense to just publish the kfctl releases on the kfctl repo and make sure our docs point people there.

[2020-07-08 12:49] desaintmartin opened #371 "Operator: cleanup old kube resources"
I've heard the Operator, like kfctl, does not clean up no-longer-wanted resources when upgrading a kubeflow (like a component which has disappeared in the latest version will still exist in the Kubernetes cluster after kubeflow upgrade to latest version).

Could you confirm?

If so, is it planned to add such support in the Operator or will still run using kustomize as its core which does not allow

[2020-07-12 20:31] williamyeh opened #376 "kfctl for windows"
Hi,

Is there a way to get kfctl binary for windows?
Trying to deploy kubeflow with windows on a air-gapped k8s environment.

Thanks,
William

[2020-07-14 20:53] crobby commented on #352
Any objections if I were to aim for cutting a new RC by the end of this week?

[2020-07-16 18:06] adrian555 commented on #371
@desaintmartin yes, we are looking at how to support this as part of the upgrade. We will track this issue under #193.

[2020-07-16 19:36] crobby commented on #352
Ok, I have boxed-up rc1 for kfctl.  https://github.com/kubeflow/kfctl/releases/tag/v1.1-rc.1  I'll do some test driving.  Do let me know if you come across any issues.

[2020-07-17 13:49] ivanjacobsec commented on #343
Hi
have you tried this?

aws eks --region _region-code_ update-kubeconfig --_name cluster_name_
Test your configuration.

kubectl get svc
[Source](https://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html)

[2020-07-30 02:28] Eros11on opened #384 "k8s Kubeflow Deployment with kfctl_k8s_istio Segmentation fault"
I'v followed the Kubeflow Deployment with kfctl_k8s_istio official documention(https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/#provisioning-of-persistent-volumes-in-kubernetes) to deploy kubeflow
when I  typed `kfctl apply -V -f ${CONFIG_URI}`
there is an error `Segmentation fault`
How can i solve this problem ?
Thanks!!

**Environment**:
- Kubernetes version 1.14
- Cloud provider :aliy

[2020-07-30 19:45] #124 closed

[2020-07-30 20:19] Jeffwan opened #385 "Optimize Kfctl manifest deletion order"
Issue is from https://github.com/kubeflow/manifests/issues/1421.

The issue is when we `kfctl delete -f kfdef.yaml`. namespace deletion will time out. This is because when we delete namespace, all resources will be deleted without control. If k8s APIServer will call registered `apiservice` to clean up resources, However, if `apiservice` backend pod has been deleted, then it will stuck there and be

[2020-07-31 14:41] jlewi commented on #141
Closing this because we are turning C2D down so the code will be deleted.

[2020-07-31 14:41] #141 closed

[2020-08-04 19:16] jlewi commented on #47
This is fixed in Kubeflow 1.1 for GCP because the deployment process no longer uses kfctl so we no longer have the logic to download and install service account keys.

1.1 instructions are here:
https://master.kubeflow.org/docs/gke/deploy/

[2020-08-04 19:16] #47 closed

[2020-08-07 04:17] theophilee opened #391 "How to troubleshoot the deployment of Kubeflow via the CLI on GCP?"
Hi,

I'm following instructions [here](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) to deploy Kubeflow via the CLI on GCP.

When I run `kfctl apply -V -f ${CONFIG_FILE}` after following all previous instructions I get
[code]

In attempting to troubleshoot, I ran `gcloud --project=${PROJECT} deployment-manager deployments describe ${KF_NAME}`, which gives
[code]

I am clueless as to what t

[2020-08-07 05:58] Jeffwan commented on #352
Seems this is done, we have 1.0.0 out.

[2020-08-07 05:58] Jeffwan commented on #344
/assign @Jeffwan

[2020-08-07 06:01] Jeffwan opened #392 "[AWS] Setup KFP with managed mysql database and object storage"
We reserved interfaces to handle this here. https://github.com/kubeflow/kfctl/blob/18d3ee861412ddd2b225ad6ac859a328faac89e7/pkg/kfconfig/awsplugin/types.go#L41-L54

Since we restart to use v3 manifest, in order to apply these values, we probably need to use some different manifest.

The goal is to accept S3 and RDS parameters and apply to KFP settings.

[2020-08-07 12:14] Hmr-ramzi opened #393 "Operator reconciling and redeploying the kfdef without known reason"
We deployed kubeflow 1.0.2 using https://github.com/kubeflow/manifests/blob/v1.0.2/kfdef/kfctl_istio_dex.v1.0.2.yaml kfdef using the kubeflow operator and after around 45 days and without prior noticing, the kubeflow-operator suddenly redeployed the kfdef which resulted in the following:
1. the redeployment of the oicdservice and the cert-manager applications. which made the deployment lose the af

[2020-08-07 13:45] #352 closed

[2020-08-07 15:20] #391 closed

[2020-08-07 15:21] theophilee commented on #391
Fixed this by deleting previous failed deployments.

[2020-08-10 16:56] Jeffwan commented on #344
`alb.ingress.kubernetes.io/auth-scope: 'openid profile'`

See the manifest, we assume to use email here, if you don't have `email`. that would be a problem. @GdMacmillan
https://github.com/kubeflow/manifests/blob/316c3f16698fce5de8349daf1a59756aeaeec18a/aws/istio-ingress/overlays/oidc/ingress.yaml#L10

[2020-08-10 17:34] GdMacmillan commented on #344
Thanks @Jeffwan we're taking a look at it...

[2020-08-10 20:49] adrian555 commented on #393
@Hmr-ramzi could you please provide the operator log by running `kubectl logs deployment/kubeflow-operator -n <operator-namespace>`? Operator reconcile routine watches over any change to the `kfdef` CR and the deletion of one of the resources. The log may be able to tell us if any of these events happened. Thanks.

[2020-08-10 23:51] animeshsingh commented on #393
@adrian555 even if one of the events did happen - how do we ensure that after the fact artifacts -

- the static usernames and passwords for dex
- the deletion of all profiles including all of its data. etc. Namespaces were deleted, pvc and pv of jupyter notebooks were also deleted)

aren't wiped out? As far as I know, the operator doesn't delete any namespace it has not created?

[2020-08-11 06:29] adrian555 commented on #393
The current reconcile routine will re-apply the vanilla config map as it is part of the kustomize resource.

Any user profile (ie. namespace) has the `ownerReferences` set to its parent `Profile`, for example

[code]
So if the `Profile` is deleted, the namespace and objects in the namespace will be deleted. It is not directly wiped out by the operator.

When the operator installs the Kubeflow, the

[2020-08-11 09:34] Hmr-ramzi commented on #393
`W0810 20:02:41.721249       1 reflector.go:302] sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:126: watch of *unstructured.Unstructured ended with: too old resource version: 173064217 (173166386)
time="2020-08-11T04:51:14Z" level=info msg="Reconciling KfDef. Request.Namespace: kubeflow, Request.Name: kubeflow."
time="2020-08-11T04:51:14Z" level=info msg="Creating a new KubeFlo

[2020-08-11 09:38] Hmr-ramzi commented on #393
@adrian555 Thank you for your reply. I added the logs in a previous commit. The main problem that i observed regarding the profiles is that the custom resource definition of "profiles.kubeflow.org" somehow on my kubernetes cluster was created at the same time of the reconciling. Is there any chance that the operator deletes the crd of recreates it somehow ?

[2020-08-11 22:22] adrian555 commented on #393
@Hmr-ramzi thanks for uploading the log. From the log, there was only one resource been created: ` application.app.k8s.io/kubeflow created`. Given that the operator is watching over the deletion event for these resources, it is fair to assume that the reconciling routine was kicked in due to the `kubeflow` Application object been deleted.
Other resources are either `configured` or `unchanged`, fro

[2020-08-12 07:40] Hmr-ramzi commented on #393
@adrian555 Thank you for your reply.

Unfortunately, i don't have access to the previous logs currently but here are points that are worth mentioning:

- I saw in the logs at the time of the problem that the profile application is of status "Created" not configured or unchanged.

- The timestamp (5 days) of the creation of the customresoucedefinition profiles is matching the timestamp where the pr

[2020-08-12 18:51] adrian555 commented on #393
@Hmr-ramzi I was hoping that we could have some previous logs to tell us more. If the kfdef CR is up for 50 days, this becomes more difficult to seek a possible reason.

Several things to verify further:

1. Could you please run `kubectl get kfdef kubeflow -n kubeflow -o yaml > kfdef.yaml` and post the content here?
2. Also which branch of operator code did you run to install the Kubeflow operator

[2020-08-13 09:23] micemuni commented on #343
Yes, tried no lcuk, Actually the kfctl is looking kubeconfig file in same path where we have kfctl_aws YAML file.
But i am maintaining the kfctl files in different path like /opt/kubeflow/.

From my kubernetes infra code is running in diff path. So can we able to pass the kubeconfig file path to kfctl YAML..??

[2020-08-13 09:32] micemuni opened #395 "kfctl 1.0.2 have vulnerability package"
Hi Team,
I am using this kfctl git 1.0.2 branch and building as docker image to run kubeflow. When i scan that image vulnerability with kfctl below package
musl-utils-1.1.22-r2 &  musl-1.1.22-r2, --> The fix is to use 1.1.22-r3 version.
thrift-0.12.0 ---> the fix is 0.13.0

But i couldn't able to see where that version are mentioned in code..?  is this installed  as part of some other packages..?

[2020-08-13 09:45] ivanjacobsec commented on #343
sorry I am not able to help. I was not able to make i work eather

[2020-08-13 13:15] Hmr-ramzi commented on #393
apiVersion: v1
items:
- apiVersion: kfdef.apps.kubeflow.org/v1
  kind: KfDef
  metadata:
    annotations:
      meta.helm.sh/release-name: kubeflow
      meta.helm.sh/release-namespace: kubeflow
    creationTimestamp: "2020-06-22T14:57:33Z"
    finalizers:
    - kfdef-finalizer.kfdef.apps.kubeflow.org
    generation: 1
    labels:
      app: raw
      app.kubernetes.io/managed-by: Helm
      chart

[2020-08-13 13:30] Hmr-ramzi commented on #393
1. @adrian555 Please, find the kfdef used above.

2. I used release 1.0.2 of the operator.
3. I believe it is the same id
![image](https://user-images.githubusercontent.com/11632681/90139940-e3014700-dd2d-11ea-9b8a-800a9be7c501.png)
![image](https://user-images.githubusercontent.com/11632681/90140047-088e5080-dd2e-11ea-8743-b34f817fd7ad.png)
4. Yup 5 days old (today 6 days old)
5. Nop. All of them

[2020-08-14 08:00] pinkavaj opened #396 "Build fails with error "conversion from int to string yields a string of one rune""
[code]

go version go1.15 linux/amd64

[2020-08-17 05:19] adrian555 commented on #393
Thanks @Hmr-ramzi.

Based on the diag info we can get so far, we did not find the evidence that the Kubeflow deployment has been deleted and namespaces were deleted because of that. The operator reconciling routine did respond to resources been deleted and re-deploy Kubeflow.

While trying to figure out why the namespaces were deleted, we found a [blog](https://opensource.com/article/20/6/kubernet

[2020-08-17 21:14] PatrickXYS opened #398 "Add support for Managed AWS Kubeflow Deployment"
Specifically, we will add logic in `KfctlAwsPlugin` to read Native AWS resources information (Optional for users until they want to use managed AWS KF deployment).

What we want:

[code]

Combined with [manifest changes](https://github.com/kubeflow/manifests/issues/1495) for adding support.

[2020-08-17 21:15] PatrickXYS commented on #398
/assign
/cc @Jeffwan

[2020-08-17 21:25] Jeffwan commented on #398
consider to reuse interface here. https://github.com/kubeflow/kfctl/blob/6ed8dca0cddbc508b03bb57a256ab1cb4129f8fc/pkg/kfconfig/awsplugin/types.go#L41-L54

[2020-08-19 09:25] Hmr-ramzi commented on #393
@adrian555 Thanks Adrian for the deep investigation. Very much appreciated!

We are using an azure environment with kubernetes server version 1.16.9.

[2020-08-19 12:31] Hmr-ramzi commented on #393
@adrian555 Do you know if there is a way to get through this and make sure it does not happen again on version kubeflow and kfctl 1.0.2? Maybe removing the operator after the installtion of the kfdef application? or maybe even applying some post installation precautions ? Maybe patching some namespaces to remove some cross referencing in order to avoid the issue till the change is implemented ?

[2020-08-19 12:57] animeshsingh commented on #393
thanks @adrian555 for detailed analysis.  @Hmr-ramzi he is also documenting some possible steps to take in operator codebase
https://github.com/kubeflow/kfctl/issues/393#issuecomment-676020376

cc @vpavlin

[2020-08-20 17:41] adrian555 commented on #393
@Hmr-ramzi I hope we know more about the direct cause these namespaces were deleted. If it is related to garbage collection, removing the operator after the deployment won't help. However, it can prove that it is not the operator deletes the resources. Also it will prevent the re-deployment with the vanilla configurations which you do not want. So I would go with this short term measure for now.

[2020-08-21 05:21] #385 closed

[2020-08-24 19:21] jlewi opened #399 "WG sponsorship for kfctl"
All projects need to find WG sponsorship or they will eventually be archived.

@adrian555 @animeshsingh @crobby @Jeffwan @vpavlin @yanniszark  What is the current thinking about a WG to own kfctl?

cc @Bobgy

[2020-08-25 18:26] aslom commented on #393
I have the same issues happening in openshift 4.4 in IBM cloud. It seems ot be triggered by upgrade of master node `4.4.11_1511 --> 4.4.17_1515_openshift (pending)`

I could see that pods were restarted
[code]

and eventually

[code]

all new except kubeflow-operator-687fd7c966-x8hw6

and the user namespace that containe notebooks was completely cleaned

[code]

I am attchng log `kubectl logs depl

[2020-08-26 14:44] micemuni commented on #343
Any one working on this issue OR workaround atleast.

To automate the kubeflow deployment in kubernetes..?

As i said above, i used kubernetes_job resource tried to run kfctl apply cmd and suing kfctl_aws.v1.0.2.yaml, am getting error below ""could not get platform aws Error Failed to create config file from /root/.kube/config ""

I have single kubeconfig file in cluster, but kfctl is looking that

[2020-08-27 00:46] Jeffwan commented on #399
I think `wg-control-plane` is better. In yesterday community meeting, I think WG proposal is in progress

[2020-08-27 00:51] Jeffwan opened #400 "Support permission boundary in AWS"
"Hi all. I am trying to deploy a simple kubeflow deployment into our teams AWS area. We have restitution that all roles need to have a corresponding permission boundary set.
I can see how to do it for EKS https://eksctl.io/usage/iam-permissions-boundary/ but not sure how to set it for kubeflow anyone a solution"

Get request from Rob Rotheram in slack channel.

[2020-08-27 18:01] Jeffwan commented on #395
@micemuni

Thanks for reporting the issue. I think these are Alpine Linux packages. We probably need to upgrade base image version to patch the issues.

[2020-08-28 05:12] adrian555 commented on #393
Thanks @aslom and @Hmr-ramzi . So now I have a reliable way to reproduce this and I have been digging more and trying different tests on this garbage collection related issue. This open issue https://github.com/kubernetes/kubernetes/issues/65200 in the Kubernetes project likely explains what happens when the master is updated. Some sorts of fix or checking is expected for K8S 1.20 from that issue'

[2020-08-28 18:46] amybachir opened #402 "well-defined vars that were never replaced: static_email,static_password_hash"
I'm trying out kubeflow 1.1.0 with kfctl_istio_dex.v1.1.0.yaml manifest installed on Azure kubernetes cluster.

Before 1.1.0, I would customize the installation by adding my custom parameters directly in  kfctl_istio_dex.v1.1.0.yaml configuration file but after 1.1.0 release, kubeflow documentation says the following:

"Note that with the above manifests, the kfctl CLI expects all applications to

[2020-08-31 16:47] zhangchunsheng opened #403 "open /opt/my-kubeflow/.cache/manifests/manifests-1.1-branch/stacks/kubernetes/application/spark-operator: no such file or directory filename="kustomize/kustomize.go:155""
kfctl apply -V -f kfctl_k8s_istio.v1.1.0.yaml

[code]

[2020-09-01 01:03] Tomcli opened #404 "kfctl delete stuck at namespace finalizer"
When running `kfctl delete -f $KFDEF`, it sometimes stuck at deleting the `knative-serving` and `cert-manager` namespaces due to those namespaces stuck at the terminating stage. After some investigation, those namespaces are stuck because they are waiting for the `kubernetes` finalizer.

Currently we have to manually remove the finalizer and rerun the kfctl delete command, is there a better way fo

[2020-09-01 07:30] zhangchunsheng opened #405 "Required value: this property is in x-kubernetes-list-map-keys, so it must have a default or be a required property]"
kfctl apply -V -f kfctl_k8s_istio.v1.1.0.yaml

[code]

[2020-09-01 07:43] zhangchunsheng opened #406 "Unable to attach or mount volumes: unmounted volumes=[istio-token]"
kubeflow / cache-deployer-deployment log

[code]

[2020-09-02 02:11] zhangchunsheng commented on #406
add flag in /etc/kubernetes/manifests/kube-apiserver.yaml
- --service-account-signing-key-file=/etc/kubernetes/pki/sa.key
- --service-account-issuer=kubernetes.default.svc

[2020-09-02 02:34] zhangchunsheng opened #407 "MountVolume.SetUp failed for volume "webhook-tls-certs" : secret "webhook-server-tls" not found"
kubeflow / cache-server log

[code]

[2020-09-02 16:19] amybachir commented on #402
I found the answer to this question in this github issue https://github.com/kubeflow/manifests/issues/1062

I had to dig a lot to find the answer. It would be very helpful if kubeflow can provide a complete example on how to customize the deployment after 1.1.0 release. The examples should include how to customize global and application specific parameters.

[2020-09-03 07:23] whalecold commented on #403
Hi, I have the same problem, have you solved it ?

[2020-09-03 07:36] swiftdiaries commented on #403
This is the fix: https://github.com/kubeflow/manifests/pull/1540

[2020-09-03 07:37] zhangchunsheng commented on #403
Yes, I delete the spark-operator in kfctl_k8s_istio.v1.1.0.yaml.

like below

vim kfctl_k8s_istio.v1.1.0.yaml
[code]

[2020-09-03 07:37] swiftdiaries commented on #403
This is a duplicate of https://github.com/kubeflow/kubeflow/issues/5246. I'm closing this in favor of that

[2020-09-03 07:37] #403 closed

[2020-09-03 07:53] whalecold commented on #403
Thanks !

[2020-09-08 17:10] jtfogarty commented on #392
/priority p2

[2020-09-08 17:12] jtfogarty commented on #399
/priority p1

[2020-09-17 11:51] isaacyuenhk01 opened #410 "Get the wrong cache directory on kfctl apply"
When I pull the version bf67bc61 on master branch and run `kfctl apply -V -f ./kfctl_aws.v1.1.0.yaml`, .cache is created in `.cache/manifests/manifests-1.1-branch`, but the kfctl is still trying to find files in `2020/09/17 19:39:03 absolute path error in '/Users/user/Desktop/kubernetes/manifests/kfdef/.cache/manifests/manifests-master/namespaces/base' : evalsymlink failure on '/Users/user/Desktop

[2020-09-18 10:20] cells2numbers commented on #405
We are running into the same issue. Any updates on this?

[2020-09-18 16:50] zhangchunsheng commented on #405
No, I will update it next week.

[2020-09-18 18:33] akshatgit commented on #410
Facing the same issue while both building and applying.

[code]

[2020-09-18 21:56] Geoyi commented on #330
I got the same error, though by running what @jlewi recommended did not help to solve the issue.

[2020-09-21 12:46] jtherin opened #412 "Dumping generate invalid yaml"
Using kfctl 1.1.0 and build from master

generate an invalid yaml with empty line return instead of `---` between applications

Example:
[code]

(missing `---` between Namespace resource and CustomResourceDefinition resource)

[2020-09-24 12:07] venkateshreddy1388 opened #414 "afer runing the kkubeflow i am getting this issue"
kfctl exited with error: failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: Apply.Run : error when creating "/tmp/kout588881446": Internal error occurred: failed calling webhook "webhook.cert-manager.io": the server is currently unable to han

[2020-09-26 11:05] DavidSpek commented on #414
Did you already have cert-manager installed on the cluster? Have you tried running kfctl again? It is normal for webhook to time-out while the pod is still initializing so it is difficult to determine what the issue is you are having from the small error snippet you posted and without context.

[2020-09-26 11:22] DavidSpek commented on #407
Would this by any chance be related to https://github.com/kubeflow/pipelines/issues/4505? What version of kubernetes are you using? How did you deploy kubeflow?

[2020-09-26 11:24] DavidSpek commented on #405
Seems to be the same as this issue: https://github.com/kubeflow/website/issues/2206#issuecomment-698234904. I have provided a workaround for it which you can find here: https://github.com/kubeflow/website/issues/2206#issuecomment-698234904.

[2020-09-26 11:52] DavidSpek commented on #384
Are you still facing this problem? Do you have more details you can share?

[2020-09-29 07:53] Eros11on commented on #384
I‘ve already solved this problem.Thanks!!!

[2020-09-29 07:54] #384 closed

[2020-10-03 15:08] jbottum commented on #406
@zhangchunsheng which cloud are you running on ? AWS, GCP, on-prem ?

[2020-10-03 15:13] jbottum commented on #414
@venkateshreddy1388 which cloud are your running on i.e. AWS, GCP, on-prem ?  which version of Kubeflow and K8s

[2020-10-03 21:40] jbottum commented on #407
Hi @zhangchunsheng, which platform are you running Kubeflow on i.e. AWS, GCP, on-prem ?

[2020-10-04 15:08] jbottum commented on #405
Hi @zhangchunsheng which platform are you deploying on i.e. GCP, AWS, on-prem

[2020-10-04 15:10] jbottum commented on #402
Hi @amybachir is this now resolved? Can we close this?

[2020-10-04 18:38] amybachir commented on #402
Yes! Thanks for checking in!

[2020-10-05 15:25] jbottum commented on #343
Hi @micemuni is this issue still open ?   Have you started to look at using GitOps for your deployments ?

[2020-10-05 21:20] jbottum commented on #412
Hi @jtherin did you get this resolved ?  which platform (GCP, AWS, On-Prem) are you deploying on to ?

[2020-10-05 21:45] jbottum commented on #395
@jtfogarty @krishnadurai Hey Jeff, Krishna, any comments on this ?

[2020-10-06 02:18] #405 closed

[2020-10-06 02:20] zhangchunsheng commented on #407
Aliyun

[2020-10-06 11:59] jtherin commented on #412
I'm deploying on-prem. I pushed https://github.com/kubeflow/kfctl/pull/413 to fix it.

[2020-10-06 17:42] #412 closed

[2020-10-06 19:14] jtfogarty commented on #395
@micemuni

What are you building as a docker image?  Can you post a link to your Dockerfile?

[2020-10-07 01:41] jtfogarty commented on #396
/priority p1

[2020-10-07 01:43] jtfogarty commented on #402
/kind bug

[2020-10-07 06:29] venkateshreddy1388 opened #415 "While trying to deploy kubeflow"
ERRO[0618] Permanently failed applying application kubeflow-apps:  (kubeflow.error): Code 500 with message: Apply.Run : [error when creating "/tmp/kout524356490": CustomResourceDefinition.apiextensions.k8s.io "seldondeployments.machinelearning.seldon.io" is invalid: [spec.validation.openAPIV3Schema.properties[spec].properties[predictors].items.properties[explainer].properties[containerSpec].proper

[2020-10-07 06:31] venkateshreddy1388 commented on #414
AWS

[2020-10-07 06:34] venkateshreddy1388 commented on #414
I am using AWS and Kubernetes version is 1.18

On Sat, Oct 3, 2020 at 8:43 PM Josh Bottum <notifications@github.com> wrote:

[2020-10-08 18:03] Jeffwan commented on #392
/assign @Jeffwan

[2020-10-08 18:03] Jeffwan commented on #392
/assign @PatrickXYS

[2020-10-09 04:40] zhangchunsheng commented on #406
Aliyun

[2020-10-12 17:49] Hmr-ramzi commented on #393
@adrian555 Is there any update regarding the refactoring in order to prevent the issue from happening again ?

[2020-10-12 17:55] adrian555 commented on #393
@Hmr-ramzi yes, the PR https://github.com/kubeflow/kfctl/pull/411 is waiting to be merged and should resolve this issue.

[2020-10-12 17:57] Hmr-ramzi commented on #393
Thanks @adrian555 for your effort! Very much appreciated!

[2020-10-13 15:40] jbottum commented on #415
Hi @venkateshreddy1388 where are you deploying i.e. AWS, GCP, On-prem ?

[2020-10-13 18:38] ShilpaGopal commented on #152
Is there a plan to fix this?

[2020-10-16 13:57] ConverJens commented on #140
I'm having issues with programatically authenticating using dex for an on-prem install. Is there any progress on this or some standard way of authenticating using dex?

[2020-10-19 10:24] micemuni commented on #343
@jbottum  Actually i am trying to automate the kubeflow deployment in my existing Kubernetes platform, used manual steps to setup kubeflow

[2020-10-19 10:24] #343 closed

[2020-10-19 10:30] micemuni commented on #395
@jtfogarty  I am using kubeflow kfctl git and trying to build kfctl binary to automate the kubeflow deployment using kubernetes resource, but no luck, so i deployed it via manual steps.

[2020-10-19 10:30] #395 closed

[2020-10-19 19:17] muthurajr commented on #402
@amybachir I'm struck at the same issue. Can you help with the workaround fix you tried.

[2020-10-20 11:45] neonihil commented on #402
I'm also stuck at this. As mentioned above in the original post, the docs says:

"The parameters and overlays fields under kustomizeConfig for each application will be ignored."

Then a bit later it also says:

"To customize these configurations, you can modify parameters in your ${CONFIG_FILE}, and then run kfctl apply to apply the configuration to your Kubeflow cluster."

My guess the docs is ou

[2020-10-23 14:44] jszanto opened #418 "kfctl fails to build configuration for Kubernetes deployment"
When running `kfctl build -V -f https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_k8s_istio.v1.1.0.yaml` as instructed in the guide [here](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/#alternatively-set-up-your-configuration-for-later-deployment), I get the following errors.

[code]
It seems like something is going wrong in resolving the kustomize paths. Any

[2020-10-23 19:03] moficodes commented on #418
1. What version of kubernetes are you running?
2. is this a stand alone kubernetes distribution or managed?

[2020-10-23 19:17] jszanto commented on #418
Running a stand-alone cluster on kubernetes 1.18.3

[2020-10-23 19:26] moficodes commented on #418
Could be a kustomize issue. Investigating.

[2020-10-23 19:38] moficodes commented on #418
Also, just to confirm could you provide the full version of kfctl and kustomize as you see from
`kfctl version`
`kustomize version`

[2020-10-24 08:39] jszanto commented on #418
[code]

[2020-10-24 08:49] jszanto commented on #418
Another note, if I try to use the kubeflow 1.0.2 manifests the build and installation succeeds.

[2020-10-25 22:54] jbottum commented on #418
Hi @jszanto, Are you deploying on on-prem or in a public cloud ie. AWS, GCP, etc.

[2020-10-26 06:45] jszanto commented on #418
I am using an on-prem cluster

[2020-10-26 17:01] moficodes commented on #418
@jszanto I will check the path of kfctl? maybe the new download did not go to the right path.

I tested with the kfdef you linked and `kfctl v1.1.0-0-g9a3621e` and it build without any error.

[2020-10-27 07:05] jszanto commented on #418
@moficodes My apologies, apparently there was an older version (1.0.1) of kfctl added to my `$PATH` which I wasn't aware of. Even after downloading the new version and adding that to my path it still used the old one.
Thanks for your help in investigating!

[2020-10-27 07:05] #418 closed

[2020-10-27 12:42] remyleone opened #420 "Add support for homebrew"
As a mac user, I would like to be able to install kfctl as a command-line tool using homebrew.

[2020-10-27 20:57] moficodes commented on #420
@animeshsingh I can work on getting a brew tap going.

Will it be possible to get a `homebrew-tap` repository under kubeflow?

[2020-10-27 23:04] animeshsingh commented on #420
@jlewi thoughts?

[2020-10-28 22:40] rafaelbarreto87 commented on #140
Running into this issue as well, which is unfortunately preventing us from upgrading to 1.1.

[2020-10-29 05:54] Jeffwan opened #421 "kfctl 1.2 release candidates"
I am checking in if any features/improvement/bug fixes you plan to add into 1.2 release. I plan to cut release end of next week.

@adrian555 @animeshsingh @PatrickXYS @mameshini

WG-manifest will probably maintain a minimum distribution in the future. this is still in discussion in separate thread.

For 1.2 release, we will rely on cloud providers to confirm their status. I think @PatrickXYS would

[2020-10-29 09:08] ConverJens commented on #140
@rafaelbarreto87 For our purposes, this was solved. See:
https://github.com/kubeflow/kubeflow/issues/5345

[2020-10-29 10:51] dale88 commented on #407
I have the same issue.

[2020-10-29 20:40] rafaelbarreto87 commented on #140
@ConverJens Thanks a lot! This solves for some of our use cases as well (i.e. deploying pipelines from shell)! Really appreciated.

Unfortunately, I think it would be great to have a more permanent and general solution for this (e.g. OAuth2) because some processes are not interactive and this method depend on the UI, which is something that could easily change. Either way, it's a workable solution

[2020-10-29 22:15] adrian555 opened #422 "[Operator]Add operator manifests for 1.2 release"
Tasks:
[ ] add 1.2.0 operator csv https://github.com/kubeflow/kfctl/tree/master/deploy/olm-catalog/kubeflow, make sure the proper kfdef CR is used in `alm-examples`
[ ] update current version https://github.com/kubeflow/kfctl/blob/master/deploy/olm-catalog/kubeflow/kubeflow.package.yaml
[ ] build operator image for 1.2.0 and update https://github.com/kubeflow/kfctl/blob/master/deploy/operator.yaml

[2020-10-29 22:17] adrian555 commented on #422
/assign @evan-hataishi

[2020-10-30 00:28] Tomcli opened #424 "kfctl apply the same application multiple times if applications use the same name"
When several applications using the same name in kfdef but pointing to different path, kfctl still applies the same application stack multiple times despite that all the applications are already packaged inside a common kustomize folder. Therefore, we need to update the kfctl apply logic to apply only once for each application name.

[2020-10-30 00:31] moficodes commented on #424
I can investigate for a possible fix.