[2020-10-30 01:05] dale88 commented on #407
I have solved this problem in my env.

I commented out everything in the cat /etc/resolv.conf.

[2020-10-30 09:56] #407 closed

[2020-10-30 12:35] ConverJens commented on #140
I agree

@rafaelbarreto87 Happy to help!

I agree. A more stable solution in necessary for the long term!

[2020-10-30 15:34] jlewi commented on #420
I'm generally against creating more repositories under Kubeflow as it creates a burden on a small number of folks  (see kubeflow/testing#737)

There were also previous attempts to create homebrew repos
https://github.com/kubeflow/homebrew-core
https://github.com/kubeflow/homebrew-cask

Is there a reason this needs to be created in the Kubeflow org?

If this necessary can the forthcoming deployment

[2020-10-30 18:38] moficodes commented on #424
/close

[2020-10-30 18:38] Tomcli commented on #424
Problem also resolved in one of the latest commit, we need to cut a new release to address this issue.
/close

[2020-10-30 18:38] #424 closed

[2020-10-31 06:54] yanp commented on #140
Here is a workaround to authenticate for `kfp.Client()` in Python:

[code]

[2020-11-02 02:01] knabben commented on #415
I'm having the same issue on-prem, build with Kubeadm 1.18:

[code]

The following error happens on retry:

[code]

[2020-11-02 14:56] jlewi commented on #140
/cc @yanniszark @cventes

[2020-11-02 22:49] mukul-shaunik-nokia opened #428 "kfctl build not adding status.repoCache in kfdef file"
While trying to deploy kubeflow
**Expected Behaviour:**
`kfctl build -V -f <path to CONFIG file>`
should add
`status:
  reposCache:
  - localPath: '".cache/manifests/manifests"'
    name: manifests
`
to the CONFIG file.
**Actual Behaviour**
`kfctl build -V -f <path to CONFIG file>`
does not add
`status:
  reposCache:
  - localPath: '".cache/manifests/manifests"'
    name: manifests
`
because of th

[2020-11-02 22:59] mukul-shaunik-nokia commented on #428
/cc @hemantha-kumara

[2020-11-03 20:48] moficodes commented on #428
I think this is current expected behavior.

@Tomcli can you confirm?

[2020-11-03 21:22] Tomcli commented on #428
`reposCache` only appends in the apply command. I didn't own the `build` part so I'm not sure is this expected. But usually we shouldn't modify the .cache folder after `kfctl build` because all the changes should go to the generated `kustomize` folder.

[2020-11-04 10:50] anishasthana commented on #243
I ran into the same issue when I had a kfdef without `manifests` defined.

[2020-11-04 15:51] Tomcli opened #429 "Define common/shared variables"
With the current kfctl spec, there's no way to define common/shared variables across multiple applications with different names. Our current work around is grouping multiple applications with the same name which it could get dirty over time.

[2020-11-04 19:58] jlewi opened #430 "Get rid of ksonnet in the tests"
ksonnet was deprecated over a year ago the tests should no longer be using ksonnet to define tests.

Related to #774

[2020-11-06 21:12] muthurajr commented on #402
@neonihil There might be some easy way of specifying the application configurations. I used below steps to override the user and password with the assumption that the KfDef config file is already downloaded.

1. kfctl build -V -f ${CONFIG_FILE}
This will generate kustomize files to be applied.

2. kustomize/dex/kustomization.yaml is specific to dex-auth and has to be edited for changing email & pa

[2020-11-08 15:50] ajinkya933 commented on #140
I have installed Kubeflow on EKS. I am having a Issue here. I want the yaml file to run using Kubeflow pipelines API. Ideally this commands uploads pipeline yaml file to dashbord. But due to Dex authentication I am not able to run it on specified address on SVC.

[code]

Where:
[code]
Please tell me what SVC should i give to make pipeline upload ?

[2020-11-09 18:49] muthurajr opened #433 "Issue with Issuer URL for Dex - Google Connector Integration"
I have installed Kubeflow 1.1.0 with Istio & Dex, and exposed it on a public domain (mlapps.example.com). When connecting Dex with any SAML connectors, it provides an option to override issuer URL for AuthnRequest purpose (entityIssuer). https://dexidp.io/docs/connectors/saml/

When Google connector (https://dexidp.io/docs/connectors/google/) is used, is there any approach to override just for the

[2020-11-10 14:11] akrava opened #435 "KF operator fails with webhook error after reinstall"
Kubeflow version: v1.1.0

There are some errors during KF installation after reinstall, which blocks further installation process. As we can see from the operator log:
[code]
there is an issue with knative webhooks. It's seems that knative just delete `ownerReference` from metada of these three webhooks, listed above in error log, so they remain after uninstalling and cause such error.

[2020-11-10 19:04] moficodes opened #437 "kfdef application name missing doesnt fail `kfctl build`"
[code]

The above kfdef builds fine. but apply would fail and the error message is completely unrelated.
[code]

We should add a check for application name or infer name from path.

[2020-11-10 19:04] moficodes commented on #437
cc @Tomcli

[2020-11-10 19:11] moficodes commented on #437
/assign

[2020-11-10 19:14] Tomcli commented on #437
Raise an error is better in this case because the user can also miss other fields.

[2020-11-13 13:46] vpavlin commented on #308
@SatwikBhandiwad Hey, I don't think that is how this works. I digged through the code and it seems like the Secrets are only used in plugins (e.g. [gcp](https://github.com/kubeflow/kfctl/blob/master/pkg/kfapp/gcp/gcp.go#L183))

[2020-11-13 18:09] #437 closed

[2020-11-16 12:38] kuzm1ch opened #447 "kfctl v1.1 darwin binary is failed"
OS: macOS Cataline 10.15.17
kfctl version: kfctl v1.1.0-0-g9a3621e

Error:
[code]
In the same time, Linux binary is working as expected.  The root may be related to "\t" in AWS URL.

[2020-11-16 14:35] shawnzhu commented on #308
It is the [Kustomize](https://kubectl.docs.kubernetes.io/) that handles resource generation like k8s secrets when using the CLI `kfctl`. And you can use the directive [`secretGenerator`](https://kubectl.docs.kubernetes.io/references/kustomize/secretgenerator/). For instance:

https://github.com/kubeflow/manifests/blob/a95c7d0a0eda0066c987df19b1b0ad00d4413101/metadata/overlays/db/kustomization.yaml

[2020-11-16 18:02] Jeffwan commented on #447
/cc @PatrickXYS

[2020-11-16 18:54] PatrickXYS commented on #447
@kuzm1ch There's no difference between Linux / macOS in kfctl code.

The only difference is

[code]

It's weird that linux binary works but macOS failed, I'm still guessing it's AWS credential configuration issue. Can you confirm that linux and macOS are running in the same environment by using `env` to check the env variable diff.

[2020-11-17 06:45] Jeffwan commented on #421
I think we don't have blocking issues in kfctl.

[2020-11-17 08:20] #70 closed

[2020-11-17 16:37] PatrickXYS commented on #421
I agree, we should be good to go with official 1.2 release on kfctl side

[2020-11-18 00:52] Jeffwan commented on #422
@adrian555 Any progress there? is this a blocking issue for kubeflow 1.2 release?

[2020-11-18 00:58] evan-hataishi commented on #422
@Jeffwan I'll submit a PR for all this by the end of the week :)

[2020-11-18 02:35] Jeffwan commented on #422
@evan-hataishi Do you need this to be in 1.2? We plan to cut the release this week.

[2020-11-18 17:29] evan-hataishi commented on #422
@Tomcli What do you think?

[2020-11-18 17:34] Tomcli commented on #422
@evan-hataishi can you update the version in https://github.com/kubeflow/kfctl/blob/master/cmd/manager/main.go#L35?

Everything else can be done after 1.2 release since olm yaml doesn't need to change the kfctl source code.

[2020-11-18 19:19] chethanmahadevaiah opened #450 "Unable to delete k8s resource with patchesStrategicMerge using '$patch: delete', doesn't work in the kfctl v1.1"
patchesStrategicMerge with $patch: delete doesn't work in the kfctl v1.1
The overlay is simple ignored or below error is thrown:

However, I could see the patchesStrategicMerge is successful and $patch: delete is added to the resource manifest under consideration.
cat kustomization.yaml
[code]

cat google_storage_api_vs.yaml

[code]
cat google_api_vs.yaml
[code]
Please suggest if something has cha

[2020-11-19 00:16] naveensrinivasan opened #454 "Homebrew kfctl"
It would be nice to have a formula in [homebrew](https://brew.sh/) for `kfctl`

[2020-11-19 20:52] adrianchia commented on #454
there was a problem building homebrew kfctl for 1.1.0 which was fixed in 1.2.0.rc0. I can submit the PR to homebrew when it is ready.

[2020-11-19 20:54] naveensrinivasan commented on #454
I was able to get it working in `1.1.0` https://github.com/Homebrew/homebrew-core/pull/65230

[2020-11-19 20:54] naveensrinivasan commented on #454
When the PR gets merged in. I will submit a PR to this repo for the documentation.

[2020-11-20 21:24] Jeffwan commented on #421
I cut v1.2.0 https://github.com/kubeflow/kfctl/releases/tag/v1.2.0 and this can be closed

[2020-11-20 21:24] #421 closed

[2020-11-23 04:36] RyanSiu1995 opened #458 "Operator Hub Update"
Hi community,
Thank you for the good work in `kfctl` to make life easier.
I have tried to use https://operatorhub.io/operator/kubeflow to deploy the kubeflow.
But the version is pretty legacy on the operator hub.
Is it possible to have an update on the hub?

[2020-11-23 13:58] tomalbrecht commented on #140
@yanp Thanks for this snippet. I've tested it, but I cannot get it to work yet. As I am using kfp from a remote client, I set `kubectl edit svc authservice -n istio-system` to NodePort on 30080. Thus I am able to reach the Pod, but no cookies are fetched (assuming NAMESPACE = 'kubeflow' for default installation).

Any ideas what I am doing wrong?

[2020-11-23 14:23] naveensrinivasan commented on #454
The Upstream won't be able to accept the PR because we are compiling against `go` version `1.13` which is not maintained.

I tried compiling `kfctl` in `1.15` and there were `go vet` issues and couldn't compile it.

https://docs.brew.sh/Acceptable-Formulae#niche-or-self-submitted-stuff

_Originally posted by @SMillerDev in https://github.com/Homebrew/homebrew-core/pull/65230#discussion_r528545331_

[2020-11-23 14:24] naveensrinivasan commented on #420
I didn't see this issue before creating this one https://github.com/kubeflow/kfctl/issues/420

[2020-11-23 16:46] yanp commented on #140
Hi @tomalbrecht, were you able to authenticate the Web UI on browser using url `http://ki-server3:30080/` and `USERNAME`/`PASSWORD` above?

[2020-11-23 21:15] kuzm1ch commented on #447
I've lost quite a lot of time to find the root cause(hope this reply will help somebody else). @PatrickXYS you're right, it was AWS credential configuration issue.
[code]
it was a tricky tab in the config file, but aws cli works without any issues.  Anyway, `eu-central-1\t` this error message should point me into the right direction.

[2020-11-23 21:15] #447 closed

[2020-11-23 21:30] moficodes commented on #458
we are on process on getting the newest changes merged there.

cc @evan-hataishi

[2020-11-23 22:39] evan-hataishi commented on #458
Thanks @moficodes. @RyanSiu1995 1.2.0 is pending approval in this PR https://github.com/operator-framework/community-operators/pull/2734, so it should be in soon.

[2020-11-24 05:52] tomalbrecht commented on #140
@yanp

Well, no. Not with USERNAME /PASSWORD. Port 30080 points to istio-system/authservice. When opening `http://ki-server3:30080/` I get  `OK`as an result. While opening `https://ki-server3:31390` will point to dex and will ask for PASSWORD/USERNAME.

[code]

But this pointed me to the right direction. Thank you. I have to use the service istio-system/dex for authentication (`https://ki-server3:

[2020-11-24 07:18] yanp commented on #140
@tomalbrecht I'm not sure about the ssl issue, but I had my port point to `svc/istio-ingressgateway` instead of  `dex`, following the doc: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#accessing-kubeflow Hope it helps!

[2020-11-24 07:27] tomalbrecht commented on #140
@yanp My fault. Port 31390 refers to `svc/istio-ingressgateway` and will [forward to dex](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#architecture-overview).

Did you change your gateway specs to use httpsRedirect: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#secure-with-https?

[2020-11-24 07:41] yanp commented on #140
@tomalbrecht No I didn’t do any customization. I’d recommend asking for more help on the slack channel https://www.kubeflow.org/docs/about/community/#slack-community-and-channels

[2020-11-24 07:45] yanp commented on #140
@tomalbrecht BTW namespace for client should be the one showing up on web UI, not necessarily `kubeflow`

[2020-11-24 09:10] tomalbrecht commented on #140
For the records. Using http instead of ssl does work as a workaround on my microk8s manifest installation.

httpsRedirect has to be disabled:
[code]

Then, the following code will work for me.
[code]

Thanks for your help @yanp

[2020-11-24 09:40] RyanSiu1995 commented on #458
Thank you all!

[2020-11-24 17:26] HumairAK opened #460 "Ownerreferences no longer added to resources deployed through operator"
Hello, it seems this feature was initially added [here](https://github.com/kubeflow/kfctl/pull/271) but was later removed [here]( https://github.com/kubeflow/kfctl/commit/20f20a739cb449db2c362347210ee0ead088f2e0#diff-0cd2fe44eca7e038192e34261390737f73795dc333b6b8cdf9bc008e8d6f57bb) in exchange for annotations. I also can't seem to find why this was changed. We found ownerreferences useful because

[2020-11-24 17:27] HumairAK commented on #460
@animeshsingh  @vpavlin

[2020-11-24 20:10] tumido commented on #460
I think the reason why it's been removed it is pretty much described in the PR (parent to the removal commit you linked, @HumairAK): https://github.com/kubeflow/kfctl/pull/411.

It all leads to this upstream kubernetes issue https://github.com/kubernetes/kubernetes/issues/65200 which will be fixed in kubernetes 1.20)

We use OCP, and I have no idea if the problem is actually present in on our plat

[2020-11-25 03:27] PatrickXYS opened #461 "Clean up stale branches"
We should clean up kubeflow/kfctl branches except for formal release branches, thus, I collected data points as below:

https://github.com/kubeflow/kfctl/branches/all

Otherwise, it's weird to end-user that other branches exist alongside the release branches

[code]

/cc @kubeflow/wg-deployment-leads

[2020-11-25 03:29] PatrickXYS commented on #59
Since GCP has moved out of kfctl, we can close the issue

/close

[2020-11-25 03:29] #59 closed

[2020-11-25 03:57] PatrickXYS commented on #15
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 03:57] #15 closed

[2020-11-25 03:59] PatrickXYS commented on #40
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 03:59] #40 closed

[2020-11-25 03:59] PatrickXYS commented on #63
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 03:59] #63 closed

[2020-11-25 04:00] PatrickXYS commented on #82
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 04:00] #82 closed

[2020-11-25 04:00] PatrickXYS commented on #104
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 04:00] #104 closed

[2020-11-25 04:00] #121 closed

[2020-11-25 04:01] PatrickXYS commented on #139
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 04:03] PatrickXYS commented on #158
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 04:03] #158 closed

[2020-11-25 04:03] PatrickXYS commented on #191
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 04:03] PatrickXYS commented on #246
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 04:03] #246 closed

[2020-11-25 04:04] PatrickXYS commented on #281
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 04:04] #281 closed

[2020-11-25 04:04] PatrickXYS commented on #320
Since GCP has migrated out of kfctl and use gcp-blueprint instead, close the issue

/close

[2020-11-25 04:04] #320 closed

[2020-11-25 04:05] PatrickXYS commented on #414
/assign

[2020-11-25 04:07] PatrickXYS commented on #415
I believe the issue is solved in favor of https://github.com/kubeflow/manifests/pull/1600

[2020-11-25 04:09] PatrickXYS commented on #450
I think GCP now is using gcp-blueprint to deploy kubeflow, they might don't want to check backward,

@chethanmahadevaiah do you want to try gcp-blueprint instead of kfctl

[2020-11-25 04:14] PatrickXYS commented on #410
Let's avoid using master branch, you're encouraged to follow AWS installation guidance https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

[2020-11-25 04:16] PatrickXYS commented on #399
I think this issue is resolved by establishment of wg-deployment

/close

[2020-11-25 04:16] #399 closed

[2020-11-25 04:17] PatrickXYS commented on #400
/assign

[2020-11-25 04:19] PatrickXYS commented on #396
I'm not sure if I understand, if we're not using go 1.15, there should be some issues when we upgrade go version in kfctl.

Let's take a step back, what's the reason that we need to upgrade go version for kfctl?

[2020-11-25 04:20] PatrickXYS commented on #376
I believe there's no one take care of windows deployment for kubeflow as of now.

[2020-11-25 04:23] PatrickXYS commented on #332
I think google has already migrated to kpt instead, so this issue should be closed

[2020-11-25 04:24] PatrickXYS commented on #303
/assign

[2020-11-25 04:26] PatrickXYS commented on #253
This is recommended using EKS cluster to deploy Kubeflow, we can't guarantee that it works on EC2 instance / On-prem

[2020-11-25 04:59] PatrickXYS commented on #228
I think this is resolved by https://github.com/kubeflow/kfctl/pull/245

/close

[2020-11-25 04:59] #228 closed

[2020-11-25 05:26] PatrickXYS commented on #199
This issue should be solved by https://github.com/kubeflow/kfctl/pull/200

/close

[2020-11-25 05:26] #199 closed

[2020-11-25 05:30] PatrickXYS commented on #3
/close

There's no need to set up webhook as of now

[2020-11-25 05:30] #3 closed

[2020-11-25 05:32] PatrickXYS commented on #24
/assign

I'll help on kfctl CI/CD

[2020-11-25 05:33] PatrickXYS commented on #35
I think kfctl/upgrade is not supported at this moment, but will be an action item on roadmap

/assign

[2020-11-25 05:35] PatrickXYS commented on #43
This is an old issue to be tracked. Let's not check too backward

/close

[2020-11-25 05:35] #43 closed

[2020-11-25 05:41] PatrickXYS commented on #138
Dex test has been brought back https://github.com/kubeflow/kfctl/blob/master/prow_config.yaml#L26-L38

/close

[2020-11-25 05:41] #138 closed

[2020-11-25 07:22] Jeffwan commented on #461
+1

I help remove two. `richardsliu-patch-1` is a protected branch and I can not remove it. This has to be done by admin. write access is not enough. It's fine to leave one branch there

[2020-11-25 13:13] jlewi commented on #454
Duplicate of #420

[2020-11-25 13:13] #454 closed

[2020-11-30 19:40] thoraxe opened #462 "[RFE] make control plane key configurable"
Currently, via https://github.com/kubeflow/kfctl/pull/123 , a `control-plane` label is applied to namespaces where kubeflow is running. While this is well-intentioned (to prevent the application of kubeflow webhooks), it unfortunately causes collisions with other solutions.

This issue is a request for enhancement to make the key (`control-plane`) configurable.

An alternate suggestion would be to

[2020-12-01 13:33] karlschriek opened #463 "KfAwsPlugin "managedRelationDatabase" does not work in KF 1.2.0"
I spent some time today rolling out KF 1.2.0 on EKS using exclusively RDS databases instead of an on-cluster MySQL deployment.

The latest kfctl has a "managedRelationDatabase" field that can be set in the kfdef, such as here:

[code]

This appears to be meant as a way to easily set the required overlays and ensure that the "external-mysql" overlays are rolled out instead of the default "db" ones.

[2020-12-01 13:42] karlschriek commented on #463
@PatrickXYS, @Jeffwan

[2020-12-01 15:44] sulabh2000 opened #464 "KFCTL FOR WINDOWS"
Does Kubeflow provide kfctl for windows?
Cause I do not find here:-
https://github.com/kubeflow/kfctl/releases/tag/v1.1.0
If there is no release for windows then please suggest to me a way to install kfctl on windows.

[2020-12-01 15:51] PatrickXYS commented on #463
[code]
I don't really think this will work, because those are interfaces we pre-defined, but not yet implement

[2020-12-01 16:42] karlschriek commented on #463
Yes, that is the conclusion I came to as well. Doesn't look like it would be too hard to implement though? Essentially instead of creating the config maps as it currently does it does needs to adjust the overlays as described above. That would be quite useful since one then only needs to update the kfdef

[2020-12-01 16:52] PatrickXYS commented on #463
All the other parts of implementation are finished, except how to pass `password` to replace K8s secret, it's fairly easy in the k8s onfigmap, however not in k8s secret.

It's about kfctl implementation, we generate all the manifests (including secrets and configmap) at first, then place them with our KfAwsPlugin parameter.

I touched it previously, might need to spend some time figuring it out.

[2020-12-02 14:03] slenky commented on #462
Upvoting it.
In Azure that label also blocks Istio Injection for Kubeflow namespace because of https://github.com/Azure/AKS/issues/1771
Whenever I use kfctl to apply some changes I need to remove the control-plane label from Kubeflow namespace and `rollout restart` all the deployments in the kubeflow ns.

[2020-12-02 14:49] thoraxe opened #465 "possible race/stall condition in operator when namespace terminating"
Scenario:

Create namespace `ns1`
Create a `kfdef` in `ns1`
Delete namespace `ns1`, which puts it into `terminating` status
Create namespace `ns2`
Create a `kfdef` in `ns2`

Result:
The operator gets stalled/hung/races on resources. For example:

[code]

For whatever reason, the `kfdef` hangs around in `ns1`. As soon as I deleted the `kfdef` from `ns1`, the operator got unblocked, happily deleted

[2020-12-04 21:31] moficodes commented on #464
There is no plan currently for creating release for windows.

If you have access to wsl on windows you should be able to install kfctl in there.

Another workaround could be using a docker image to have kfctl installed.

[2020-12-05 12:45] sulabh2000 commented on #464
ok thanks

[2020-12-05 12:45] #464 closed

[2020-12-08 12:39] aborilov opened #466 "git not available in operator docker image"
we are using `overlays` to set some istio configuration, but we can use such kustomization

[code]

because operator docker image does not include `git` in it
[code]

[2020-12-08 18:48] Tomcli opened #467 "Create a dev mode for operator deployment"
Currently, the operator always watching the Kubeflow resources to reconcile when something is missing. This is good for production environment, but not very friendly when we need to remove and test resources in our development and testing setup. It would be nice to have a dev_mode flag to disable the operator watcher for development.

/cc @moficodes

[2020-12-08 18:50] vpavlin commented on #467
How would the reconcilation be triggered then? (I.e. what would the operator do if not watch:) )

[2020-12-08 18:53] moficodes commented on #467
I think the goal is to make the operator more like kfctl. With the dev mode operator is just wrapping kfctl running the command once and thats it.

its useful for quickly iterating and testing the operator deployment.

[2020-12-08 18:53] moficodes commented on #467
I can take a look at it.

[2020-12-08 18:53] moficodes commented on #467
/assign

[2020-12-08 18:58] vpavlin commented on #467
Why not just use `kfctl` then?

Or even better, use the operator-sdk tooling for development - https://github.com/operator-framework/getting-started#2-run-locally-outside-the-cluster

[2020-12-08 19:06] Tomcli commented on #467
This is coming from one of our users who doesn't have much experience as a devops. We probably don't have to disable all the watchers, we only want to disable the watcher for monitoring the k8s resources https://github.com/kubeflow/kfctl/blob/master/pkg/controller/kfdef/kfdef_controller.go#L119

[2020-12-08 19:07] Tomcli commented on #467
also, this is an opt-out feature, so it shouldn't change the behavior of the current operator deployment.

[2020-12-08 19:18] Tomcli commented on #467
For most of our users, kfctl is sufficient in this case. However, we have some users that are using window or have very little experience with terminal. So able to use operator for development would be nice for them.

[2020-12-08 20:00] vpavlin commented on #467
Can you help me to understand the use case again - maybe with more details? It sounds like there is a very specific case which would get treatment in the operator where it should rather be treated by educating the user(s).

[2020-12-08 22:04] Tomcli commented on #467
Since the default behavior for operator now is to reapply the kfdef if there a delete event from any kfctl resource, users that made changes to the Kubeflow deployment with `kubectl edit` instead of updating kubeflow/manifests will lose their configuration. I do agree educating the users is the right approach, but I'm seeing some users are afraid to use operator when they see a big learning curve

[2020-12-09 23:28] moficodes opened #468 "kfctl apply from pricate kfdef on private and enterprize github"
right now the only way we can deploy kubeflow with kfctl is if the manifest is coming from a public repository and the kfdef is either downloaded or is also a public url.

it would be useful if we added a way to download private github files using token and from enterprise github.

[2020-12-09 23:28] moficodes commented on #468
/assign

[2020-12-10 19:58] nakfour commented on #467
@Tomcli I don't think it is a good idea to override a normal operator workflow to satisfy a small set of users. Another option they can do as @tumido pointed out is to install the operator, install Kubeflow and then pull down the operator pod instance to 0. This will remove the operator pod watching and doing the reconcile function. I am absolutely not a fan of adding code that breaks the fundamen

[2020-12-10 20:26] Tomcli commented on #467
Thanks @nakfour, pull down the operator pod instance to 0 can be a good option. Then we probably want to add some instructions for:
1. How to stop watching kubeflow deployment (using kubectl, k8s/ocp ui to cover different audiences)
2. When to resume watching (e.g. deleting kubeflow, update kfdef)

Hopefully this way we should able to help out our users without changing the operator behaviors.

[2020-12-10 20:29] tumido commented on #467
I was looking for this issue and couldn't find it.😁

Precisely as @nakfour says. My experience with dev setup, when working on adjusting ODH components, I've found out that only either manual `kfctl` or scaling down the operator after the initial deploy gives me the control I need.

If you need to test the operator interaction with your `kfdef`, the best way is to let it operate. And if you need t

[2020-12-11 09:56] tumido commented on #467
btw, @Tomcli this way the whole "dev mode" toggle experience can be as simple as this:

#### Disable operator
[code]
#### Enable operator
[code]

you can also alias it in you bash to something shorter, which makes it even more convenient to use. :slightly_smiling_face:

[2020-12-11 17:28] Tomcli commented on #467
Thanks @tumido, I can add these instructions to the kubeflow/website and close this issue.

[2020-12-15 11:27] berndverst commented on #462
FYI @kubeflow/wg-manifests-leads

[2020-12-15 19:56] #422 closed

[2020-12-17 01:41] #217 closed

[2020-12-21 05:43] nanduri1998 opened #470 "kfctl to enable or disable certain components including hiding from Dashboard UI"
I have a use case to hide or disable certain components of kubeflow using kfctl command line.
For eg:
I want to only deploy Notebook Server of kfserving or only pipelines. I understand that Pipelines can be installed as a separate component but for the others I cannot find a way to do reasonably. Also Pipelines is not a part of kfctl command.

Something like `kfctl enable/disable <components>` can

[2020-12-21 05:44] nanduri1998 commented on #470
/assign

[2020-12-21 15:25] shantanuVerma7 commented on #406
Add following flags/feature gates in you API Server. In the file /etc/kubernetes/manifests/kube-apiserver.yaml

[code]
It should look something like this
[code]

[2020-12-28 06:27] OnionSmile opened #471 "kfctl apply -V -f kfctl_k8s_istio.v1.2.0.yaml"
ERRO[0005] Error evaluating kustomization manifest for istio-stack: accumulating resources: recursed merging from path '../../.cache/manifests/manifests-1.2.0/stacks/kubernetes/application/istio-1-3-1-stack': may not add resource with an already registered id: apiextensions.k8s.io_v1beta1_CustomResourceDefinition|~X|virtualservices.networking.istio.io  filename="kustomize/kustomize.go:155"
Error:

[2020-12-28 07:05] #471 closed

[2021-01-06 09:57] theNewFlesh opened #472 "Unable to get `kfctl apply` to fully deploy kfctl_k8s_istio.v1.2.0.yaml"
Running Kubeflow via `minikube start --docker`

kfctl_k8s_istio.v1.2.0.yaml is just the file curled from the tutorial.

`kfctl apply -V -f kfctl_k8s_istio.v1.2.0.yaml` gives me errors:

In the admission-webhook-bootstrap-stateful-set-0 pod logs I find this:
[code]

Also pods metacontroller-0 and Istio-telemetry both go into a CrashLoopBackoff death spiral without any logs.

Help please.

---------

[2021-01-06 09:58] theNewFlesh commented on #472
Also found this in metacontroller-0 events:
[code]

[2021-01-07 21:20] moficodes commented on #472
Minikube setup instruction as follows

https://www.kubeflow.org/docs/started/workstation/minikube-linux/#start-minikube

Could you try to start minikube this way?

[2021-01-07 22:10] theNewFlesh commented on #472
Yeah I tried that first, same issue.

[2021-01-07 23:04] theNewFlesh commented on #472
I've rebuilt everything to see if I can reproduce the issue.
Now I get
`Readiness probe failed: HTTP probe failed with statuscode: 503` for Istio-ingressgateway

Logs:
`2021-01-07T23:03:42.107903Z	info	Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 0 successful, 0 rejected; lds updates: 0 successful, 0 rejected`

[2021-01-11 19:41] theNewFlesh commented on #472
A little help please.

[2021-01-12 20:57] theNewFlesh opened #473 "istio-ingressgatewayy authentication failure"
I have followed the instruction for setting up kubeflow on minikube on linux (ubuntu 20.04)
I can directly access the central dashboard but my ingress gateway is not working.
It refuses to connect and logs point to authentication failures.

Here are the logs:
[code]

[2021-01-12 22:46] peteboothroyd commented on #472
I was also just having this issue with pretty much the same set up, and found this which seemed to solve the problem: https://github.com/kubeflow/kubeflow/issues/5447#issuecomment-740718229, specifically I ended up modifying the minikube start command to:

[code]

...and now all of the pods have start successfully.

The kubernetes version was set based upon the [compatibility matrix](https://www.k

[2021-01-13 06:28] #473 closed

[2021-01-14 23:05] #430 closed

[2021-01-15 12:28] mehrdadnd opened #475 "kfctl Development in Windows"
under windows when I want to compile and test the go packages I will face the following error
[code]
is there any workaround for this issue?

[2021-01-21 04:39] marcjimz commented on #140
All of these solutions are very helpful and work, but any recommendations on how to do this in the reverse? Meaning once we have a cookie generated, is there anyway to validate that it is a valid cookie? For multi-user I am able to do this for a specific user but not a blanket user.

[2021-01-21 04:40] marcjimz commented on #140
+1 for all the helpful solutions to auth, thank you.

Any recommendations on how to do this in the reverse? Meaning once we have a cookie generated, is there anyway to validate that it is a valid cookie? For multi-user KfP I am able to verify this **but only for a specific user or namespace**, and am looking for a way to verify a cookie.

[2021-01-22 23:41] matty1979 opened #478 "Istio-telemetry pod fails to come on line following minikube instructions"
[code]

istio-proxy finally came online about 23 minutes after starting off the build.
Using the exact directions from [](https://www.kubeflow.org/docs/started/workstation/minikube-linux/)

I've tried restarting the pod

[2021-01-25 20:53] matty1979 opened #480 "Install Error Occurs when Trying to run with default settings"
[code]

[2021-01-25 22:20] #480 closed

[2021-01-26 12:06] Hmr-ramzi opened #481 "Kubeflow operator deleted profiles (along with their corresponding namespaces) on redeployment of kfdef"
In order to debug some operations it was necessary to redeploy the kfdef ([kfdef](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.v1.2.0.yaml)). The general process we followed is to delete the kfdef so that the operator detects a deletion of the kfdef and then delete all kubelow resources on the cluster. Apply some changes in the kfdef and then deploy it again by creating

[2021-01-29 17:12] kim-sardine commented on #406
@shantanuVerma7  You saved me.

`wsl2 ubuntu + docker desktop + kfctl_istio_dex v1.2.0` works perfectly with below changes

[code]

[2021-02-02 11:28] nanduri1998 opened #484 "kfctl delete fails due to cluster context mismatch"
When I run `kfctl delete -f istio_dex.yaml`, I get an error of kfctl delete failed, cluster-context does not match kuberentes context. However when I add the `--force-deletion` flag to the command, it throws a warning but continues to uninstall provided I delete the existing generated kustomize folder. Can anyone help me with this matter

[2021-02-04 17:56] moficodes commented on #475
Its a known issue for the logrus package,

https://github.com/sirupsen/logrus#case-sensitivity

I will see if I can reproduce on a windows machine. Although we do not build kfctl for windows at this point.

[2021-02-05 14:04] AbelThorne opened #485 "kfctl_v1.2.0-0-gbc038f9_darwin.tar.gz unpack into binary version "v1.0.1-0-gf3edb9b""
Trying to install kubeflow 1.2 (and being stuck with errors), I realized that "kfctl version" gives "v1.0.1-0-gf3edb9b".
I downloaded the darwin tar.gz avaible at this URL: https://github.com/kubeflow/kfctl/releases/download/v1.2.0/kfctl_v1.2.0-0-gbc038f9_darwin.tar.gz

Since there is a 1.2 tag for kfctl I suspect this is not an expected...

[2021-02-05 22:36] moficodes commented on #485
I would look into your path setup.

I just download the binary and I am getting the right version.

Could you check with

[code]

And see if you are using the new kfctl you downloaded in your path?

[2021-02-05 22:38] moficodes commented on #484
when kubeflow is installed the cluster-context is injected to the kfdef file.

If you try to delete from a cluster with a different name / user / namespace the context might be a mismatch. in this case `--force-deletion` is used.

[2021-02-06 09:07] AbelThorne commented on #485
You're absolutely right! 🤦
Completely forgot I installed it somewhere else... Sorry about that, closing the issue.

[2021-02-06 09:07] #485 closed

[2021-02-10 19:44] mehrdadnd commented on #475
the problem of [logrus](https://github.com/sirupsen/logrus#case-sensitivity) problem with WSL has been solved.

but still not sure if I can use kfctl under WSL. I will test it and reported here.

[2021-02-13 17:13] prashant2402 commented on #140
Thanks @maurogonzalez  for saving my day. this worked perfectly with my local kubeflow + dex in wsl2
converted into a nice little function to extract SESSION in my curl calls:
If your endpoint is not localhost:8080 you can call the function with host and port args.
`
dex_session () {
        if [ $# -eq 0 ]; then HOST="localhost"; PORT="8080"; else HOST="$1"; PORT="$2";fi
        STATE=$(curl -s h

[2021-02-24 10:59] arun-vc commented on #468
This would be very useful since some component overlays need to be private

[2021-02-26 17:38] theathibm commented on #406
@kim-sardine @shantanuVerma7 I need to thank you guys as well.   I just installed 1.2 kf on Mac Docker-Desktop Kubernets:

In case anyone tries to install kf 1.2 on docker-desktop  2.4.0 with kubernets 1.18.8 I did the following:
# Edit kube-apiserver.yaml in docker-desktop
# docker run -it --privileged --pid=host debian nsenter -t 1 -m -u -n -i sh
# vi /var/lib/kubeadm/manifests/kube-apiserver.ya

[2021-02-27 08:59] qinjie545 commented on #406
do as above steps, work properly,  docker-desktop on Mac

[2021-03-01 13:43] sunsingerus opened #487 "Kubeflow-operator unable to create kubeflow"
Trying to install Kubeflow with operator as described in [docs](https://www.kubeflow.org/docs/operator/install-kubeflow/), however met the following issue: operator crashes with the following log:
[code]
Manifest used [kfctl_aws.v1.2.0.yaml](//raw.githubusercontent.com/kubeflow/manifests/master/distributions/kfdef/kfctl_aws.v1.2.0.yaml)
[code]

[2021-03-01 19:19] moficodes commented on #487
seems like a aws config missing.
aws kfdef uses some plugins.

[2021-03-01 20:21] sunsingerus commented on #487
Yes, it does. Operator writes in its log
[code]
But there is no any instructions on how to populate this config inside operator's pod or whatever (or I can not find where to look for them).

Can you, please, elaborate on this?

[2021-03-05 19:51] moficodes commented on #487
dont have a aws account / cluster to test this.

but looking at the code, in aws the get kubeconfig function expects to find a KUBECONFIG flag or the `.kube/config` file to be present. Which is valid when using kfctl from using local machine. But does not work inside the operator.

[2021-03-10 02:45] soleares commented on #468
If you're trying to add a private github repo to your kfdef in order to specify custom versions of some applications this works now in master:

- Build kfdef from master. It needs this PR: https://github.com/kubeflow/kfctl/pull/247
	- Clone repo
	- `make build`
	- `cd bin`
	- `cp kfctl /usr/local/bin/`
- Append an entry to the repos list. This assumes that you use SSH to access your private github

[2021-03-10 18:24] SpontaneousDuck commented on #428
So I am also seeing this issue. I am using the cache folder to customize the notebook images that are available for my user's to select. I was able to force apply to not re-pull the cache by adding the repoCache lines to my config yaml file after running build but before apply.

[2021-03-15 05:23] tyg03485 commented on #433
Is there any solution for this issue?

[2021-03-17 02:48] #398 closed

[2021-03-17 02:49] #461 closed

[2021-03-17 05:31] onetonfoot opened #489 "Support uncompressed folders"
Does the current tool support using folders that aren't compressed?  For example, I'd like to use a local folder without compressing it by putting this in the KfDef

[code]

However, I can only get it to work by first running `tar -cvzf`   and pointing the KfDef to that compressed folder

[2021-03-17 06:59] muthurajr commented on #433
@tyg03485 I don't see config.issuer in https://dexidp.io/docs/connectors/google/. Is this undocumented functionality?

[2021-03-19 04:43] tyg03485 commented on #433
it means
[code]
ref. https://dexidp.io/docs/oidc-certification-setup/

[2021-03-21 06:06] muthurajr commented on #433
@tyg03485 Thanks! I remember fixing the issue the same way but it has to be done through patch after installation as URL has to accessible. saml connector provides explicit override (entityIssuer) just for this issue which is not available in Google connector.

[2021-04-05 16:10] matty1979 opened #491 "Unable to follow instructions to install"
Following the instructions to install on an EKS cluster, using
[aws manifest](https://raw.githubusercontent.com/kubeflow/manifests/master/distributions/kfdef/source/master/kfctl_aws_cognito.yaml)

[code]

Receive the error above when attempting to run.

[2021-04-17 09:05] gecube commented on #472
I was hit by the same issue on different versions of kubernetes (1.18 to 1.20)
The solution was simple - to install cert-manager separately from official manifest:
[code]
and install kubeflow components one-by-one.

Also I checked that the keys --service-account-api-audiences, --service-account-signing-key-file, --service-account-issuer were added to API server, but it is typical setup of many dis

[2021-04-17 09:33] gecube commented on #231
The same issue https://github.com/kubeflow/manifests/issues/1850
I wasn't able to install kubeflow directly in air-gapped environment, because `--set-image-name` doesn't work correctly. I faced three types of issue:

1. It doesn't handle image names written in configmaps and other custom resources
2. When it creates kustomize manifests, they usually work as intended, but I found several images tha

[2021-04-17 09:40] gecube commented on #491
Hi!

Did you try the next instructions: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ ?

[2021-04-20 17:59] jmdinis opened #492 "Unable to install with kfctl_k8s_istio V1.2 - tls: server chose an unconfigured cipher suite"
I am trying to install kubeflow on a three-node kubernetes cluster that I have running on premise behind a proxy. I have a vanila kubernetes cluster (version 1.20.4) and following kubeflow install instructions when I apply with kfctl 1.2 it fails with following output:

`kfctl exited with error: failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow

[2021-05-04 10:59] viktoriaas opened #493 "kfctl delete fails with regex error"
Hi,
I want to install kubeflow on Rancher (following https://rancher.com/blog/2020/introduction-to-machine-learning-pipeline) and the kfctl command ended with error. I wanted to delete everything to start over but `kfctl delete -f ${CONFIG_URI}` ends repeatedly with

[code]

What can I do about this?

[2021-05-14 14:00] kbentaleb opened #494 "Many pods stuck on Unable to attach or mount volumes: unmounted volumes=...."
Hello

I'm trying to install kubeflow 1.2 on Kubernetes 1.19 (Ubuntu server 18.09, 1 master,  2 workers), and many pods stuck on ContainerCreating status with the same issue type

![Sélection_138](https://user-images.githubusercontent.com/7852160/118279718-5dc8df80-b4c3-11eb-8f51-d17aeafe315f.png)

Examples of describe command:

1.
![Sélection_139](https://user-images.githubusercontent.com/7852160

[2021-05-19 00:05] moficodes commented on #494
TokenRequest went GA on k8s 1.20

You can check whether you have tokenRequest enabled on your cluster with

[code]

If you get a response you have TokenRequest enabled. If not you will have to enable it. If you own the cluster and are not using it for anything particular, you can just install k8s 1.20 and it should be resolved.

Look here for further docs https://istio.io/latest/docs/ops/best-prac

[2021-05-19 11:29] kbentaleb commented on #494
@moficodes thank your for your reply
I already tried to deploy kubeflow using k8s 1.20 and I had the same problem. any suggestions plaese ?

[2021-06-01 23:29] D1o0g9s commented on #494
Have you tried these suggestions?  [Unable to attach or mount volumes: unmounted volumes=[istio-token]](https://github.com/kubeflow/kfctl/issues/406)

[2021-06-03 21:58] goswamig opened #495 "Will there be 1.3 release of kfctl ?"

[2021-06-09 20:12] knave07 commented on #495
+1

[2021-06-11 00:14] neofarm473 commented on #495
+1

[2021-06-12 13:11] ErikEngerd commented on #495
Is kfctl needed to install kubeflow 1.3 or is the version numbering of kfctl independent of that of kubeflow?

[2021-06-14 09:06] neofarm473 commented on #495
https://www.kubeflow.org/docs/distributions/ibm/deploy/deployment-process/

kubeflow documentation  guide me to install kfctl v1.3.0 release, but the link https://github.com/kubeflow/kfctl/releases/tag/v1.3.0 does not exist

should I install kubeflow without kfctl? or will there be 1.3 release of kfctl soon?

[2021-06-30 09:32] robincher commented on #495
I will love to have this soon to test out Kubeflow 1.3 on Kubernetss 1.2x.

[2021-07-02 15:33] pranaysawant opened #496 "Deploy failed for AWS; KfApp initiliazation failed: (kubeflow.error): Code 500 with message: coordinator Init failed for aws: (kubeflow.error): Code 400 with message: Could not find command aws-iam-authenticator in PATH"
I am following [this](https://www.kubeflow.org/docs/distributions/aws/deploy/install-kubeflow/) documentation to deploy k85 on Ubuntu VMware machine hosted on windows. And trying to install kubeflow in ubuntu machine. I am facing below errors.

My machine details: Ubuntu 18.04.5 LTS
Error:

No name specified in KfDef.Metadata.Name; defaulting to kubeflow-demo-1 based on location of config file: /h

[2021-07-07 14:44] danizavtz commented on #487
@sunsingerus You can populate your `.kube/config` folder using aws-cli, after your cluster creation on aws.

the command is:

`aws eks update-kubeconfig --region <region> --name <cluster-name>`

output will be something like:
`# Added new context arn:aws:eks:region:111122223333:cluster/my-awesome-cluster to /home/user/.kube/config`

After running this command it will populate your .kube/config fol

[2021-07-17 03:52] rc-coderepo commented on #496
@pranaysawant  where is your kubernetes cluster running? I think the configuration you are trying to run will work only one AWS AKS service.

If your kubernetes is running  on VMWare installed on top of Windows, you need to follow the instructions from here -- [](https://v1-2-branch.kubeflow.org/docs/distributions/kfctl/deployment/) for v1.2
and[]( https://github.com/kubeflow/manifests/tree/v1.3.0

[2021-07-25 14:24] CameliaBenLaamari opened #499 "'kfctl' is not recognized as an internal or external command, operable program or batch file"
I'm following the official website [tutorial](https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/) to deploy Kubeflow on Azure.
I followed all the steps and everything worked until I ran into this error:

![image](https://user-images.githubusercontent.com/76062686/126902485-58aab08f-6d4c-4c8c-87ea-b9088c85edd6.png)

Any idea what the problem might be and how to solve this?
I

[2021-09-01 11:20] camilamacedo86 opened #500 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-17 07:34] benjamintanweihao commented on #140
Here's something that I came up with:

[code]

[2021-10-07 13:51] camilamacedo86 commented on #500
Hi, would we have any update on this?

See that we are very close to the release data and fix the projects seems not very hard. See how to fix it in the first comment. Then, would be great to be able to check a new version of your project distributed which is compatible with 4.9.

[2021-10-08 07:21] chelomontilla commented on #487
I'm having the same issue. Is there any progrees on this ?

[2021-11-11 07:10] LiuZhiYuan123456 commented on #140
如何通过java进行dex认证，访问kubeflow集群呢？

[2021-11-11 07:14] benjamintanweihao commented on #140
You can translate the Python code and do it in Java too. There's nothing
specific to Python in the code. :)

On Thu, Nov 11, 2021 at 3:11 PM LiuZhiYuan123456 ***@***.***>
wrote:

[2021-11-12 02:04] LiuZhiYuan123456 commented on #140
Thank you for help @benjamintanweihao I have idea

[2021-12-17 01:59] IgorZan commented on #495
Any new update for this? kubeflow 1.3 and 1.4 don't have corresponding kfctl.

[2022-01-13 20:39] speaknowpotato opened #501 "is kfctl dead?"
it seems that kfctl is dead,
1. kfctl channel in Kubeflow slack has been archived.
2. no more active commits since Mar 2021.

shall we go to https://github.com/kubeflow/manifests to install kubeflow instead?
is there any official announcement from the Kubeflow community?
Does anyone have thoughts?

[2022-01-13 22:07] jbottum commented on #501
@speaknowpotato thanks for your question.   As far as I know, no one in the Community is developing or supporting kfctl.   Some systems and users still use it but there isn't any support.

The manifest docs do say...."Starting from Kubeflow 1.3, all components should be deployable using kustomize only."   but maybe we need to be more explicit about kfctl and update the kfctl repo.

We discussed th

[2022-01-13 23:57] speaknowpotato commented on #501
@jbottum thanks for your quick response.
yeah, that's my concern,
it's a little bit confusing for me at first, maybe other people who are new to Kubeflow as well,
cause there isn't any update on this repo talking about that kfctl is dead.

[2022-01-14 05:51] shaikmanu797 commented on #140
This worked for me for authentication with static user credentials on DEX

[code]

[2022-01-14 06:15] shaikmanu797 commented on #140
This worked for me for authentication with static user credentials on DEX

[code]

[2022-03-30 20:23] ammubharatram commented on #140
Hello all, I am trying this on-prem on Docker image. The localhost://8080 works separately but I can't access connection:

Tried:`
[code]
Error:

NewConnectionError: <urllib3.connection.HTTPConnection object at 0x7f4104615df0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution

followed by

MaxRetryError: HTTPConnectionPool(host='pipelines-api.kubeflow.svc.clust

[2022-05-24 06:56] oonisim opened #502 "kubeflow pipeline execution causes Invalid input error: Job has no experiment"
# Problem

[code]

# Reproduction

Open the kubeflow pipeline default sample and run.
![image](https://user-images.githubusercontent.com/15814603/169967630-1e13a491-2988-4c18-823c-0cda5136391c.png)

[2022-05-24 07:07] #502 closed, assigned to nobody

[2022-05-24 07:07] oonisim commented on #502
Not kfctl issue.

[2022-07-08 08:06] e-compagno commented on #48
Same issue here that started yesterday:

In a test container where `gcloud` has been installed with a service account and workload identity, the command `gcloud auth list` gives:
[code]
Nodes have version `1.16.15-gke.7800`.  It worth mentioning that the system worked perfectly for many months before yesterday.

Is there any update on the resolution?

[2022-08-08 06:17] LasalJayawardena commented on #499
@CameliaBenLaamari Were you able to resolve this? I amalso facing this issue. I used WSL as well, but nothing seems to work.

[2022-08-08 08:09] CameliaBenLaamari commented on #499
@LasalJayawardena I didn't solve it, I just used a deployed instance of Kubeflow that runs on a private server (provided by the project owner at the time). Apparently Kubeflow wasn't designed to run on Windows. Not sure why it didn't work on WSL, but you can check this thread for more help: https://github.com/kubeflow/kubeflow/issues/3735

[2022-08-08 08:13] #499 closed, assigned to nobody

[2022-08-08 10:26] LasalJayawardena commented on #499
Thank you @CameliaBenLaamari for the reply!

[2022-09-09 11:48] shalberd commented on #468
@pdmack @Tomcli   I wonder if adding an environment variable SSL_CERT_DIR or SSL_CERT_FILE to the environment that embeds Kubeflow kfctl

@AlexanderEkdahl you seemed to be the one who initiated the fix for considering http and https proxies a while ago, thank you.

https://github.com/opendatahub-io/opendatahub-operator/commit/16eba4a1eb9bcc241e44046b24b46adb97c629dd

Can you tell from your perspec

[2022-10-13 18:41] 64J0 commented on #501
Hello people, so, what I understood is that this project should not be used anymore, right?

The instructions for installation in Azure are not updated then, since it points to this tool.

* https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/